﻿@{
    ViewBag.Title = "ReportView Page";
}

@using Accessibility.ServicesLayer;
@using System.Text;
@using AccessibilityAnalyser.RuleEngine;

@using (Ajax.BeginForm("ReportView", new AjaxOptions { UpdateTargetId = "reportview_col_three_in_one" }))
{
    IEnumerable<ReportingDetails> getLatestBuilds = null;
    List<ReportingDetails> buildDetails = new List<ReportingDetails>();

    if (this.ViewData["GetLatestBuilds"] != null)
    {
        getLatestBuilds = (IEnumerable<ReportingDetails>)this.ViewData["GetLatestBuilds"];
    }

    if (getLatestBuilds != null)
    {
        buildDetails = (from i in
                            (from j in getLatestBuilds
                             orderby j.BuildCreatedDate descending
                             select new
                             {
                                 BuildId = j.BuildId,
                                 BuildName = j.BuildName,
                                 BuildCreatedDate = j.BuildCreatedDate
                             })
                        group i by new { i.BuildId, i.BuildName, i.BuildCreatedDate } into g
                        select new ReportingDetails
                            {
                                BuildId = g.Key.BuildId,
                                BuildName = g.Key.BuildName,
                                BuildCreatedDate = g.Key.BuildCreatedDate
                            }).ToList();
    }

    string allBuilds = (this.ViewData["AllBuilds"] != null) ? this.ViewData["AllBuilds"].ToString() : string.Empty;
    
    string runCountsForAllBuilds = string.Empty;
    //string[] allBuilsArray = allBuilds.Split(',');

    //for (int i = 0; i < allBuilsArray.Length; i++)
    //{
    //    var runCount = (from b in getLatestBuilds
    //                    where b.BuildName.Trim() == allBuilsArray[i].Trim()
    //                    select b).Count();

    //    if (i != allBuilsArray.Length - 1)
    //    {
    //        runCountsForAllBuilds += string.Format("{0},", runCount);
    //    }
    //    else
    //    {
    //        runCountsForAllBuilds += string.Format("{0}", runCount);
    //    }
    //}

    string run1FailPercValues = (this.ViewData["Run1FailPercValues"] != null) ? this.ViewData["Run1FailPercValues"].ToString() : string.Empty;
    string run2FailPercValues = (this.ViewData["Run2FailPercValues"] != null) ? this.ViewData["Run2FailPercValues"].ToString() : string.Empty;
    string run3FailPercValues = (this.ViewData["Run3FailPercValues"] != null) ? this.ViewData["Run3FailPercValues"].ToString() : string.Empty;

    int testCaseFailCount = (this.ViewData["FailCount"] != null) ? Convert.ToInt32(this.ViewData["FailCount"]) : 0;
    int testCaseTotalCount = (this.ViewData["TotalCount"] != null) ? Convert.ToInt32(this.ViewData["TotalCount"]) : 0;
    int testCasePassCount = testCaseTotalCount - testCaseFailCount;

    int testCaseFailPerc = (this.ViewData["FailPerc"] != null) ? Convert.ToInt32(this.ViewData["FailPerc"]) : 0;
    int testCasePassPerc = 100 - testCaseFailPerc;
    string passPercValuesForAllRuns = (this.ViewData["PassPercValuesForAllRuns"] != null) ? this.ViewData["PassPercValuesForAllRuns"].ToString() : string.Empty;

    string failedViolationsForAllRuns = (this.ViewData["FailedViolationsForAllRuns"] != null) ? this.ViewData["FailedViolationsForAllRuns"].ToString() : string.Empty;
    string totalViolationsForAllRuns = (this.ViewData["TotalViolationsForAllRuns"] != null) ? this.ViewData["TotalViolationsForAllRuns"].ToString() : string.Empty;  
    
    string getAllRuns = (this.ViewData["GetAllRuns"] != null) ? this.ViewData["GetAllRuns"].ToString() : string.Empty;
    
    string[] run1Array = (!string.IsNullOrEmpty(run1FailPercValues)) ? run1FailPercValues.Split(',') : null;
    string[] run2Array = run2FailPercValues.Split(',');
    string[] run3Array = run3FailPercValues.Split(',');

    StringBuilder avgOfFailPercValuesForAllRuns = new StringBuilder();

    if (run1Array != null)
    {
        for (int i = 0; i < run1Array.Length; i++)
        {
            int count = 0;

            if (Math.Round(Convert.ToDouble(run1Array[i])) != 0.0)
            {
                count++;
            }

            if (Math.Round(Convert.ToDouble(run2Array[i])) != 0.0)
            {
                count++;
            }

            if (Math.Round(Convert.ToDouble(run3Array[i])) != 0.0)
            {
                count++;
            }


            if (count != 0)
            {
                avgOfFailPercValuesForAllRuns.AppendFormat("{0},", Math.Round((Convert.ToDouble(run1Array[i]) + Convert.ToDouble(run2Array[i]) +
                                                                   Convert.ToDouble(run3Array[i])) / count));
            }
            else
            {
                avgOfFailPercValuesForAllRuns.Append("0,");
            }
        }
    }

    string avgOfAllRuns = (!string.IsNullOrEmpty(avgOfFailPercValuesForAllRuns.ToString())) ?
                            avgOfFailPercValuesForAllRuns.ToString().Substring(0, avgOfFailPercValuesForAllRuns.Length - 1)
                            : string.Empty;
    
 

<script type="text/javascript">

var ticks = [];
var ticks_LineChart = [];
         
var successCallBack = function () {
    }


function createCharts(){
    if ('@allBuilds' != '' && ('@run1FailPercValues' != '' || '@run2FailPercValues' != '' || '@run3FailPercValues' != ''))
    {
        getAllBuild();
        getAllRuns();
        CreatebarChart();
        LineChart();
        CreatePieChart();
    }
}
    var CommFunc = new Utils();
$(document).ready(function () {
        $("#txtclientName").autocomplete({ source: "/Reporting/QuickSearchClient" });
        $("#txtclientName").watermark("Client's Name");
        if('@ViewBag.ClientName' != '')
            $("#txtclientName").val('@ViewBag.ClientName');
        else {
            var strclientName = CommFunc.getUrlQueryString(window.location.href, "clientName");
            if (strclientName != '')
                $("#txtclientName").val(strclientName);
        }
       
           createCharts();
        });

function GetReportView()
{

var target = $("#divreportview");
    $('input[name=hdnClientName]').val($("#txtclientName").val());
    $.ajax({
        url: "/Reporting/_ReportView", type: "POST",
        data:  { clientName: $("#txtclientName").val()},
        success: function (response) {

        // loading graphic
        $("#Loading").dialog("close");

        var markup = $(response);
        markup.appendTo(target);

       // callback(true);
    }
    })

    // loading graphic
    LoadingOpenDialog();

    // remove existing content
    target.children().remove();

//    $("#divreportview").load("/Reporting/_ReportView",
//    { clientName: $("#txtclientName").val()},
//    successCallBack);
}

function getAllBuild(){

   var buildArray = '@allBuilds'.split(",");
   
        for (var i = 0, length = buildArray.length; i < length; i++) { 
                     ticks.push(buildArray[i]); 
            }
}

function getAllRuns(){

   var runArray = '@getAllRuns'.split(",");
   
        for (var i = 0, length = runArray.length; i < length; i++) { 
                     ticks_LineChart.push(runArray[i]); 
            }
}

// Bar chart
    function CreatebarChart() {   
        var seriesCount = 0;
        
        // 1 dimentional Series
        var s1 = new Array();var s2 = new Array();var s3= new Array();  var s4 = new Array();

        // 2 dimentional Series
        var s1_2d =  [];var s2_2d =  [];var s3_2d =  [];var s4_2d =  [];

        // values for all series
        var s_All = [];

        var run1FailPercentageValues = new Array();
        var run2FailPercentageValues = new Array();
        var run3FailPercentageValues = new Array();

        var run1Count = 0;
        var run2Count = 0;
        var run3Count = 0;
        //var runCountForAllBuilds = [@runCountsForAllBuilds];
        run1FailPercentageValues = [@run1FailPercValues];
        run2FailPercentageValues = [@run2FailPercValues];
        run3FailPercentageValues = [@run3FailPercValues];

        // Return runcount based on the run pass percentage values
        for (var i = 0; i < run1FailPercentageValues.length; i++) {
                if (run1FailPercentageValues[i] != '0')
                {
                    run1Count++;
                }
         }

         for (var i = 0; i < run2FailPercentageValues.length; i++) {
                if (run2FailPercentageValues[i] != '0')
                {
                    run2Count++;
                }
         }

          for (var i = 0; i < run3FailPercentageValues.length; i++) {
                if (run3FailPercentageValues[i] != '0')
                {
                    run3Count++;
                }
         }


        if(run1Count > 0){
            s1 = [@run1FailPercValues];
            var j = 1;
            for(var i =0;i< s1.length;i++){
            if(s1[i] != 0){
                s1_2d.push([j,s1[i]]);
                }
                j++;
            }
            seriesCount++; 
        }
        if(run2Count > 0){
            s2 = [@run2FailPercValues];
           var j = 1;
            for(var i =0;i< s2.length;i++){
            if(s2[i] != 0){
                s2_2d.push([j,s2[i]]);
                }
                j++;
            }
            seriesCount++;
        }
        if(run3Count > 0){
            s3 = [@run3FailPercValues];
            var j = 1;
            for(var i =0;i< s3.length;i++){
            if(s3[i] != 0){
                s3_2d.push([j,s3[i]]);
                }
                j++;
            }
            seriesCount++;
            
        }
        if([@avgOfAllRuns].toString() != ""){
            s4 = [@avgOfAllRuns];
            var j = 1;
            
            for(var i =0;i< s4.length;i++){
            if(s4[i] != 0){
                //s4_New[j-1] = [j,s4[i]]; 
//                if (runCountForAllBuilds.length > 1 && runCountForAllBuilds[i] == 1)
//                {
//                    s4_New.push([i + 0.87,s4[i]]);
//                }
//                else if (runCountForAllBuilds.length > 1 && runCountForAllBuilds[i] == 2)
//                {
//                    s4_New.push([i + 1.94,s4[i]]);
//                }
//                else
//                {
                    s4_2d.push([j,s4[i]]);
                //}

                
                //s4_New[j-1] = [s4[i]];
                }
                j++;
            }
            if(seriesCount == 1){
             
             s_All.push(s1_2d);
             s_All.push(s4_2d);
             
             }
             else if(seriesCount == 2){
                   s_All.push(s1_2d);
                   s_All.push(s2_2d);
                   s_All.push(s4_2d);
             }
             else if(seriesCount == 3) {
                 s_All.push(s1_2d);
                 s_All.push(s2_2d);
                 s_All.push(s3_2d);
                 s_All.push(s4_2d);
             }
        }

        var data=[];
        var prop = '';
        var colorCode = ["#90ddf7","#1ebbee","#4c68b1"];
        for(var count=1;count<=seriesCount;count++)
        {
            prop = {
                pointLabels: { show: true },
                color: count <= colorCode.length ? colorCode[count-1] : colorCode[count%colorCode.length], 
                label: 'Run '+ count, 
                renderer: $.jqplot.BarRenderer, fontFamily: 'Segoe UI Semibold', 
                fontSize: '18px'
            }
            data.push(prop);
        }
        data.push({pointLabels: { show: false }, color: '#ea4026', label: 'Mean of Run1, Run2 and Run3'});
        /*data = [{ color: '#90ddf7', label: 'Run 1', renderer: $.jqplot.BarRenderer, fontFamily: 'Segoe UI Semibold', fontSize: '18px'}, 
          { color: '#1ebbee', label: 'Run 2', renderer: $.jqplot.BarRenderer,fontFamily: 'Segoe UI Semibold', fontSize: '18px'},
          //{ color: '#4c68b1', label: 'Run 3', renderer: $.jqplot.BarRenderer, fontFamily: 'Segoe UI Semibold', fontSize: '18px', pointLabels: { show: pointLabel3 }  },
           { pointLabels: { show: true }, color: '#ea4026', label: 'Mean of Run1, Run2 and Run3' }
           ];*/
        
        plot2 = $.jqplot('chart1',s_All,
      { seriesDefaults: {
       //renderer:$.jqplot.BarRenderer,
          rendererOptions: {
              // Speed up the animation a little bit.
              // This is a number of milliseconds.  
              // Default for bar series is 3000.  
              barWidth: 20,
              barPadding: 0,
              highlightMouseOver: false,
              fillToZero: true
          },

          grid: { 
                color: '#e9e9e9'
    }
      },
          title: {text: 'Report view by builds', fontFamily: 'Segoe UI Semibold', fontSize: '18px'},
          series: data,
          legend: { show: true, location: 'en', placement: 'outsideGrid' },
          axes: { xaxis: { 
          //label: '# of builds per client', 
          renderer: $.jqplot.CategoryAxisRenderer, ticks: ticks, 
          tickOptions: { fontFamily: 'Segoe UI', fontSize: '12px'},
                           labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '14px'}},
              yaxis: { label: 'test case fail percentage', labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                  labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '12px'}
              }
          }
      });
        $('#chart1').bind('jqplotDataHighlight',
         function (ev, seriesIndex, pointIndex, data)
         { $('#info2').html('series: ' + seriesIndex + ', point: ' + pointIndex + ', data: ' + data); });
         $('#chart1').bind('jqplotDataUnhighlight', function (ev) { $('#info2').html('Nothing'); });

    }


// Line chart
    function LineChart() {
        //var test = ticks_LineChart;
        //var ticks = ['Build01', 'Build02'];

//        var plot1 = $.jqplot('chart2', [[@passPercValuesForAllRuns]],
//    {   series: [{  pointLabels: { show: true }, color: '#ea4026', label: 'Run X', fontFamily: 'Segoe UI Semibold', fontSize: '18px'  }],
//        legend: { show: false},
//        axes: { xaxis: { label: 'Latest 3 runs per build', renderer: $.jqplot.CategoryAxisRenderer, ticks: ticks_LineChart, 
//        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
//         tickOptions: {  angle: -30, fontFamily: 'Segoe UI Semibold', fontSize: '14px'},
//                           labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '14px'}},
//              yaxis: { label: 'test case fail percentage', labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
//                  labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '14px'}
//              }
//          }
//    }
//     );

//      var plot1 = $.jqplot('chart2', [[@totalViolationsForAllRuns], [@failedViolationsForAllRuns]],
//    {  seriesDefaults: {
//         rendererOptions: {        padding: 100         }
//             
//          },
//    
//     series: [{  pointLabels: { show: true }, color: '#90ddf7', label: 'total violations', fontFamily: 'Segoe UI Semibold', fontSize: '18px'  },
//    {  pointLabels: { show: true }, color: '#1ebbee', label: 'failed violations', fontFamily: 'Segoe UI Semibold', fontSize: '18px'  }
//    ],
//        legend: { show: true, location: 'en', placement: 'outsideGrid'},
//        axes: { xaxis: { 
//        //label: 'latest 3 runs per build', 
//        renderer: $.jqplot.CategoryAxisRenderer, ticks: ticks_LineChart, 
//        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
//         tickOptions: {  angle: -30, fontFamily: 'Segoe UI Semibold', fontSize: '14px'},
//                           labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '14px'}},
//              yaxis: { label: 'total / failed violations', labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
//                  labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '14px'}
//              }
//          }
//    }
//     );


 var s1 = [@totalViolationsForAllRuns]; var s2 = [@failedViolationsForAllRuns];  var s3 = [@failedViolationsForAllRuns];  

        plot2 = $.jqplot('chart2', [s1, s2, s3],
      { seriesDefaults: {
       //renderer:$.jqplot.BarRenderer,
          rendererOptions: {
              // Speed up the animation a little bit.
              // This is a number of milliseconds.  
              // Default for bar series is 3000.  
              barWidth: 20,
              barPadding: 0,
              highlightMouseOver: false,
              fillToZero: true
          },

          grid: { 
                color: '#e9e9e9'
    },

          pointLabels: { show: true }
      },
          title: {text: 'Report view by runs', fontFamily: 'Segoe UI Semibold', fontSize: '18px'},
          series: [{ color: '#90ddf7', label: 'Total violations', renderer: $.jqplot.BarRenderer, fontFamily: 'Segoe UI Semibold', fontSize: '18px' }, 
          { color: '#1ebbee', label: 'accepted violations', renderer: $.jqplot.BarRenderer,fontFamily: 'Segoe UI Semibold', fontSize: '18px' },
            { pointLabels: { show: false }, color: '#ea4026', label: 'accepted violations trend' }
           ],
          legend: { show: true, location: 'e', placement: 'outsideGrid' },
          axes: { xaxis: { renderer: $.jqplot.CategoryAxisRenderer, ticks: ticks_LineChart, 
          tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
          tickOptions: {  angle: -45, fontFamily: 'Segoe UI', fontSize: '12px'},
                           labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '14px'}},
              yaxis: { label: 'total / accepted violations', labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                  labelOptions: { fontFamily: 'Segoe UI Semibold', fontSize: '12px'}
              }
          }
      });
        $('#chart1').bind('jqplotDataHighlight',
         function (ev, seriesIndex, pointIndex, data)
         { $('#info2').html('series: ' + seriesIndex + ', point: ' + pointIndex + ', data: ' + data); });
         $('#chart1').bind('jqplotDataUnhighlight', function (ev) { $('#info2').html('Nothing'); });

 
     //failedViolationsForAllRuns,totalViolationsForAllRuns
};


//    Pie chart
function CreatePieChart(){  var s1 = [['Pass percentage',@testCasePassPerc], ['Fail Percentage',@testCaseFailPerc]];  
 var plot3 = $.jqplot('chart3', [s1], {    seriesDefaults: {     
  // make this a donut chart.    
    renderer:$.jqplot.DonutRenderer,      rendererOptions:{       
     // Donut's can be cut into slices like pies.      
       sliceMargin: 1,      
         // Pies and donuts can start at any arbitrary angle.   
              startAngle: -90,       
               showDataLabels: true,   
               highlightMouseOver: false,   
                 // By default, data labels show the percentage of the donut/pie.     
               // You can show the data 'value' or data 'label' instead.      
        dataLabels: 'value'      }    },
        seriesColors: ['#90ddf7', '#1ebbee'],
         legend: {  show: true, location: 'e', placement: 'insideGrid' }
          });};


 function ShowBuilds(buildId) {
        if ($("#buildDetails" + buildId + "div").is(':visible')) {
            $("#buildDetails" + buildId + "div").slideUp();
            $("#buildDetails" + buildId + "div").addClass('reportview_col_four_dt_li');
            //$("#BuildId" + buildId + "div").css('background-color', ruleDetailsColor);
        }
        else {
            $("#buildDetails" + buildId + "div").slideDown();
            $("#buildDetails" + buildId + "div").addClass('reportview_col_four_dt_li');
            //$("#BuildId" + buildId + "div").css('background-color', ruleDetailsColor);
        }
    }

    function GetReportOnEnter(event){
    if (event.which == 13 || event.keyCode == 13)  
    {
        GetReportView();
    }

    }

</script>

    
    
<div id="divreportview" class="reportview_col_two">

    <div class="reportview_col_two">

    @if (!string.IsNullOrEmpty(allBuilds) && (!string.IsNullOrEmpty(run1FailPercValues) || !string.IsNullOrEmpty(run2FailPercValues) || !string.IsNullOrEmpty(run3FailPercValues)))
    {
        <div class="reportview_col_two_rowone"><div id="chart1" style="height:231px;margin-left:10px;"></div></div>
        <div class="reportview_col_two_rowtwo"><div id="chart2"style="height:230px;margin-left:10px;"></div> 
        </div>
        <!--<div class="reportview_col_two_rowtwo"><div id="chart3" style="width:450px;height:231px;"></div></div>-->
    }
    else
    {
        if (string.IsNullOrEmpty(ViewBag.ClientName))
        {
           <div class="NoDataLabel">
            Please select the client
            </div>
        }
        else
        {
            <div class="NoDataLabel">
            No violations found for the selected client
            </div>
        }
    }

    </div>
    <div id="reportview_col_three_four_merge">
    <div class="reportview_col_three">
     @if (!string.IsNullOrEmpty(allBuilds) && (!string.IsNullOrEmpty(run1FailPercValues) || !string.IsNullOrEmpty(run2FailPercValues) || !string.IsNullOrEmpty(run3FailPercValues)))
     {
         
         <div class="reportview_col_three">
                                <div class="reportview_col_three_row1_L_widget">
                <div class="reportview_col_three_widget_txt_big1">@testCasePassPerc%</div>
            <div class="reportview_col_three_row1_L_widget_arrow "></div>
            
            <div class="reportview_col_three_text_box_text1">Test case pass percent</div>
        </div>
        <div class="reportview_col_three_row1_R_widget">
                <div class="reportview_col_three_widget_txt_big1">@testCaseFailPerc%</div>
            <div class="reportview_col_three_row1_R_widget_arrow "></div>
            
            <div class="reportview_col_three_text_box_text1">Test case fail percent</div>
        </div>
        <div class="reportview_col_three_row2_L_widget">
                <div class="reportview_col_three_widget_txt_big2">@testCasePassCount</div>
            <div class="reportview_col_three_text_box_text2">Test case pass count</div>
        </div>
        <div class="reportview_col_three_row2_R_widget">
                <div class="reportview_col_three_widget_txt_big2">@testCaseFailCount</div>
            <div class="reportview_col_three_text_box_text2">Test case fail count</div>
        </div>
      
      <div class="reportview_col_three_row3_widget">
      <div id="chart3" style="height: 186px;width:330px ;margin:-10px;" ></div>
      </div>
  </div>

         
                                @*<div class="reportview_col_three_row1_L_widget"><a href=""><img src="../../images/placeholder_image_3.jpg" /></a></div>
        <div class="reportview_col_three_row1_R_widget"><a href=""><img src="../../images/placeholder_image_4.jpg" /></a></div>
        <div class="reportview_col_three_row2_L_widget"><a href=""><img src="../../images/placeholder_image_5.jpg" /></a></div>
        <div class="reportview_col_three_row2_R_widget"><a href=""><img src="../../images/placeholder_image_6.jpg" /></a></div>
      <div class="reportview_col_three_row3_widget"><a href=""><img src="../../images/placeholder_image_7.jpg" /></a></div>*@
     }
  </div>
  <div class="reportview_col_four">
  <div id="divClientName">
                <div><a href="#" class="reportview_col_four_arrow"></a></div>
    <div class="reportview_textBox_image_box">
                    <input type="text" id="txtclientName" class="reportview_textBox1" onkeypress="GetReportOnEnter(event);"/>
        <div class="reportview_col_four_icon1" onclick="GetReportView();"></div>
    </div>
  </div>

  <div class="reportview_col_four_dt1">
  @if (!string.IsNullOrEmpty(allBuilds) && (!string.IsNullOrEmpty(run1FailPercValues) || !string.IsNullOrEmpty(run2FailPercValues) || !string.IsNullOrEmpty(run3FailPercValues)))
  {
      foreach (var buildItem in buildDetails)
      {
          String.Format("{0} - {1:MMMM d, yyyy}", buildItem.BuildName, buildItem.BuildCreatedDate);

          var latestRuns = (from i in getLatestBuilds
                            where i.BuildId == buildItem.BuildId
                            orderby i.RunCreatedDate descending
                            select new
                            {
                                RunName = i.RunName,
                                RunCreatedDate = i.RunCreatedDate
                            }).ToList();

           <div id = "@("BuildId" + @buildItem.BuildId + "div")">
                        <a href="javascript:void(0);" onclick="javascript:ShowBuilds('@buildItem.BuildId');"> 
                        @buildItem.BuildName (Id - @buildItem.BuildId)
                        </a>
                       </div>                     
               
                
                    <div id = "@("buildDetails" + @buildItem.BuildId + "div")" class="reportview_col_four_dt_li">
                    <ul class="nostyle">
                        @foreach (var runItem in latestRuns)
                        {
                            <li>
                            @String.Format("{0} - {1:MMMM d, yyyy}", runItem.RunName, runItem.RunCreatedDate)                                         
                            </li>
                        }                    
                        </ul>   
                    </div>
      }
  }
   </div>
  </div>
  </div>
  </div>
}
