﻿@using System.Text;

@{
    ViewBag.Title = "Reportview Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/CommonFunctions.js"></script>
<script type="text/javascript">

    function PrintReport(printpage) {
        window.print();
    }

    var count = 0;
    $(document).ready(function () {
        $('#TestingPageLink').click(function () {
            window.location.href = "/Testing/Index?clientName=" + $('input[name=hdnClientName]').val();
        });

        $('#ExecutionPageLink').click(function (event) {
            window.location.href = $(this).attr('href') + "?clientName=" + $('input[name=hdnClientName]').val();
            return false;
        });

        $(".reportview_trigger").click(function () {
            $(".divpanel").toggle("slow");
            $(this).toggleClass("active");
            if (count == 0) {
                $("#divLogo").removeClass('logo');
                $("#divLogo").addClass('logo_Expand');
                $("#HarnessSec").removeClass('Parent_Report');
                $("#HarnessSec").addClass('Parent_Report_Expand');
                count++;
            }
            else if (count != 0) {
                $("#divLogo").removeClass('logo_Expand');
                $("#divLogo").addClass('logo');
                $("#HarnessSec").removeClass('Testing_Parent_Report_Expand');
                $("#HarnessSec").addClass('Testing_Parent_Report');
                count = 0;
            }
            return false;
        });
    });


    function LoadingOpenDialog() {
        $("#Loading").dialog({
            width: 250,
            height: 200,
            autoOpen: true,
            //show: "blind",
            hide: { effect: "drop", direction: "down" },
            modal: true
        });
    };
</script>

<!DOCTYPE html>
<html>
<head>
<title>Report View</title>

    <script type="text/javascript" src="~/jqplot/jquery.min.js"></script>
    <script type="text/javascript" src="~/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.donutRenderer.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="~/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/jqplot/jquery.jqplot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
   <!--<script language="javascript" type="text/javascript" src="~/Scripts/jquery-1.5.1.min.js"></script>-->
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery.watermark.min.js"></script>

</head>

<body>

    
<aside>
	<div class="reportview_sliderexbg" id="trigger">
    <a href="@Request.UrlReferrer">
    	<div class="reportview_trigger"></div>
        </a>
    </div>
    <div class="divpanel" style="display: none;">
            <a href="..\Rules\Index">
                <div class="rulelinkwraper">
                    <div class="rulelinktextwraper">
                        Rules <span class="rulesicon"></span>
                    </div>
                </div>
            </a><a href="..\NewClient\Index">
                <div class="newclientlinkwraper">
                    <div class="newclientlinktextwraper">
                        Client <span class="newclienticon"></span>
                    </div>
                </div>
            </a><a id="ExecutionPageLink" href="..\Execution\Index">
                <div class="executionlinkwraper">
                    <div class="executionlinktextwraper">
                        Execution <span class="executionicon"></span>
                    </div>
                </div>
            </a><a id="TestingPageLink">
                <div class="testinglinkwraper">
                    <div class="testinglinktextwraper">
                        Testing <span class="testingicon"></span>
                    </div>
                </div>
            </a><a href="">
                <div class="reportinglinkwraper">
                    <div class="reportinglinktextwraper">
                        Reporting <span class="reporticon"></span>
                    </div>
                </div>
            </a>
        </div>
</aside>
<section>
  
  <div id="HarnessSec" class="Testing_Parent_Report"> 
    <input id ="hdnClientName" name="hdnClientName" type="hidden" />
      <div id="Loading" class="modalDialog" title="Loading Please wait..." style="vertical-align:middle; display:none;">
                <center>
                <img src="~/Images/Loading.gif"/>
                </center>
       </div>

      <div id="reportview_col_three_in_one">
        @this.Html.Partial("~/Views/Reporting/_ReportView.cshtml", null)
      </div>
  </div>
</section>
</body>
</html>

