﻿@using AccessibilityAnalyser.BusinessEntities;
@using Accessibility.ServicesLayer;
 @{
     ViewBag.Title = "Rules Page";
     IEnumerable<StandardBO> rulestandards = (IEnumerable<StandardBO>)this.ViewData["RuleStandard"];
 }

<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<script src="~/Scripts/jquery_1.8.js"></script>
<script src="~/Scripts/modernizr.custom.67231.js"></script>
<script type="text/javascript">
    var count = 0;
    $(document).ready(function () {
        $(".rules_trigger").click(function () {
            $(".divpanel").toggle("slow");
            $(this).toggleClass("active");
            if (count == 0) {
                $("#divLogo").removeClass('logo');
                $("#divLogo").addClass('logo_Expand');
                $("#HarnessSec").removeClass('Parent_Rule');
                $("#HarnessSec").addClass('Parent_Rule_Expand');
                count++;
            }
            else if (count != 0) {
                $("#divLogo").removeClass('logo_Expand')
                $("#divLogo").addClass('logo');
                $("#HarnessSec").removeClass('Parent_Rule_Expand');
                $("#HarnessSec").addClass('Parent_Rule');
                count = 0;
            }
            return false;
        });
    });


    function successCallBack() {

    }
    function GetAllRuleDetails() {
        var selected = new Array();

        $('#RuleGroupTable td').ready(function () {
            var chkArray = [];
            /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
            $(".chk:checked").each(function () {
                chkArray.push($(this).val());
            });

            /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */
            if (selected.length > 1) {
                selected = chkArray.join(',') + ",";
            } else {
                selected = chkArray.toString();
            }
            $("#divRuleListTreeView").load("/Rules/_RuleListTreeView",
             { array: selected },
             successCallBack);
        });
    }
</script>
<aside>
	<div class="rules_sliderexbg" id="trigger">
    <a href="@Request.UrlReferrer">
    	<div class="rules_trigger"></div>
     </a>
    </div>
 <div class="divpanel" style="display: none;">
            <a href="..\Rules\Index">
                <div class="rulelinkwraper">
                    <div class="rulelinktextwraper">
                        Rules <span class="rulesicon"></span>
                    </div>
                </div>
            </a><a href="..\NewClient\Index">
                <div class="newclientlinkwraper">
                    <div class="newclientlinktextwraper">
                        Client <span class="newclienticon"></span>
                    </div>
                </div>
            </a><a href="..\Execution\Index">
                <div class="executionlinkwraper">
                    <div class="executionlinktextwraper">
                        Execution <span class="executionicon"></span>
                    </div>
                </div>
            </a><a href="..\Testing\Index">
                <div class="testinglinkwraper">
                    <div class="testinglinktextwraper">
                        Testing <span class="testingicon"></span>
                    </div>
                </div>
            </a><a href="..\Reporting\Index">
                <div class="reportinglinkwraper">
                    <div class="reportinglinktextwraper">
                        Reporting <span class="reporticon"></span>
                    </div>
                </div>
            </a>
        </div>
</aside>
<section>
	<!--Text & Date start here -->
  <!--Column 2+3 merged start  here -->
  <div id="HarnessSec" class="Testing_Parent_Rule"> 
<div class="rules_col_left_ctr_marginL">

    	<div class="rules_col_left_ctr_stretch">
    	  <div class="rules_col_left_ctr_marginR">
            <div class="rules_col_left_hd">
            	<span class="rules_col_left_hd_txt">Rules</span>
                <div class="rules_col_left_add_new_rule"></div>
            </div>        
                <div id="divRuleListTreeView" >
               @{ this.Html.RenderPartial("~/Views/Rules/_RuleListTreeView.cshtml", null); }
                </div>                        
        	<div class="rules_col_left_ctr_btns">
            <span class="rules_col_left_pre_icon"></span>
            <span class="rules_col_left_nxt_icon"></span>
            </div>
            </div>
    </div>
	<!--Text & Date start here -->
  <!--Column 2+3 merged start  here -->
<div class="rules_col_left_ctr_marginL">
        <div class="rules_col_right_ctr">
        <div class="rules_col_right_padd">
            <div class="rules_col_right_hd">
                <span class="rules_col_right_hd_txt">Standards</span>
            </div>
            <div class="rules_col_right_container">
            	<div class="rules_col_right_icon_bg">
                	<div class="rules_col_right_grp_icon_favt"></div>
                    <div class="rules_col_right_grp_icon_edit"></div>
                    <div class="rules_col_right_grp_icon_del"></div>
                    <div class="rules_col_right_grp_icon_add"></div>
                </div>
                <div class="rules_col_right_ctr_li">
                <table id="RuleGroupTable">
                 <tr>
                <td>
                    <div class="checkbox_padd">                  
                     <input type="checkbox"  id="CheckAll" checked="checked"/>
                     <span class="rules_checkbox_padd">All</span>                                          
                 </div>
                 </td>
                 </tr>
                    @foreach (var item in rulestandards)
                    {    
                 <tr>
                <td>                                      
                   <input type="checkbox" class="chk" value="@item.StandardId" checked="checked" onclick="GetAllRuleDetails();"/>                     
                   <span class="rules_checkbox_padd">
                   @item.StandardTitle</span>
                   </td>
                   </tr>                      
                    }
                     </table>  
                    </div>                              
                </div>

                </div>
                @*    <a class="rules_edit_button" href="#">Edit</a>
                    <a class="rules_save_button" href="#">Save</a>
                    <a class="rules_cancel_button" href="#">Cancel</a>*@

                        <a class="rules_edit_button">Edit</a>
                    <a class="rules_save_button" >Save</a>
                    <a class="rules_cancel_button" >Cancel</a>
                </div>
                </div>
                </div>
        </div>
   </section>

   <script type="text/javascript">

       $('#CheckAll').click(function () {
           var selected = new Array();
           var chk = $(this).is(':checked');
           var cnt = $('input[type=checkbox]', "#RuleGroupTable").length;
           $('input[type=checkbox]', "#RuleGroupTable").each(function () {
               if (chk) {
                   $(this).attr('checked', 'checked');
               }
               else {
                   $(this).removeAttr('checked');
               }
           });

           var chkArray = [];
           $(".chk:checked").each(function () {
               chkArray.push($(this).val());
           });
           if (selected.length > 1) {
               selected = chkArray.join(',') + ",";
           } else {
               selected = chkArray.toString();
           }
           $("#divRuleListTreeView").load("/Rules/_RuleListTreeView",
             { array: selected },
             successCallBack);
       });
</script>