@charset "utf-8";

/* CSS Document */

/* Reset CSS */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
	font-family: "Segoe UI Light";
    line-height:1;
	padding-right: 38px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}	
.auto_div{width:auto;}
.clear{clear:both;}	
.floatL{float:left;}

@font-face {
        font-family: segoeuil;
        src: url('../fonts/segoeuil.ttf');
        font-family: segoeui;
        src: url('../fonts/segoeui.ttf');
        font-family: segoeuii;
        src: url('../fonts/segoeuii.ttf');
        font-family: seguisb;
        src: url('../fonts/seguisb.ttf');
        font-family: segoeuib;
        src: url('../fonts/segoeuib.ttf');
        font-family: segoeuiz;
        src: url('../fonts/segoeuiz.ttf');

}



/* coding by geeta */
index_aside { float:left; background: #FF0000; position: relative; top: -54px; }
#index_toplinks { color: #231f20; float: right; font-size: 14px; padding-top: 4px; text-align: right; top: 0; margin: 30px 35px 0px 0px; width:auto; width: auto;}
#index_toplinks a{color:#231F20;}
.Lone{font-family:"Segoe UI";color:#231f20;}
#index_toplinks a.Ltwo{font-family:"Segoe UI";color:#4c68b1;text-decoration:none;}
.Ltwo a:hover{font-family:"Segoe UI";color:#4c68b1; text-decoration:none;}
.index_top_icon2{margin:14px 10px 0 10px; float:left;vertical-align:baseline;}
.index_top_icon3{margin:10px 10px 0 10px; float:left;vertical-align:baseline;}
#index_icon_link_text{width: 250px; float:left; text-align:left;margin:25px 10px 0 0;}
.logo{margin:0px;float:left;width:194px; margin:30px 0 0 80px;}
/*.border{background-color:#a6b4d8; margin:0; height:1px; float:left; width:100%;}*/
.index_sliderexbg { float:left; height:618px;min-height:642px; font-size:20px; background:#333333;position:absolute;}
.trigger {margin-top: 35px;white-space: nowrap;left: 5px;width: 50px;background-image:url(../Content/images/mainmenu.png);	background-repeat:no-repeat;cursor:pointer; min-height:100%;}
.active.trigger {position: relative;margin-top: 35px;white-space: nowrap;margin-left: 5px;width: 50px;min-height: 400px;background-image:url(../Content/images/mainmenu.png);background-repeat:no-repeat;}
.index_trigger { position: relative; white-space: nowrap;width: 50px; height: 642px; background-image:url(../images/mainmenu.png); background-repeat:no-repeat; cursor:pointer;}
.active.index_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px; border-left:1px solid #ffffff; height: 642px; background-image:url(../images/mainmenu_close.png); background-repeat:no-repeat; cursor:pointer;margin:0px 0px 0px 200px;padding: 0px 0px 0px 0px;}
.index_mainheadingtext { font-size:40px;position:static; width:100%;}
.index_mainsectionwraper { /*margin-left:95px;*/ margin:30px 0 0 90px; float: left; position:static;}

.index_header_container{float:left;width:100%; border-bottom: 1px solid #a6b4d8;}

/*  New Client widget start here */
.index_new_client_widget { float:left; margin:32px 0px 0px 0px; width:150px; height:150px; opacity:1; cursor:pointer;  /* Legacy browsers */ background: #c71257 url("gradient_bg1.png") repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; /* Internet Explorer */ *background: #c71257;
background: #c71257\0/; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#c712571, endColorstr=#c71257);
/* Recent browsers */
background-image: -webkit-gradient( linear, left bottom, right top, from(#c71257), to(#c71257) ); background-image: -webkit-linear-gradient( left bottom, #c71257, #c71257 ); background-image: -moz-linear-gradient( left bottom, #c71257, #c71257 ); background-image: -o-linear-gradient( left bottom, #c71257, #c71257 ); background-image: linear-gradient( left bottom, #c71257, #c71257 ); }

.index_new_client_widget:hover { opacity:0.7; }
.index_new_client_icon { width:57px; height:50px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-0px 0px; margin-top:38px; background-repeat:no-repeat;}

.index_new_client_box_text { width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:25px 0 0 12px;display: block; text-decoration:none;}

/*  Client 1 widget start here */
.index_client_one_widget { float:left; margin:2px 0px 0px 2px; width:150px; height:150px; margin-top: 32px; margin-left: 10px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #1ebbee repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%;} 

.index_client_one_widget:hover { opacity:0.7; }
.index_client_one_box_text { width:148px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px;display: block; text-decoration:none;word-wrap:break-word; padding:10px; padding-top:114px;}

/*  Reports widget start here */
.index_reports_widget { float:left; margin:2px 0px 0px 2px; width:310px; height:150px; cursor:pointer; margin-top: 32px; margin-left: 10px; opacity:1;  /* Legacy browsers */ background: #028441 repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%;} 

.index_reports_widget:hover { opacity:0.7; }
.index_reports_icon { width:35px; height:43px; margin:70px 0 0 12px; background-image: url(../images/sprite_1.png); background-position:-58px 0px; background-repeat:no-repeat; }
.index_reports_box_text { width:150px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:0px 0 0 12px; display: block; text-decoration:none; float:left;}
.index_reports_box_text_two {text-align:right; font-size:14px; color:#fff; margin:-90px 10px 0 12px; text-decoration:none; float:right; width:200px;font-family: "Segoe UI Semibold";word-wrap:break-word;}
.index_reports_box_text_three {text-align:right; font-size:14px; color:#fff; margin:-70px 10px 0 12px; text-decoration:none; float:right; width:200px;font-family: "Segoe UI Semibold";}
.index_reports_box_text_four {text-align:right; font-size:14px; color:#fff; margin:-50px 10px 0 12px; text-decoration:none; float:right; width:200px;font-family: "Segoe UI Semibold";}
.index_new_client_add_icon{width:20px; height:20px; margin: 7px 15px 0px 0px; background-image: url(../images/sprite_1.png); background-position:-553px 0px; background-repeat:no-repeat; float:right;display:block;}

/*  Messages widget start here */
.index_messages_widget { float:left; margin:32px 0px 0px 10px; width:150px; height:150px;opacity:1; /* Legacy browsers */ background: #FF8200;repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; /* Internet Explorer */ *background: #FF8200;
background: #FF8200\0/; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#FF8200, endColorstr=#FF8200);
/* Recent browsers */
background-image: -webkit-gradient( linear, left bottom, right top, from(#b4009e), to(#c81565) ); background-image: -webkit-linear-gradient( left bottom, #b4009e, #c81565 ); background-image: -moz-linear-gradient( left bottom, #FF8200, #FF8200 ); background-image: -o-linear-gradient( left bottom, #FF8200, #FF8200 ); }

.index_messages_widget:hover { opacity:0.7; }
.index_messages_icon { width:72px; height:46px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-94px 0px; margin-top:38px; background-repeat:no-repeat; }

.index_messages_box_text a { width:150px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:28px 0 0 12px;display: block; text-decoration:none;}
/*  Personalize widget start here */
.index_personalize_widget { float:left; margin:32px 0px 0px 10px; width:150px; height:150px;opacity:1;/* Legacy browsers */ background: #7fbb42;repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; /* Internet Explorer */ *background: #7fbb42;
background: #7fbb42\0/; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#7fbb42, endColorstr=#7fbb42);
/* Recent browsers */
background-image: -webkit-gradient( linear, left bottom, right top, from(#7fbb42), to(#7fbb42) ); background-image: -webkit-linear-gradient( left bottom, #7fbb42, #7fbb42 ); background-image: -moz-linear-gradient( left bottom, #7fbb42, #7fbb42 ); background-image: -o-linear-gradient( left bottom, #df6b3c, #df6b3c ); background-image: linear-gradient( left bottom, #7fbb42, #7fbb42 ); }

.index_personalize_widget:hover { opacity:0.7; }
.index_personalize_icon { width:57px; height:67px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-574px 0px; margin-top:38px; background-repeat:no-repeat; }

.index_personalize_box_text a { width:150px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:8px 0 0 12px;display: block; text-decoration:none;}

/*  Client 2 widget start here */
.index_client_two_widget { clear:both;float:left; margin:10px 0px 0px 0px; width:150px; height:150px;opacity:1; cursor:pointer; /* Legacy browsers */ background: #1ebbee repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%;} 

.index_client_two_widget:hover { opacity:0.7; }
.index_client_two_box_text { width:148px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px;display: block; text-decoration:none;word-wrap:break-word; padding:10px; padding-top:114px;}

/*  Reports widget start here */
.index_reports_widget { float:left; margin:32px 0px 0px 10px; width:310px; height:150px; opacity:1; /* Legacy browsers */ background: #028441 repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%;} 

/*  Archive widget start here */
.index_archive_widget { float:left; margin:10px 0px 0px 10px; width:150px; height:150px; opacity:1; /* Legacy browsers */ background: #ab2990;repeat-y left; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; /* Internet Explorer */ *background: #ab2990;
background: #ab2990\0/; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#ab2990, endColorstr=#ab2990);
/* Recent browsers */
background-image: -webkit-gradient( linear, left bottom, right top, from(#ab2990), to(#ab2990) ); background-image: -webkit-linear-gradient( left bottom, #ab2990, ab2990 ); background-image: -moz-linear-gradient( left bottom, #ab2990, #ab2990 ); background-image: -o-linear-gradient( left bottom, #ab2990, #ab2990 ); background-image: linear-gradient( left bottom, #ab2990, #ab2990 ); }
.index_archive_widget:hover { opacity:0.7; }
.index_archive_icon { width:70px; height:75px;margin-bottom:0px; margin-left:auto; background-image: url(../images/archive-icon.png);  margin-top:33px;margin-right:45px; background-repeat:no-repeat; }
.index_archive_box_text a { width:150px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:8px 0 0 12px;display: block; text-decoration:none;}

/*  Calendar widget start here */
.index_calendar_widget { float:left; margin:10px 0px 0px 10px; width:310px; height:150px; opacity:1; /* Legacy browsers */ background: #FF5300 repeat-y left; } 

.index_calendar_widget:hover { opacity:0.7; }
.index_calendar_box_text a { width:295px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:115px 0 0 12px; display: block; text-decoration:none;}
.index_calendar_box_text_two {text-align:right; font-size:14px; color:#fff; margin:5px 10px 0 12px; text-decoration:none; float:right; width:280px;font-family: "Segoe UI Semibold";}
/*  Rules & Groups widget start here */
.index_rulesgroups_widget { float:left; margin:10px 0px 0px 10px; width:310px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #455da7 repeat-y left; } 

.index_rulesgroups_widget:hover { opacity:0.7; }
.index_rulesgroups_box_text { width:150px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:76px 0 0 12px; display: block; text-decoration:none;}
.index_rulesgroups_box_text_two {text-align:right; font-size:14px; color:#fff; margin:5px 10px 0 12px; text-decoration:none; float:right; width:280px;font-family: "Segoe UI Semibold";}
.index_rulesgroups_icon { width:289px; height:11px; margin:0px auto; background-position:-263px 0px; margin-top:25px; background-repeat:no-repeat;}


/* --------------------------------Coding for Report View page-------------------------------------- */
.reportview_sliderexbg { float:left; height:618px; min-height:642px; font-size:20px; background:#4c68b1;position:absolute;}
.reportview_trigger { position:relative; white-space: nowrap; left: 0px; width: 50px; height: 642px; background-image:url(../images/report_view_slider_menu.png); background-repeat:no-repeat; cursor:pointer;}
.active.reportview_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px;border-left:1px solid #ffffff; height: 642px; background-image:url(../images/report_view_slider_menu_close.png); background-repeat:no-repeat; cursor:pointer;margin:0px 0px 0px 200px;padding: 0px 0px 0px 0px;}
.reportview_text_all{clear:both;font-family:"Segoe UI Semibold""Arial"; font-size:14px;color:#4c68b1; margin: 0px 0px 0px 112px;padding-top:25px;}
.reportview_text_one{font-family:"Segoe UI Semibold""Arial"; font-size:14px;color:#4c68b1; margin: 0; font-weight:bold;}
.reportview_text_two{font-family:"Segoe UI Light""Arial"; font-size:20px; color:#4c68b1; margin: 0;}



/*  Column one-Testing widget start here */
.reportview_col_one{width:310px; margin:5px 0 0 90px; float:left;}
.reportview_col_one_test_widget { float:left; margin:10px 0px 0px 0px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #4c68b1 ; /* Internet Explorer */ *background: #4c68b1;}

.reportview_col_one_test_widget:hover { opacity:0.7; }
.reportview_col_one_test_icon { width:76px; height:71px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-632px 0px; margin-top:30px; background-repeat:no-repeat;}
.reportview_col_one_test_box_text a { width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:5px 0 0 12px;display: block; text-decoration:none;}

/*  Column one-Report widget start here */
.reportview_col_one_rep_widget { float:left; margin:10px 0px 0px 10px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #4c68b1 ; /* Internet Explorer */ *background: #4c68b1;}
.reportview_col_one_rep_widget:hover { opacity:0.7; }
.reportview_col_one_rep_icon { width:55px; height:69px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-709px 0px; margin-top:30px; background-repeat:no-repeat;}
.reportview_col_one_rep_box_text a { width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:5px 0 0 12px;display: block; text-decoration:none;}

/*  Column one-Execution widget start here */
.reportview_col_one_exe_widget { float:left; margin:10px 0px 0px 0px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #4c68b1 ; /* Internet Explorer */ *background: #4c68b1;}
.reportview_col_one_exe_widget:hover { opacity:0.7; }
.reportview_col_one_exe_icon { width:70px; height:83px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-765px 0px; margin-top:20px; background-repeat:no-repeat;}
.reportview_col_one_exe_box_text a { width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:5px 0 0 12px;display: block; text-decoration:none;}

/*  Column one-Graph widget start here */
.reportview_col_one_gra_widget { float:left; margin:10px 0px 0px 10px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #f68b1f ; /* Internet Explorer */ *background: #f68b1f;}
.reportview_col_one_gra_widget:hover { opacity:0.7; }
.reportview_col_one_gra_icon { width:73px; height:65px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-836px 0px; margin-top:38px; background-repeat:no-repeat;}
.reportview_col_one_gra_box_text a { width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:5px 0 0 12px;display: block; text-decoration:none;}

/*  Column one-Exports widget start here */
.reportview_col_one_exp_widget { float:left; margin:10px 0px 0px 0px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #4c68b1 ; /* Internet Explorer */ *background: #4c68b1;}
.reportview_col_one_exp_widget:hover { opacity:0.7; }
.reportview_col_one_exp_icon { width:85px; height:72px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-910px 0px; margin-top:28px; background-repeat:no-repeat;}
.reportview_col_one_exp_box_text a { width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:5px 0 0 12px;display: block; text-decoration:none;}

/*  Column one-Print widget start here */
.reportview_col_one_prn_widget { float:left; margin:10px 0px 0px 10px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #4c68b1 ; /* Internet Explorer */ *background: #4c68b1;}
.reportview_col_one_prn_widget:hover { opacity:0.7; }
.reportview_col_one_prn_icon { width:81px; height:66px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-996px 0px; margin-top:34px; background-repeat:no-repeat;}
.reportview_col_one_prn_box_text a { width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:5px 0 0 12px;display: block; text-decoration:none;}

/*  Column Two - placeholder start here */
.reportview_col_two{width:100%; margin:0px 0px 0px 0px; padding:0px; float:left;overflow:hidden;}
.reportview_col_two_rowone{ margin:15px 531px 10px 0px; background-color:#e9e9e9;}
.reportview_col_two_rowtwo{ margin:10px 531px 0px 0px; background-color:#e9e9e9;}

/*  Column Three start here */
.reportview_col_three{width:310px; margin:5px 20px 0 5px; float:left; padding:0px;}
.reportview_col_three_row1_L_widget {width:150px;height:150px ;float:left;background-color:#8fddf6;}
.reportview_col_three_row1_R_widget {width:150px;height:150px; float:left; margin-left:10px;background-color:#1ebbee;}
.reportview_col_three_row2_L_widget {width:150px; float:left; margin-top:10px;background-color:#e9e9e9;} 
.reportview_col_three_row2_R_widget {width:150px; float:left; margin:10px 0px 0px 10px;background-color:#e9e9e9;}
.reportview_col_three_row3_widget {width:310px; float:left; margin-top:10px;background-color:#fffff;height:150px;}

/* column four start here */
.reportview_col_four{width:176px; float:left;background-color:#4c68b1; height:450px; margin:10px 0px 10px 0px;padding:10px;}
.reportview_col_four_arrow{ width:7px; height:12px; margin:0px ; background-image: url(../images/sprite_miscellaneous.png); background-position:-0px 0px; margin-top:10px; background-repeat:no-repeat; float:right; border:0px;cursor:pointer;}
.reportview_textBox1{padding:0px 10px; margin:10px 0px 0px 0px; width:124px; border:1px solid #d2d9eb; height:37px;float:left;border-right:#ffffff;font-family:"Segoe UI Semibold"; font-size:18px; color:#666666;}
.reportview_col_four_icon1{width:30px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-428px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer; border:1px solid #d2d9eb; border-left:#ffffff;}
.reportview_textBox_image_box{clear:both;float:left;margin-left: 0px;}
.reportview_col_four_dt{font-family: "Segoe UI Semibold" font-size:14px; color:#ffffff; margin:20px 0px 0px 0px; font-weight:bold;clear:both;float:left;}
.reportview_col_four_dt1{font-family: "Segoe UI Semibold" font-size:14px; color:#ffffff; margin:20px 0px 0px 0px; clear:both;float:left;}
.reportview_col_four_dt1 a{font-family: "Segoe UI Semibold" font-size:14px; font-weight:bold; color:#8FDDF6; margin:0px 0px 4px 0px; clear:both;float:left;text-decoration: none;}
.reportview_col_four_dt_li{font-family: "Segoe UI Semibold"; font-size:13px;color:#ffffff; clear:both;float:left;padding: 0px 0px 10px 6px;}
ul.nostyle{list-style-type: none; }
.reportview_col_four_dt1 h5{font-family: "Segoe UI Semibold" "Arial"; color:#ffffff; clear:both;float:left;}
.reportview_col_three_widget_txt_big1 {color: #FFFFFF;display: block;float: left;font-size: 42px;height: 33px;line-height: 30px;margin-bottom: 0;margin-left: 12px;margin-right: 0;   margin-top: 58px;text-align: left; float:left;font-family:"Segoe UI Light";}
.reportview_col_three_widget_txt_big2 {display: block;float: left;font-size: 42px;height: 33px;line-height: 30px;margin-bottom: 0;margin-left: 12px;margin-right: 0;   margin-top: 58px;text-align: left; float:left;font-family:"Segoe UI Light"; color:#4f4c4d;}
.reportview_col_three_row1_L_widget_arrow {width:32px; height:16px;margin-bottom: 0;margin-left: auto;margin-right: 5px;margin-top: 30px; background-image: url(../images/sprite_miscellaneous.png); background-position:-895px 0px; margin-top:64px;background-repeat:no-repeat;float:left;}
.reportview_col_three_text_box_text1 { width:180px; height:33px; text-align:left;font-family:"Segoe UI Semibold""Arial";font-size:14px; color:#fff; line-height: 30px; margin:23px 0 0 12px;display: block; text-decoration:none;clear:both;float:left;}
.reportview_col_three_row1_R_widget_arrow {width:32px; height:16px;margin-bottom: 0;margin-left: auto;margin-right: 5px;margin-top: 30px; background-image: url(../images/sprite_miscellaneous.png); background-position:-926px 0px; margin-top:64px;background-repeat:no-repeat;float:left;}
.reportview_col_three_text_box_text2 { width:140px; height:33px; text-align:left;font-family:"Segoe UI Semibold""Arial";font-size:14px; color:#4f4c4d; line-height: 30px; margin:23px 0 0 12px;display: block; text-decoration:none;clear:both;float:left;font-weight:bold;}
.reportview_col_three_text_box_text3,.reportview_col_three_text_box_text3 a{ width:130px; height:33px; text-align:left;font-family:"Segoe UI Semibold""Arial";font-size:14px; color:#ffffff; line-height: 30px; margin:77px 0 0 12px;display: block; text-decoration:none;clear:both;float:left;font-weight:bold;float:left;}

/* column 3 in 1 & col 3 -4 merge(----for stretchable content of col 2---) start here */

#reportview_col_three_four_merge{float:left;margin:5px 0px 0px -531px;padding:0px;width:531px;}
#reportview_col_three_in_one{margin:0px 0px 0px 437px; padding:0px; margin-left:90px;}

.reportinglinkwraper {height:50px;border-left:10px solid #4c68b1;float:left;width:187px}
.reportinglinkwraper:hover {background-color:#4c68b1;text-decoration: none;width:187px}
.reportinglinktextwraper {color:#fff;text-decoration:none;margin:5px 0px 0px 10px;line-height:41px;}
.reportinglinktextwraper a{color:#fff;text-decoration:none;}

.reporticon {
	background-image:url(../images/nav_sprite_icons_42x42px.png);
	width:34px;
	height:29px;
	background-position:330px -3px;
	float:right;
	margin-right: 53px;
}

.Parent_Report
{
    width:100%; float:left;margin-right:10px;display:block;position:relative;position:static;
}
    
 .Parent_Report_Expand
{
    width:100%;float:left;margin-right:-200px;display:block;position:relative;position:static;
}

/* --------------------------------Coding for Testing page-------------------------------------- */

.testing_col_one_r1{width:409px;margin-bottom:8px;}
.testing_col_one_r1_box1{width:304px; float:left;}

.testing_sliderexbg{ float:left; font-size:20px; background:#019e4a;position:absolute;min-height:642px;}
.sliderpanel{ float:left; height:618px; font-size:20px; background-color:#333333;position:absolute;padding: 0px 0px 0px 0px;}
.sidebar{background-color: #333333;width: 100px;position:relative;padding: 0px 0px 0px 0px;}
.divpanel{ margin-top: -89px; float:left; height:543px; border-top:100px solid #333333;font-family: "Segoe UI";font-size:20px; background-color:#333333;position:relative;padding: 0px 0px 0px 0px;width: 200px;}
.lblMenu{font-family: "Segoe UI";font-size: 20px;color: #ffffff;font-weight:normal; padding-left:3px;}

.testing_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px; height: 618px; background-image:url(../images/testing_slider_menu.png); background-repeat:no-repeat; cursor:pointer;}
.active.testing_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px; border-left:1px solid #ffffff; height: 493px; background-image:url(../images/testing_slider_menu_close.png); background-repeat:no-repeat; cursor:pointer;margin:0px 0px 0px 200px;padding: 0px 0px 150px 0px;}

.testinglinkwraper {height:50px;border-left:10px solid #019e4a;float:left;width:187px; cursor:pointer;}
.testinglinkwraper:hover {background-color:#019e4a;text-decoration: none;width:187px}
.testinglinktextwraper {color:#fff;text-decoration:none;margin:10px 0px 0px 10px;line-height:41px;}
.testinglinktextwraper a{color:#fff;text-decoration:none;}

.testingicon {
	background-image:url(../images/nav_sprite_icons_42x42px.png);
	width:37px;
	height:34px;
	background-position:462px -3px;
	float:right;
	margin-right: 72px;
}

.testing_col_two_r2_options{float:left;margin-left:20px;margin-top:10px;position:relative;}
.testing_col_two_r2_options_txt{font-family:"Segoe UI Light";font-size:12px;margin-top:3px;}

/*  Column one-Testing widget start here */
.testing_col_one{width:250px; margin:5px 0 0 90px;float:left; margin-right:15px;display:block;}
.testing_col_one_1{width:40px;height:490px; margin:15px 0 0 90px;float:left; margin-right:10px;margin-top:65px;background-color:rgb(76, 104, 177);display:none; cursor:pointer;}
.testing_textBox1{padding:0px 10px; margin:10px 0px 10px 0px; width:126px; border:1px solid #d2d9eb; height:37px;float:left;font-family:"Segoe UI Semibold"; font-size:18px; color:#666666;}
.testing_col_one_icon1{width:30px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-428px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer; border:1px solid #d2d9eb; border-left:#ffffff;}
.testing_col_three_icon1{width:30px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-428px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer; border:1px solid #d2d9eb; border-left:#ffffff;position:absolute;margin-left:272px;}

.testing_col_one_icon2{width:40px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-8px 0px; background-repeat:no-repeat; float:left;margin:10px 10px 0 12px;cursor:pointer;}
.testing_col_one_icon3{width:40px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-49px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer;}
.testing_SiteNameClass{display:block;}

.testing_col_two_icon_refresh{width:30px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-842px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer; border:1px solid #d2d9eb; border-left:#ffffff;}
.testing_col_three_icon_search{width:30px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-958px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer; border:1px solid #d2d9eb; border-left:#ffffff;position:absolute;margin-left:220px;}

.testing_col_one_all_rows{border: 1px solid #4c68b1;float:left;width:248px;position:static;}
.testing_col_one_arrow_down{background-image:url(../images/sprite_miscellaneous.png);background-position:-138px 0px;width:16px;height:8px;display:block; float:left; margin:20px 0 0 5px;}
.testing_col_one_r2{clear:both; background-color:#4c68b1;height:46px; margin: 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 5px 0px 20px;text-align:left;}
.testing_col_expand{float:right; cursor:pointer;}
.testing_col_collapse_arrow{float:left; margin: 5px 0px 12px 28px;cursor:pointer;}
.testing_col_expand_arrow{float:right; margin: 2px 0 3px 0px;cursor:pointer; }
.testing_col_expand_note{clear:both;float:right;}
.testing_col_one_r2_txt{float:left; padding-top:13px;}
.testing_col_one_r3{clear:both; background-color:#4c68b1; height:46px; margin: 1px 0px 0px 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 20px 0px 20px;text-align:left;}
.testing_col_one_r3_txt{float:left; padding-top:13px}
.testing_col_one_r3_container{margin:0px; padding:0px;}
.testing_col_one_r3_list{margin:0px;max-height:294px;overflow:auto;}
.testing_col_one_r3_list1{clear:both; background-color:#ffffff; width:367px; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.testing_col_one_r3_list_L_icon_right{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:13px; background-position:-248px 0px;display:block; float:left; margin:0 5px 0 0;}
.testing_col_one_r3_list_L_icon_wrong{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:11px; background-position:-269px 0px;display:block; float:left; margin:0 5px 0 0;}
.testing_col_one_r3_list_L_icon_view{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:12px; background-position:-226px 0px;display:block; float:left; margin:0 5px 0 0;}
.testing_col_one_r3_list_L_icon_excla{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:17px; background-position:-290px 0px;display:block; float:left; margin:0 5px 0 0;}
.testing_col_one_r3_list_R_icon_f_act{background-image:url(../images/sprite_miscellaneous.png);width:14px;height:18px; background-position:-90px 0px;display:block; float:right;}
.testing_col_one_r3_list_txt{float:left;width:147px;color:#4C68B1;font-weight:bold;}
.testing_col_one_r3_list_R_icon_f_dis{background-image:url(../images/sprite_miscellaneous.png);width:14px;height:18px; background-position:-105px 0px;display:block; float:right;}
/*   list 2  Starts here */
.testing_col_one_r3_list2{clear:both; background-color:#e6f7f4; width:367px; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
/*   list 3  Starts here */
.testing_col_one_r3_list3{clear:both; background-color:#ffffff; width:367px; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
/*   list 4  Starts here */
.testing_col_one_r3_list4{clear:both; background-color:#fdfad0; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.testing_col_one_r3_list4_sub_li{clear:both; background-color:#fdfad0; margin:0px; font-family:"Segoe UI"; font-size:12px; color:#333333; padding:0px 20px 15px 30px;text-align:left;line-height: 20px;}
.testing_col_one_r3_list4_sub_li ol {margin-left:15px;}
/*   list 5  Starts here */
.testing_col_one_r3_list5{clear:both; background-color:#ffffff; width:367px; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
/*   list 6  Starts here */
.testing_col_one_r3_list6{clear:both; background-color:#e6f7f4; width:367px; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
/*   list 7  Starts here */
.testing_col_one_r3_list7{clear:both; background-color:#ffffff; width:367px; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}

.testing_col_one_r4{clear:both; background-color:#4c68b1;height:32px; margin: 2px 0px 0px 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:6px 20px 0px 20px;text-align:left;}
.testing_col_one_r4_pre_icon{background-image:url(../images/sprite_miscellaneous.png); background-position:-172px 0px; width:27px;height:27px; float:left;display:block;cursor:pointer;}
.testing_col_one_r4_nxt_icon{background-image:url(../images/sprite_miscellaneous.png); background-position:-198px 0px; width:27px;height:27px;float:right;display:block;cursor:pointer;}
.testing_col_two_r4_nxt_icon{background-image:url(../images/sprite_miscellaneous.png); background-position:-198px 0px; width:27px;height:27px;float:right;display:block;cursor:pointer;margin-top:0px}

/*   Column 2+3 merged start  here */
.testing_col_two_in_one_marginL{ padding:0px;}
.testing_col_two{float:left;}
/*   Column 2- row 2 start  here */
.testing_col_two_r1{margin-right:0px; margin-top:5px;}
.testing_col_one_r1_box2{width:100%;}
.testing_textBox2{padding:0px 10px; margin:10px 0px 10px 0px; width:478px; border:1px solid #d2d9eb; height:37px;border-right: #ffffff; float:left;font-family:"Segoe UI Semibold"; font-size:18px; color:#666666;}
/*   Column 2- row 2 start  here */
.testing_col_two_r2{display:block; clear:both;margin-right:425px; margin-top:8px; border:1px solid #019e4a;height:488px;}
.testing_col_two_r2_hd{clear:both; background-color:#019e4a; height:46px; margin: 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 5px 0px 20px;text-align:left;}
.testing_col_two_r2_hd_icon1,.testing_col_two_r2_hd_icon1 a{background-image:url(../images/sprite_miscellaneous.png);background-position:-312px 0px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;cursor:pointer;}
.testing_col_two_r2_hd_icon1:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-312px -29px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;}
.testing_col_two_r2_hd_icon2,.testing_col_two_r2_hd_icon2 a{background-image:url(../images/sprite_miscellaneous.png);background-position:-341px 0px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;cursor:pointer;}
.testing_col_two_r2_hd_icon2:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-341px -29px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;}
.testing_col_two_r2_hd_icon3,.testing_col_two_r2_hd_icon3{background-image:url(../images/sprite_miscellaneous.png);background-position:-370px 0px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;cursor:pointer;}
.testing_col_two_r2_hd_icon3:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-370px -29px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;}
.testing_col_two_r2_hd_icon4,.testing_col_two_r2_hd_icon4 a{background-image:url(../images/sprite_miscellaneous.png);background-position:-399px 0px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;cursor:pointer;}
.testing_col_two_r2_hd_icon4:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-399px -29px;height:28px;width:28px;float:left;display:block;margin:10px 17px 0 0;}
.testing_col_two_r2_in{background-color:#ffffff;height:221px;clear:both;float:left;}
.testing_col_two_r2_top_links{padding-top:30px; text-align:right;}
.testing_col_two_r2_top_links a.link1{font-family: "Segoe UI SemiBold"; font-size:10px; color:#333333; text-decoration:none;margin-left:5px;}
.testing_col_two_r2_ms_logo{clear:both;float:left;background-image:url(../images/microsoft_store_logo.png);width:119px; height:28px;}
.testing_col_two_r2_ms_logo_url{clear:both;float:left;font-family: "Segoe UI SemiBold"; font-size:12px;margin:15px 0px 15px 0px; }

.testing_textBox3{padding:0px 10px; margin:10px 0px 10px 0px; width:106px; border:1px solid #d2d9eb; height:19px;float:left;font-family: "Segoe UI SemiBold"; font-size:10px; color:#333333;border-right: #ffffff; float:left;}
.testing_col_two_search_icon{width:14px; height:19px; background-image:url(../images/sprite_miscellaneous.png);background-position:-459px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer; border:1px solid #d2d9eb; border-left:#ffffff;}

.testing_col_two_r2_box1{float:right;width:auto;}
.testing_col_two_r2_logo_btns{clear:both;}
.testing_shop_online_btn{width:82px;height:18px;-webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 0px 0px 20px 20px;border-radius: 10px 10px 10px 10px;background-color:#e5e5e5;display:block; float:left; margin:10px 0px 10px 10px;text-align:center;}
.testing_shop_online_btn a.link1{font-family: "Segoe UI SemiBold"; font-size:10px; color:#333333; text-decoration:none; display:block; margin-top:2px;}
.testing_col_two_r2_txt_box_align{float:left;}
/*.testing_col_two_r3_img{clear:both;background-image:url(../images/office.png); width:580px;height:127px;margin-top:50px;}*/
.testing_col_two_r3_image{clear:both;border-top: 1px solid #f8f8f8; padding-top:15px;background-color:#C0E7D2;height:75px;padding-top:45px;color: #019E4A;font-family: segoe ui;font-size: 20px;text-align:center;}
.testing_col_two_r3_image img{max-width:100%; height:auto;}
.testing_col_two_r4{float:left;width:200px;}
.testing_col_two_r5_container{border:1px solid #C0E7D2;}
.testing_col_two_r5_hd{clear:both; background-color:#e6f7f4; height:27px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:10px 10px 0px 10px;text-align:left;}
.testing_frame{width:529px;width:528px\9;height:185px;overflow:auto; font-family:"Segoe UI SemiBold"; font-size:16px;}
.testing_col_two_r3_image1{clear:both;float:left;border-top: 1px solid #f8f8f8;height:185px;color: #019E4A;font-family: segoe ui;font-size: 20px;text-align:center;}
.testing_col_two_r5_li{font-family:"Segoe UI"; font-size:12px; color:#333333;text-align:left;line-height:20px;padding:10px;}
/* .testing_col_two_r5_li_scroller {max-height: 186px;max-height: 193px\9;height: 193px\9;overflow-x:hidden;overflow-y:auto;} */
.testing_col_two_r5_li_scroller {max-height: 186px;max-height: 193px\9;height: 193px\9;overflow-x:hidden;overflow-y:auto;}
.testing_col_two_r5_li_2{font-family:"Segoe UI"; font-size:12px; color:#333333;text-align:left;line-height:20px;padding:10px;border-top:1px solid #E6F7F4;}
.testing_col_three{width:410px;margin:0 0 0 15px;float:left;margin-left:-410px;}/*border:1px solid #df6b3c;*/
.testing_col_three_padd{float:left;position:static;display:block;}
.testing_col_three_padd_1 { width:40px;height:490px;background-color:rgb(223, 107, 60);margin-top:65px;display:none;float:left;position:static;cursor:pointer; }
.testing_textBox4{padding:0px 10px; margin:10px 0px 10px 0px; width:220px; border:1px solid #d2d9eb; height:37px;border-right:#ffffff;float:left;font-family:"Segoe UI Semibold"; font-size:18px; color:#666666;}
.testing_col_three_top_row{width:250px;margin-top:5px;}
.testing_col_three_r1{clear:both; background-color:#df6b3c;height:46px; margin:8px 0 0 0; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 5px 0px 20px;text-align:left;width:225px;}
.testing_col_three_r1_txt{float:left; padding-top:13px;}
.testing_col_three_r2_container{float:left;width:218px;padding:15px;border:1px solid #DF6B3C;height:412px;}
.testing_col_three_r2_container input{width:100%;background-color: #FDF3F0;border: 1px solid #FAD5CE;color: #333333;}
.testing_col_three_r2a{float:left;width:100%;}
.testing_col_three_r2a_L{float:left;margin-top:14px;}
.testing_col_three_r2a_L_txt1{float:left;font-family: "Segoe UI Semibold"; font-size:14px; color:#333333;}
.testing_col_three_r2a_L_txt2{clear:both;float:left;font-family: "Segoe UI Semibold"; font-size:12px; color:#333333;margin-top:7px;}
.testing_col_three_r2b{clear:both;float:left;width:100%;margin-top:10px;}
.testing_col_three_r2b_pad{width:100%;}
.testing_col_three_r2b_txt1{clear:both;float:left;font-family: "Segoe UI Semibold"; font-size:12px; color:#333333;margin-top:7px;margin-bottom:3px;}
.testing_col_three_txtarea{width:150px;float:left;clear:both;background-color:#fdf3f0;border:1px solid #fad5ce;width:100%;height:52px;font-family: "Segoe UI Semibold"; font-size:12px; color:#333333;}
.testing_col_three_txtarea1{width:150px;float:left;clear:both;background-color:#fdf3f0;border:1px solid #fad5ce;width:100%;height:126.5px;font-family: "Segoe UI Semibold"; font-size:12px; color:#333333;}
.testing_col_three_r2c{margin-top:40px;}
.testing_next_button:hover {opacity: 0.6; text-decoration:none;}
.testing_previous_button, .testing_previous_button:visited{float:left;width:76px;height:22px;background-color: #f68c1f;margin-right:6px;margin-top:7px; font-family:"Segoe UI Semibold";font-size:15px;color:#ffffff; text-decoration:none; text-align:center;padding:10px 5px 5px 5px;}
.testing_previous_button:hover {opacity: 0.6; text-decoration:none}
.testing_next_button {padding: 12px 5px 5px; width: 62px; height: 20px; text-align: center; color: rgb(255, 255, 255); font-family: "Segoe UI Semibold"; font-size: 12px; text-decoration: none; margin-top: 0px; margin-left: 6px; float: right; background-color: rgb(246, 140, 31);}
.testing_next_button:visited {padding: 12px 5px 5px; width: 62px; height: 20px; text-align: center; color: rgb(255, 255, 255); font-family: "Segoe UI Semibold"; font-size: 12px; text-decoration: none; margin-top: 7px; margin-left: 6px; float: right; background-color: rgb(246, 140, 31);}
.testing_next_button:hover {text-decoration: none; opacity: 0.6;}


a.testing_previous_button, a.testing_previous_button:visited{float:left;width:76px;height:22px;background-color: #f68c1f;margin-right:6px;margin-top:7px; font-family:"Segoe UI Semibold";font-size:15px;color:#ffffff; text-decoration:none; text-align:center;padding:10px 5px 5px 5px;}
a.testing_previous_button:hover {opacity: 0.6; text-decoration:underline}
.nextbutton{width: 67px;height: 40px;background-color: #f68c1f;moz-border-radius: 15px;-webkit-border-radius: 15px;padding: 5px;margin-top:24px;float:right;margin-top:14px;margin-top:14px\9;}
.next_button:hover {opacity: 0.6; }
.next_button p{margin-top:7px;text-align:center;}
.button_txt1 a{font-family:"Segoe UI Light";font-size:23px;color:#ffffff; text-decoration:none;}
.button_txt1:hover{font-family:"Segoe UI Light";font-size:23px;color:#ffffff; text-decoration:underline;}
.edit_button{float:left;width: 76px;height: 22px;background-color: #f68c1f;moz-border-radius: 15px;-webkit-border-radius: 15px;padding: 5px;font-family:"Segoe UI Semibold";font-size:15px;margin-top:24px; margin-top:14px\9;}
.edit_button:hover {opacity: 0.6; }
.edit_button p{margin-top:7px;text-align:center;}
.decline_button{float:left;width:92px;height: 40px;background-color: #f68c1f;moz-border-radius: 15px;-webkit-border-radius: 15px;padding: 5px;margin-top:24px;margin-left:7px;margin-top:14px\9;}
.decline_button:hover {opacity: 0.6; }
.decline_button p{margin-top:7px;text-align:center;}
.verify_button{float:left;width:92px;height: 40px;background-color: #f68c1f;moz-border-radius: 15px;-webkit-border-radius: 15px;padding: 5px;margin-top:24px;margin-left:7px;margin-top:14px\9;}
.verify_button:hover {opacity: 0.6; }
.verify_button p{margin-top:7px;text-align:center;}
.testing_col_four_main{width:138px; float:left;height:488px; margin:64px 0px 10px 10px;border: 1px solid #4C68B1;position:static;display:block;}
.testing_col_four_main_1 {width:40px;height:490px;background-color:rgb(76, 104, 177);margin-top:65px;display:none;float:left;margin-left:10px;cursor:pointer;}
.Testing_Parent{ height:556px; width:1333px;float:left; margin-right:10px;display:block;position:relative;overflow:hidden;position:static;}
.Testing_Parent_Expand {display: block;float: left; margin-left: -8px;margin-right: -250px;overflow:hidden;position: static;width: 1316px;}

.testing_export_violations_outer_div{width:500px;height:100px; margin-left:30px; margin-top:50px; clear:both;border-style:solid;background-color:White;border-color:#019e4a;border-width:2px}

a.testingpage_browseButton, a.testingpage_browseButton:visited{clear:both;float:left;width:66px;height:18px;background-color: #FF8200;font-family:"Segoe UI SemiBold";font-size:12px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left: 415px; margin-top: -24px;cursor:pointer}
a.testingpage_browseButton:hover {opacity: 0.6; text-decoration:none;}

.testing_uploadFile{position: relative;top: 150px;font-family: calibri;width: 150px;padding: 10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border: 1px dashed #BBB;text-align: center;background-color: #DDD;cursor:pointer;opacity: 0;-moz-opacity: 0;filter:alpha(opacity=0);}

.testing_violations_label{float:left;text-align:left;margin-top:9px;text-align:left;width:92px; font-size:12px; color:#473F30;margin-left: -22px;}
.testingpage_selectedFile{padding:0px 10px; padding:0px 10px\9;*padding:0px 10px;  margin:0px 0px 0px 20px; width:362px; height:22px;float:left; border-right: #ffffff;font-family:"Segoe UI Semibold"; font-size:12px; color:#666666; border-color: #D2D9EB;border-style: solid; border-width: 1px;}


a.testing_org_button, a.rules_org_button:visited{float:left;width:58px;height:20px;background-color: #f68c1f;margin-right:6px;margin-top:13px; font-family:"Segoe UI Semibold";font-size:12px;color:#ffffff; text-decoration:none; text-align:center;padding:12px 5px 5px 5px;}
a.testing_org_button:hover {opacity: 0.6; text-decoration:none;}
a.testing_org_button2, a.rules_org_button2:visited{float:left;width:60px;height:20px;background-color: #f68c1f;margin-right:0px;margin-top:13px; font-family:"Segoe UI Semibold";font-size:12px;color:#ffffff; text-decoration:none; text-align:center;padding:12px 5px 5px 5px;}
a.testing_org_button2:hover {opacity: 0.6; text-decoration:none;}
.testing_col_two_padd_LR{width:529px;width:528px\9;}

/*.execution_col_two_cnt2_R1{width:auto;float:left;clear:both;}*/

input[type="submit"] {float:left;width:100px;height:24px;background-color: #f68c1f;margin: 22px 0 5px 130px; font-family:"Segoe UI Semibold";font-size:12px;color:#ffffff; text-decoration:none; text-align:center;padding:2px 5px 5px 5px;border:none;outline:none;cursor:pointer}
input[type="submit"]:hover {opacity: 0.6; text-decoration:none;}

input[type="button"] {float:left;width:100px;height:24px;background-color: #f68c1f;margin: 22px 0 5px 130px; font-family:"Segoe UI Semibold";font-size:12px;color:#ffffff; text-decoration:none; text-align:center;padding:2px 5px 5px 5px;border:none;outline:none;cursor:pointer}
input[type="button"]:hover {opacity: 0.6; text-decoration:none;}

input[type="file"] {float:left;width:100px;height:24px;background-color: #f68c1f;margin-right:0px;margin-top:2px; font-family:"Segoe UI Semibold";font-size:12px;color:#ffffff; text-decoration:none; text-align:center;padding:2px 5px 5px 5px;}
input[type="file"]:hover {opacity: 0.6; text-decoration:none;}

/*span.upload:before, span.upload:after {display:none;margin-left: 790px;margin-top: -10px;position:absolute;}
span.upload:before { border-top:medium none #019E4A;border-left:7px solid transparent;border-right:7px solid transparent;content:"";left:20px;}
span.upload:after {background-color:#019E4A;border-radius:7px;color:#ffffff;font-size:10px;font-family:"Segoe UI Semibold";content:"Export";left:0;padding:0px 8px;white-space:normal;}
span.upload:hover:after,span.upload:hover:before {display:block;}

span.download:before, span.download:after {display:none;margin-left: 830px;margin-top: -10px;position:absolute;}
span.download:before { border-top:medium none #019E4A;border-left:7px solid transparent;border-right:7px solid transparent;content:"";left:20px;}
span.download:after {background-color:#019E4A;border-radius:7px;color:#ffffff;font-size:10px;font-family:"Segoe UI Semibold";content:"Import";left:0;padding:0px 8px;white-space:normal;}
span.download:hover:after,span.download:hover:before {display:block;} */

.hideviolationspartialview{visibility:collapse}
.showviolationspartialview{visibility:visible}

/* Added by Krishna Prabhakar*/

.testing_col_one_r3_list4_sub_li ul {list-style: none outside none;}
.testing_col_one_r3_list4_sub_li ul a{ text-decoration:none;} 
.testing_col_two_r5_li {background-color:#FDFAD0;}

.testing_col_two_r5_container a{text-decoration:none;}
.testing_col_one_r2_check{clear:both; background-color:#4c68b1;height:61px; margin: 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 5px 0px 20px;text-align:left;}
.testing_col_one_r2_check a{text-decoration:none; color:#ffffff}
.testing_col_three_r2c a{text-decoration:none;}

.testing_col_one_arrow_up{background-image:url(../images/sprite_miscellaneous.png);background-position:-156px 0px;width:16px;height:8px;display:block; float:left; margin:20px 0 0 5px;}

.next_button a{text-decoration:none}
.testing_col_two_r5_li_checked {font-family:"Segoe UI"; font-size:12px;background-color:#C0E7D2; color:#333333;text-align:left;line-height:20px;padding:10px;height:auto;}
.testing_col_two_radio {background-color:#C0E7D2 !important; color:Black !important; font-family:"Segoe UI" !important; font-size:12px !important;padding:0px 10px 0px 10px;height: 26px;}

.testing_col_two_radio {clear:both;background-color:#C0E7D2 !important; color:Black !important; font-family:"Segoe UI" !important; font-size:12px !important;padding:0px 10px 0px 10px;height: 26px;}

.testing_col_two_r4_container{font-family: "Segoe UI Light"; font-size:18px; color:#ffffff;background-color:#019e4a;font-weight:400;padding:10px;float:left; height: 25px;}
.testing_col_two_r4_icons{float:left;margin-left:212px;width:71px;}
.testing_col_two_r4_upload_icon{cursor:pointer;float:left;background-image: url("../images/sprite_miscellaneous.png");background-position: -1104px 0;display: block;float: left;height: 21px;margin:0px;width: 21px;}
.testing_col_two_r4_download_icon{cursor:pointer;float:left;background-image: url("../images/sprite_miscellaneous.png");background-position: -1126px 0;display: block;float: left;height: 21px;margin-left: 36px;width: 21px;margin-top: -19px;}

.testing_col_two_radio_padd{padding-top:3px;}
.testing_col_four_hd{clear:both; background-color:#4C68B1;height:46px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff;text-align:left;width:138px;}
.testing_col_four_hd_txt{float:left; padding:13px 5px 0 20px;}
.testing_col_four_arrow{ width:7px; height:12px; background-image: url(../images/sprite_miscellaneous.png); background-position:-0px 0px; margin:5px 5px 0px 0px; background-repeat:no-repeat; float:right; border:0px;cursor:pointer;}
.testing_col_four_dt1 a{font-family: "Segoe UI Semibold" font-size:14px; color:#4C68B1; margin:0px 0px 4px 0px; clear:both;float:left;}
.testing_col_four_dt_li{font-family: "Segoe UI Semibold"; font-size:13px;color:#ffffff; clear:both;float:left;padding: 0px 0px 10px 6px;}
.testing_textBox_image_box{clear:both;float:left;margin:10px 0px 0px 20px;}

.testing_col_two_r5_li_0{font-family:"Segoe UI"; font-size:12px;background-color:#f1f4f9; color:#333333;text-align:left;line-height:20px;padding:10px;height:auto;} 
.testing_col_two_r5_li_1{font-family:"Segoe UI"; font-size:12px;background-color:#e7eaf9; color:#333333;text-align:left;line-height:20px;padding:10px;height:auto;} 
.testing_col_three_r2c_manual{margin-top:40px; margin-left: 65px;} 
testing_col_three_r2c_manual a{text-decoration:none;}
.testing_col_one_arrow_left{background-image:url(../images/arrow_left.png);background-repeat: no-repeat; display: block; float: left; height: 22px;margin-bottom: 0;margin-left: 5px;margin-right: 0;margin-top: 5px;width: 7px;}
.testing_col_one_arrow_right {background-image: url("../images/arrow_right.png"); background-repeat: no-repeat; display: block; float: left; height: 22px;margin-bottom: 0;margin-left: 5px;margin-right: 0;margin-top: 5px;width: 7px;}

.modalOverlay
{    
   background-color: #000000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    filter: alpha(opacity=50);

}

.execution_btn_container{margin-top:20px}
a.testingpage_hide_export_dialog, a.testingpage_hide_export_dialog:visited{clear:both;float:left;width:66px;height:18px;background-color: #FF8200;font-family:"Segoe UI SemiBold";font-size:12px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left: 243px; margin-top:-29px; cursor:pointer}
a.testingpage_hide_export_dialog:hover {opacity: 0.6; text-decoration:none;}


/*******************************************/

.NoDataLabel{font-size: 15px;font-family: segoe ui;height: 400px;margin-top: 60px;text-align: center;width: 1000px;}


/* --------------------------------Coding for Rules page-------------------------------------- */

.rules_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px; height: 642px;min-height:642px; background-image:url(../images/rules_slider_menu.png); background-repeat:no-repeat; cursor:pointer;}
/*.active.rules_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px;border-left:1px solid #ffffff; height: 618px; background-image:url(../images/rules_slider_menu_close.png); background-repeat:no-repeat; cursor:pointer;margin:0px 0px 0px 200px;padding: 0px 0px 0px 0px;}*/
.active.rules_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px; border-left:1px solid #ffffff; height: 642px;min-height:642px; background-image:url(../images/rules_slider_menu_close.png); background-repeat:no-repeat; cursor:pointer;margin:0px 0px 0px 200px;padding: 0px 0px 0px 0px;}
.rules_sliderexbg{ float:left; height:618px;min-height:642px; font-size:20px; background:#4c68b1;position:absolute;}

.rules_col_left_ctr{width:100%; float:left;}
.rules_col_left_ctr_btns{clear:both; background-color:#ffffff; height:32px; margin: 2px 0px 0px 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:6px 20px 0px 20px;text-align:left;}
.rules_col_left_one_ctr{clear:both;float:left;width:100%;}
.rules_col_left_one_ctr_border{height:380px;border-right:1px solid #4c68b1;border-bottom:1px solid #4c68b1;border-left:1px solid #4c68b1;border-right:1px solid #4c68b1;overflow:auto;}
.rules_col_left_two_ctr_border{border-left:1px solid #4c68b1;margin-left:8px;border-bottom:1px solid #4c68b1;border-left:1px solid #4c68b1;border-right:1px solid #4c68b1;}
.rules_col_left_two_ctr{float:right;width:50%;}
.rules_col_left_one_r1_a{background-color:#ffffff; width:auto; height:27px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.rules_col_left_one_r1_b{background-color:#e6f7f4; width:auto; height:27px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.rules_col_left_one_r1_b a{background-color:#e6f7f4; width:auto; height:27px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.rules_col_left_one_r1_b a:hover{background-color:#e6f7f4; width:auto; height:27px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.rules_col_left_two_r1_a{background-color:#ffffff; width:auto; height:27px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.rules_col_left_two_r1_b{background-color:#e6f7f4; width:auto; height:27px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.rules_col_left_ctr_marginL{margin-left:90px; padding:0px;}
.rules_col_left_ctr_stretch{float:left;width:100%;}
.rules_col_left_ctr_marginR{clear:both;margin-right:232px; margin-top:15px;background-color:#ffffff;}
.rules_col_left_one_close_icon,.rules_col_left_one_close_icon a{background-image:url(../images/sprite_miscellaneous.png);width:9px;height:9px; background-position:-790px 0px;display:block; float:left; margin:3px 5px 0 0;cursor:pointer;}
.rules_col_left_one_close_icon:hover{background-image:url(../images/sprite_miscellaneous.png);width:9px;height:9px; background-position:-790px -11px;display:block; float:left; margin:3px 5px 0 0;cursor:pointer;}
.rules_col_left_one_edit_icon{background-image:url(../images/sprite_miscellaneous.png);width:14px;height:18px; background-position:-90px 0px;display:block; float:right;}
.rules_col_left_list_txt{float:left;}
.rules_col_left_list_edit_icon,.rules_col_left_list_edit_icon a{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-504px 0px;display:block; float:right;margin-right:10px;}
/*.rules_col_left_list_edit_icon:hover{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-504px -22px;display:block; float:right;cursor:pointer;}*/
.rules_col_left_list_del_icon,.rules_col_left_list_del_icon a{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-527px 0px;display:block; float:right;margin-right:10px;}
/*.rules_col_left_list_del_icon:hover{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-527px -22px;display:block; float:right;cursor:pointer;}*/
.rules_col_left_list_add_icon,.rules_col_left_list_add_icon a{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-548px 0px;display:block; float:right;}
/*.rules_col_left_list_add_icon:hover{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-548px -22px;display:block; float:right;cursor:pointer;}*/
.rules_col_left_hd{clear:both; background-color:#4c68b1; height:46px; margin: 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 5px 0px 20px;text-align:left;}
.rules_col_left_add_new_rule,.rules_col_left_add_new_rule a{background-image:url(../images/sprite_miscellaneous.png);background-position:-474px 0px;height:30px;width:29px;float:right;display:block;margin:8px 17px 0 0;}
/*.rules_col_left_add_new_rule:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-474px -31px;height:30px;width:29px;float:right;display:block;margin:16px 17px 0 0;cursor:pointer;}*/
.rules_col_left_pre_icon,.rules_col_left_pre_icon a{background-image:url(../images/sprite_miscellaneous.png); background-position:-736px 0px; width:27px;height:27px; float:left;display:block;cursor:pointer;}
.rules_col_left_pre_icon:hover{background-image:url(../images/sprite_miscellaneous.png); background-position:-736px -28px; width:27px;height:27px; float:left;display:block;cursor:pointer;}
.rules_col_left_nxt_icon,.rules_col_left_nxt_icon a{background-image:url(../images/sprite_miscellaneous.png); background-position:-763px 0px; width:27px;height:27px;float:right;display:block;cursor:pointer;}
.rules_col_left_nxt_icon:hover{background-image:url(../images/sprite_miscellaneous.png); background-position:-763px -28px; width:27px;height:27px;float:right;display:block;cursor:pointer;}
.rules_col_left_hd_txt{float:left; padding-top:15px;font-family:"Segoe UI Light"; font-size:18px; }

/*   Right Column start  here */
.rules_col_right_ctr{width:232px;margin:0 0 0 15px;float:left;margin-left:-234px;}
.rules_col_right_padd{padding-left:10px;}
.rules_col_right_hd{clear:both; background-color:#019e4a;height:46px; margin:15px 0 0 0; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding-left:15px;text-align:left;width:209px;}
.rules_col_right_container{float:left;width:222px;height:379px;padding:0px;border:1px solid #019e4a;}
.rules_col_right_hd_txt{float:left; padding-top:15px;font-family:"Segoe UI Light"; font-size:18px;}
.rules_col_right_icon_bg{background-color:#b2e8df; width:auto; height:40px; margin:0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1;text-align:left;}
.rules_col_right_ctr_li{background-color:#ffffff; width:auto;height:auto; margin:0px; font-family:"Segoe UI SemiBold"; font-size:12px; color:#019e4a; padding:13px 20px 0px 15px;text-align:left;color:#333333;}
.rules_col_right_grp_icon_favt,.rules_col_right_grp_icon_favt a{background-image:url(../images/sprite_miscellaneous.png);background-position:-570px 0px;height:21px;width:21px;float:left;display:block;margin:10px 20px 0 15px;}
/*.rules_col_right_grp_icon_favt:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-570px -22px;height:21px;width:21px;float:left;display:block;margin:10px 20px 0 15px;cursor:pointer;}*/
.rules_col_right_grp_icon_edit,.rules_col_right_grp_icon_edit a{background-image:url(../images/sprite_miscellaneous.png);background-position:-592px 0px;height:21px;width:21px;float:left;display:block;margin:10px 20px 0 15px;}
/*.rules_col_right_grp_icon_edit:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-592px -22px;height:21px;width:21px;float:left;display:block;margin:10px 20px 0 15px;cursor:pointer;}*/
.rules_col_right_grp_icon_del,.rules_col_right_grp_icon_del a{background-image:url(../images/sprite_miscellaneous.png);background-position:-613px 0px;height:21px;width:21px;float:left;display:block;margin:10px 20px 0 15px;}
/*.rules_col_right_grp_icon_del:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-613px -22px;height:21px;width:21px;float:left;display:block;margin:10px 20px 0 15px;cursor:pointer;}*/
.rules_col_right_grp_icon_add,.rules_col_right_grp_icon_add a{background-image:url(../images/sprite_miscellaneous.png);background-position:-635px 0px;height:21px;width:21px;float:right;display:block;margin:10px 15px 0 15px;}
/*.rules_col_right_grp_icon_add:hover{background-image:url(../images/sprite_miscellaneous.png);background-position:-635px -22px;height:21px;width:21px;float:right;display:block;margin:10px 15px 0 15px;cursor:pointer;}*/
.checkbox_padd{padding-bottom:10px;float:left;clear:both;display:block;color:#019E4A;font-size:12px;}

a.rules_edit_button, a.rules_edit_button:visited{background-color: #4C68B1;color: #FFFFFF;float: left;font-family: "Segoe UI SemiBold";font-size: 12px;height: 18px;margin:7px 2px 0 10px;padding-top: 8px;text-align: center;text-decoration: none;width: 72.6px;}
/*a.rules_edit_button:hover {opacity: 0.6;text-decoration:underline; }*/
a.rules_save_button, a.rules_save_button:visited{background-color: #4C68B1;color: #FFFFFF;float: left;font-family: "Segoe UI SemiBold";font-size: 12px;height: 18px;margin-right: 2px;margin-top: 7px;padding-top: 8px;text-align: center;text-decoration: none;width: 72.6px;}
/*a.rules_save_button:hover {opacity: 0.6;text-decoration:underline;  }*/
a.rules_cancel_button, a.rules_cancel_button:visited{background-color: #4C68B1;color: #FFFFFF;float: left;font-family: "Segoe UI SemiBold";font-size: 12px;height: 18px;margin-top: 7px;padding-top: 8px;text-align: center;text-decoration: none;width: 72.6px;}
/*a.rules_cancel_button:hover {opacity: 0.6;text-decoration:underline;  }*/
.rulelinkwraper {height:50px;border-left:10px solid #4c68b1;float:left;width:187px;}
.rulelinkwraper:hover {background-color:#4c68b1;text-decoration: none;width:187px;}
.rulelinktextwraper {color:#fff;text-decoration:none;margin:10px 0px 0px 10px;line-height:41px;}
.rulelinktextwraper a{color:#fff;text-decoration:none;}

.rulesicon {
	background-image:url(../images/nav_sprite_icons_42x42px.png);
	width:23px;
	height:29px;
	background-position:-9px -5px;	
	float:right;
	margin-right:100px;			
}

/*****************Rules Slider********************/
.Parent_Rule
{
   /* max-width:1350px;*/
    /*width:1315px;*/
    width:100%;
    float:left;
    margin-right:10px;
    display:block;
    position:relative;
    overflow:hidden;
    position:static;
 }
 .Parent_Rule_Expand
{
   /* max-width:1350px;*/
    /*width:1315px;*/
    width:100%;
    float:left;
    margin-left: -8px;
    margin-right: -250px;
    display:block;
    position:relative;
    overflow:hidden;
    position:static;
 }


/*-----------Execution Page starts here------------*/

.execution_sliderexbg { float:left; height:618px;min-height:642px; font-size:20px; background:#FF8200;position:absolute;}
.execution_trigger { position: relative;white-space: nowrap; left: 0px; width: 50px; height: 642px; background-image:url(../images/execution_slider_menu.png); background-repeat:no-repeat; cursor:pointer;}
.active.execution_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px; border-left:1px solid #ffffff; height: 642px; background-image:url(../images/execution_slider_menu_close.png); background-repeat:no-repeat; cursor:pointer;margin:0px 0px 0px 200px;padding: 0px 0px 0px 0px;}

.execution_col_one{width:310px; margin:0 0 0 112px; float:left;}
.execution_col_one_exec_widget{float:left; margin:10px 0px 0px 0px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #f68b1f ; /* Internet Explorer */ *background: #f68b1f;}
.execution_col_one_exec_widget:hover{opacity:0.7;}
.execution_col_one_exec_icon{width:70px; height:83px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-765px 0px; margin-top:25px; background-repeat:no-repeat;}
.execution_col_one_exec_box_text {width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:5px 0 0 12px;display: block; text-decoration:none;}

.execution_col_one_rules_widget{float:left; margin:10px 0px 0px 10px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #1ebbee ; /* Internet Explorer */ *background: #1ebbee;}
.execution_col_one_rules_widget:hover{opacity:0.7;}
.execution_col_one_rules_icon{width:54px; height:68px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-1242px 0px; margin-top:30px; background-repeat:no-repeat;}
.execution_col_one_rules_box_text a{width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:13px 0 0 12px;display: block; text-decoration:none;}

.execution_col_one_testing_widget{float:left; margin:10px 0px 0px 0px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #1ebbee ; /* Internet Explorer */ *background: #1ebbee;}
.execution_col_one_testing_widget:hover{opacity:0.7;}
.execution_col_one_testing_icon{ width:76px; height:71px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-1297px 0px; margin-top:30px; background-repeat:no-repeat;}
.execution_col_one_testing_box_text a{width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:10px 0 0 12px;display: block; text-decoration:none;}

.execution_col_one_reports_widget{float:left; margin:10px 0px 0px 10px; width:150px; height:150px; opacity:1; cursor:pointer; /* Legacy browsers */ background: #1ebbee ; /* Internet Explorer */ *background: #1ebbee;}
.execution_col_one_reports_widget:hover{opacity:0.7;}
.execution_col_one_reports_icon{width:55px; height:69px; margin:0px auto; background-image: url(../images/sprite_1.png); background-position:-709px 0px; margin-top:30px; background-repeat:no-repeat;}
.execution_col_one_reports_box_text a{width:140px; height:33px; text-align:left; font-size:18px; color:#fff; line-height: 30px; margin:13px 0 0 12px;display: block; text-decoration:none;}

.execution_col_two{width:100%; margin:15px 10px 0px 0px; padding:0px; float:left;overflow:hidden;position:static;}
.execution_col_two_Expand {width:100%;margin:15px 10px 0px 0px;padding:0px;float:left;margin-right:-200px;overflow:hidden; position:static;}

.execution_col_two_cnt2_R1{width:500px;height:100px; margin-left:30px; margin-top:50px; clear:both;border-style:solid;background-color:White;border-color:#f68c1f;border-width:2px}
.execution_col_two_R1{clear:both;float:left;margin-top:15px;}
.execution_col_two_R1_padd{float:left;margin-top:20px;text-align:left;margin-top:5px;text-align:left;width:120px; font-size:16px; color:#473F30;} 

.execution_col_three{width:68%;width:68%\9;*width:68%; margin-top:5px; padding:0px; float:left;background-color:white;height:400px;}
.execution_col_three_in{float:left;border-left:0px solid #ffffff;height:100%;width:100%;font-family:"Segoe UI SemiBold"; font-size:16px;color:#473F30;}
.execution_col_two_rowone {background-color: White; border-color: #FF8200;border-style: solid;border-width: 1px;float: left;height: 410px;margin-right: 5px;margin-top: 5px;padding-top: 10px;width: 31.3%;}
#execution_col_three_in_one{margin:0px 0px 0px 90px; padding:0px;}

.execution_col_one_r1{width:auto;margin:0px 0px 0px 20px;clear:both;float:left;}
.execution_textBox1{padding:0px 10px; padding:0px 10px\9;*padding:0px 10px;  margin:0px 0px 0px 0px; width:200px; height:30px;float:left; border-right: #ffffff;font-family:"Segoe UI Semibold"; font-size:16px; color:#666666; border-color: #D2D9EB;border-style: solid; border-width: 1px;}
.execution_textBox1_bg{background-color:#555555;padding:5px 1px 5px 1px;float: left;}
.execution_textBox1_bg_default{background-color:#ffffff;padding:5px;float: left;}

.execution_col_one_icon1{width:30px; height:37px; background-image:url(../images/sprite_miscellaneous.png);background-position:-428px 0px; background-repeat:no-repeat; float:left;margin-top:20px;cursor:pointer; border:1px solid #d2d9eb; border-left:#ffffff;}
.execution_CrawlType{/*padding:0px 10px; padding:0px 10px\9;*padding:0px 10px;  */
margin:10px 0px 0px 0px; width:90px; height:30px;float:left; border-right: #ffffff;font-family:"Segoe UI Semibold"; font-size:16px; color:#666666; border-color: #D2D9EB;border-style: solid; border-width: 1px;}

/*a.execution_clear_button, a.execution_clear_button:visited{clear:both;float:left;width:88px;height:22px;background-color: #4c68b1;margin-right:5px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left:135px;}
a.execution_clear_button:hover {opacity: 0.6; text-decoration:underline}

a.execution_submit_button, a.execution_submit_button:visited{float:left;width:88px;height:22px;background-color: #4c68b1;margin-right:13px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;}
a.execution_submit_button:hover {opacity: 0.6; text-decoration:underline}*/

a.execution_button1, a.execution_button1:visited{clear:both;float:left;width:88px;height:22px;background-color: #FF8200;margin-right:5px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left:140px;}
a.execution_button1:hover {opacity: 0.6; text-decoration:none;}

a.execution_button2, a.execution_button2:visited{float:left;width:88px;height:22px;background-color: #FF8200;margin-right:13px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;}
a.execution_button2:hover {opacity: 0.6; text-decoration:none;}

a.execution_button3, a.execution_button3:visited{clear:both;float:left;width:150px;height:22px;background-color: #FF8200;margin-right:5px;margin-top:0px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left:25px;}
a.execution_button3:hover {opacity: 0.6; text-decoration:none;}

a.execution_button4, a.execution_button4:visited{float:left;width:88px;height:22px;background-color: #FF8200;margin-right:5px;margin-top:0px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;}
a.execution_button4:hover {opacity: 0.6; text-decoration:none;}

.execution_col_one_r1_padd{float:left;margin-top:9px;text-align:left;text-align:left;width:120px; font-size:16px; color:#473F30;}
.execution_col_right_hd{clear:both; background-color:#FF8200; height:46px; margin: 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 5px 0px 20px;text-align:left;}
.execution_col_three_in_hd{background-color:#F68c1F; height:30px; font-family:"Segoe UI Light"; font-size:16px; font-weight:bold;color:#ffffff;padding:10px 0px 0px 20px;}
.execution_col_right_hd_txt{float:left; padding-top:15px;font-family:"Segoe UI Light"; font-size:18px; }
.execution_col_right_add_new_rule,.execution_col_right_add_new_rule a{background-image:url(../images/sprite_miscellaneous.png);background-position:-474px 0px;height:30px;width:29px;float:right;display:block;margin:16px 17px 0 0;cursor:pointer;}
.execution_col_two_cnt2{word-wrap:break-word;float:left;margin:10px 0px 10px 0px;text-align:left;width:100%;font-size:16px;color:#473F30;font-family:"Segoe UI SemiBold"; margin-left:20px;max-height:280px;position:relative;}
.execution_col_two_cnt2_div{word-wrap:break-word;float:left;margin:10px 0px 10px 0px;text-align:left;width:100%;font-size:16px;color:#473F30;font-family:"Segoe UI SemiBold"; overflow-y:auto;overflow-x:hidden;max-height:280px;position:relative;}
.execution_col_two_cnt2_div1{float:left;margin:10px;text-align:left;text-align:left;width:auto; font-size:16px;font-size:16px;color:#473F30;font-family:"Segoe UI SemiBold"; margin-left:0px;}

.execution_col_two_cnt2_hd {border-color: #FF8200;border-style: solid;border-width: 1px;color: #473F30;float: left;font-family: "Segoe UI SemiBold";font-size: 16px;height: 420px;margin: 0;text-align: left;width: 100%;}
.execution_col_two_hd{border-bottom:1px solid #cccccc;padding-bottom:5px;}
.popup_button_ok{cursor:pointer;width:72px;height: 22px;background-color: #cccccc;moz-border-radius: 15px;-webkit-border-radius: 15px;padding: 5px;font-family:"Segoe UI Semibold";font-size:15px;margin-top:25px;padding: 10px 5px 5px;}

.executionlinkwraper {height:50px;border-left:10px solid #FF8200;float:left;width:187px}
.executionlinkwraper:hover {background-color:#FF8200;text-decoration: none;width:187px}
.executionlinktextwraper {color:#fff;text-decoration:none;margin:10px 0px 0px 10px;line-height:41px;}
.executionlinktextwraper a{color:#fff;text-decoration:none;}
.execution_Highlight {background-color: #D7CFCF;font-weight: bold;}
.execution_Stickhighlight{background-color: #FF8200;font-weight: bold;color: #FFFFFF;}
.executionicon {
	background-image:url(../images/nav_sprite_icons_42x42px.png);
	width:34px;
	height:29px;
	background-position:500px -5px;
	float:right;
	margin-right: 55px;
}

.ExecutionCompleted
{
    margin: 0px 0px 16px 25px;
    font-size: 20px;
    font-family: 'Segoe UI Light' , Verdana, Sans-Serif;
    /*padding-bottom: 5px;*/
    display: none;
    font-Weight:bold;
    color: #f68c1f;
    float:left;
}

.execution_pg_title_buttons{float:right;}
.execution_crawl_icon{float:left;background-image:url(../images/sprite_miscellaneous.png);background-position:-989px 0px;height:30px;width:30px;margin:7px 0px 0px 0px;}
.execution_upload_icon{float:left;background-image:url(../images/sprite_miscellaneous.png);background-position:-1020px 0px;height:30px;width:30px;margin:7px 20px 0px 20px;}


.modalDialog
{
    font-size: 20px;
    font-family: 'Segoe UI Semibold' , Verdana, Sans-Serif;
}


.NotificationDialog {font-family:"Segoe UI Semibold";font-size:16px;}

.brandAll .checkbox{
	padding-left:15px;
	color:#000000;
	font-size:14px;
	font-family:"Segoe UI";
	margin-bottom:5px;
	text-decoration:none;
	display:block;
	background:url(../images/checkboxSprite.gif) no-repeat;
	background-position:0 0px;	
	cursor:pointer;
	height:15px;
	float:none;

}
.checkbox input{
	display: none;
}

.overflowHidden{overflow: scroll !important;}
.overflowNull{ overflow:auto; }
.widthauto{ width:100%; min-height:100%;height:104%; float:left; min-width:40%; }
.widthfix{ width:1337px !important;}
.overflowXRemove{ overflow-x: hidden; overflow-y: hidden;  }

.logo_Expand{margin:0px;float:left;width:194px; margin:30px 0 0 275px;}

/*.NewClient_client_bar{padding:0px 5px 0px 20px;text-align:left;background-color:#A8298E;height:46px;color:White}*/
.client_div {background-color: White; border-color: #A8298E;border-style: solid;border-width: 1px;height: 130px;margin:5px 5px 0px 0px;width: 1247px;}
.client_div_expand {margin-left:66px;}
.client_div_height {height:300px;}
.client_div1{width:45%; margin-top:5px; padding:0px; float:left;background-color:white;height:540px; border-color: #0071BC;border-style: solid;border-width: 1px;max-height:570px}
.client_div1_in{float:left;border-left:0px solid #ffffff;height:100%;width:100%;font-family:"Segoe UI SemiBold"; font-size:16px;color:#473F30;}
.add_client_Btn{background-image:url(../images/sprite_miscellaneous.png);background-position:-635px -22px;height:21px;width:23px;float:right;margin:13px 20px 0 0;}
.edit_client_Btn{background-image:url(../images/sprite_miscellaneous.png);background-position:-591px -22px;height:30px;width:23px;float:right;margin:13px 20px 0 0;}
.client_col_one_icon2{width:40px; height:40px; background-image:url(../images/sprite_miscellaneous.png);background-position:-8px 0px; background-repeat:no-repeat; float:left;margin:10px 10px 0 12px;cursor:pointer;}
.client_textBox1{width:164px;border:1px solid #d2d9eb; height:37px;float:left;font-family:"Segoe UI Semibold"; font-size:18px; color:#666666;margin:10px 0px 0 12px;}
.client_textBox1_url{width:328px;border:1px solid #d2d9eb; height:37px;float:left;font-family:"Segoe UI Semibold"; font-size:18px; color:#666666;margin:10px 0px 0 12px;border-right-color:#ffffff;}
.Client_col_one_icon3{width:40px; height:40px; background-image:url(../images/sprite_miscellaneous.png);background-position:-49px 0px; background-repeat:no-repeat; float:left;margin:10px 10px 0 12px;cursor:pointer;}

.client_buildpanel{clear:both;float:left;margin:7px 6px 11px 0px;max-height:359px;min-height:359px;width:106px;border-width:1px;border-color:#910091;border-style:solid;overflow-y:auto;overflow-x: hidden;}
.client_rulepanel{float:left;min-height:391px;}
.client_col_one_r3_list_txt{float:left;width:147px;color:#4C68B1;font-weight:bold;}
.client_col_one_r3_list{overflow:auto;}
.client_clientDialog{display: block;}
.client_col_one_r3_list_L_icon_view{width:21px;height:12px; background-position:-226px 0px;display:block; float:left; margin:0 5px 0 0;}
.client_col_left_list_del_icon,.client_col_left_list_del_icon a{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:22px; background-position:-527px 0px;display:block; float:right;margin-right:10px;}
.client_col_left_list_edit_icon,.client_col_left_list_edit_icon a{background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-504px 0px;display:block; float:right;margin-right:10px;}
.client_col_left_list_add_icon,.client_col_left_list_add_icon a{ cursor:default; background-image:url(../images/sprite_miscellaneous.png);width:21px;height:21px; background-position:-548px 0px;display:block; float:right;}
.newclient_client_bar{text-align:left;height:46px;color:White; background-color:#A8298E;}
.client_div1_in_hd {height:11%;color:White;width: 100%;background-color:#bc2e9f;}


.client_testcase_dropdownlist{width:auto;margin:15px 0px 0px 1px;clear:both;width:100px;background-color: #FFE4F9;border: 1px solid #F9C7EF;}
/*.client_testcase_dropdownlist{width:auto;margin:15px 0px 0px 1px;clear:both;width:100px;}
.client_testcase_dropdownlist_select{background: url("../images/dropdown_bg_pink_d.jpg") no-repeat scroll 0 0 transparent;color: #FFFFFF;font: 12px/21px arial,sans-serif;height: 22px;overflow: hidden;padding: 0 24px 0 8px;position: absolute;width: 172px;}
.client_testcase_dropdownlist_styled{opacity: 0;position: relative;width: 190px;z-index: 5;}*/

.newclient_button1{clear:both;float:left;width:88px;height:22px;background-color: #910091;margin-right:5px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left:130px;}
.newclient_button2{float:left;width:88px;height:22px;background-color: #910091;margin-right:5px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;}
.newclient_button3{clear:both;float:left;width:88px;height:22px;background-color:#a8298e;margin-right:5px;margin-top:0px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left:25px;}
.newclient_sliderexbg { float:left; height:500px;min-height:642px; font-size:20px; background:#a8298e;position:absolute;}
.newclient_trigger { position: relative; white-space: nowrap;width: 50px; height: 642px; background-image:url(../images/client_slider_menu.png); background-repeat:no-repeat; cursor:pointer;}
.active.newclient_trigger{ position: relative;white-space: nowrap; left: 0px; width: 50px; border-left:1px solid #ffffff; height: 642px; background-image:url(../images/client_slider_menu_close.png); background-repeat:no-repeat; cursor:pointer;margin:0px 0px 0px 200px;padding: 0px 0px 0px 0px;}
.newclientlinkwraper {height:50px;border-left:10px solid #a8298e;float:left;width:187px}
.newclientlinkwraper:hover {background-color:#a8298e;text-decoration: none;width:187px}
.newclientlinktextwraper {color:#fff;text-decoration:none;margin:5px 0px 0px 10px;line-height:41px;}
.newclientlinktextwraper a{color:#fff;text-decoration:none;}
.newclienticon {background-image:url(../images/nav_sprite_icons_42x42px.png);width:34px;height:40px;background-position:375px -5px;float:right;margin-right: 87px;	margin-top:6px;}
.newclient_col_two_in_one{margin:0px 0px 0px 70px; padding:0px;width:100%}
.newclient_col_two{width:94%; margin:15px 0px 0px 20px; padding:0px; float:left;}
.newclient_col_two_expand{margin-left:83px;width:79%}
.newclient_col_right_hd_txt{float:left; padding-top:15px;font-family:"Segoe UI Light"; font-size:18px;padding:0px 5px 0px 20px; }
.HideUI{display:none;}
.newclient_result_label{display:none;width:50%;text-align:center;display:none;color:#a8298e;font-size:large;font-weight:bolder;margin-left:108px;}
.newclient_delete_testcase_label{display:none;width:50%;text-align:center;display:none;color:#a8298e;font-size:large;font-weight:bolder;margin-left:70px;}
.newclient_col_one_r1{width:auto;margin:0px 0px 0px 10px;clear:both;float:left;}
.newclient_col_one_r1_padd{float:left;margin-top:20px;text-align:left;margin-top:18px;text-align:left;width:120px; font-size:16px; color:#473F30;}
.newclient_textBox1{background-color:#ffe4f9; padding:0px 10px; padding:0px 10px\9;*padding:0px 10px;  margin:10px 0px 0px 0px; width:200px; float:left; border-right: #ffffff;font-family:"Segoe UI Semibold"; font-size:16px; color:#666666; border-color: #f9c7ef;border-style: solid; border-width: 1px;}
.newclient_textBox2{height:30px;padding:0px 10px; padding:0px 10px\9;*padding:0px 10px;  margin:10px 0px 0px 0px; width:200px; float:left; border-right: #ffffff;font-family:"Segoe UI Semibold"; font-size:16px; color:#666666; border-color: #D2D9EB;border-style: solid; border-width: 1px;}
.newclient_col_right_hd_txt{float:left; padding-top:15px;font-family:"Segoe UI Light"; font-size:18px; }
.newclient_ruleList{width: 96%;margin-bottom:10px;}
.newclient_ruleList_fieldset{border-color: #a8298e;border-style: solid; border-width: 1px;}
.newclient_ruleList_innerdiv{height: 280px; width: 100%; overflow: auto;}
.newclient_ruleList_checkBox{width:5%}
.newclient_ruleList_checkBox_checkall{width:5%;float:left;margin-top:2px;}
.newclient_ruleList_checkall_label{float:left;padding-left:5px;margin-top:4px;}
.newclient_ruleList_priority_label{float:left;padding-right:5px;padding-bottom:4px;}
.newclient_loading{vertical-align:middle; display:none;}
.newclient_testcase_col_four_dt1 a{font-family: "Segoe UI Semibold" font-size:14px; color:#4C68B1; margin:0px 0px 4px 0px; clear:both;float:left;}
.newclient_testcase_col_four_dt_li{font-family: "Segoe UI Semibold"; font-size:13px;color:#ffffff; clear:both;float:left;padding: 0px 0px 10px 6px;}
.newclient_testcase_col_one_r3_list4{clear:both; background-color:#fdfad0; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;}
.newclient_testcase_col_one_r3_list4_sub_li{clear:both; background-color:#fdfad0; margin:0px; font-family:"Segoe UI"; font-size:12px; color:#333333; padding:0px 20px 15px 30px;text-align:left;line-height: 20px;}
.newClient_Highlight {background-color: #D7CFCF;font-weight: bold;}
.newClient_Stickhighlight {background-color: #C821AC;font-weight: bold;color: #FFFFFF; width:100%;}
.newClientRule {width: 100%;}
.newClient_rule_Header{width:90%;height: 25px; color:#FFFFFF; background-color:#b70b9b;}
.newClient_rule_chkbxdiv{height: 25px;}
.newclient_ruleList_select{width:60%}
.newclient_border{border: 1px solid gray;}
.newclient_border:hover{border: 1px solid gray; background-color: #D7CFCF;font-weight: bold;}
.newclient_build_col_one_r3_list4{clear:both; background-color:#fdfad0; height:27px; margin: 2px 0px 0px 0px; font-family:"Segoe UI SemiBold"; font-size:14px; color:#4c68b1; padding:13px 20px 0px 20px;text-align:left;width:60%;outline:none;}
.newclient_build_col_one_r3_list4_collapse{width:50%;}
.client_col_two_icon_search{width:34px; height:39px; background-image:url(../images/sprite_miscellaneous.png);background-position:-958px 0px; background-repeat:no-repeat; float:left;margin-top:10px;cursor:pointer; border:1px solid #d2d9eb;border-left:#ffffff;margin:10px 0px 0px 0px;padding-left:-10px}
.client_button_testcase{background-color:#910091;font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none;text-align:justify;clear:both;float:left;width:88px;height:30px;margin:10px 0px 5px 0px;padding:6.5px 20px 6.5px 20px;}
.client_button_datasource{background-color:#910091; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff;text-decoration:none;text-align:center;float:left;width:88px;height:30px;margin:10px 0px 5px 5px;padding:13px 20px 0px 20px;}
.client_button_user{background-color:#910091; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff;text-decoration:none;text-align:center;float:left;width:88px;height:30px;margin:10px 0px 5px 5px;padding:6.5px 20px 6.5px 20px;}
.client_button_td{vertical-align:middle;}
.newclient_buildlist_fieldset{border-color: #0071BC;border-style: solid; border-width: 1px;width:100%}
.client_action_div{background-color: White; border-color:White;border-style: solid;border-width: 1px;height: 400px;margin:0px 0px 0px 0px;width: 1272px;}
.client_action_div_expand{margin-left:65px;}
.client_action_testcase_bar{text-align:left;height:30px;color:#bc2e9f;}
.client_action_testcase_text{float:left;font-family:"Segoe UI Light"; font-size:20px;padding:0px 0px 0px 0px; }
.client_action_datasource_bar{text-align:left;height:61px;color:White; background-color:rgb(127, 187, 66);}
.client_action_datasource_text{float:left;font-family:"Segoe UI Light"; font-size:28px;padding:15px 5px 0px 20px; }
.client_action_user_bar{text-align:left;height:61px;color:White; background-color:rgb(255, 204, 0);}
.client_action_user_text{float:left;font-family:"Segoe UI Light"; font-size:28px;padding:15px 5px 0px 20px; }
.client_rules_list_txt{float:left;width:330px;color:#4C68B1;font-weight:bold;height:391px;}
.client_testcase_fieldset{border-color: #910091;border-style: solid; border-width: 1px; margin-right:6px;min-height:367px;}
.client_testcase_fieldset_inner_div{min-height:300px;max-height:350px;overflow-y:auto;overflow-x: hidden;padding-top:9px;}
.client_editrules_panel{float:left;margin:7px 0px 0px;margin-top:7px/;height:360px;width:802px;border-width:1px;border-color:#910091;border-style:solid;overflow-x:hidden;overflow-y:auto}
.client_editrules_panel_expand{width:57.45%;}
.client_testcase_text{float:left;text-align:left;margin-top:18px;width:120px; font-size:16px; color:#473F30;width:200px}
.client_testcase_std_text{float:left;text-align:left;margin-top:18px;width:120px;margin-bottom:7px; font-size:16px; color:#473F30;width:200px}
.client_testcase_radio_text{float:left;text-align:left;margin-top:18px;width:120px; font-size:16px; color:#473F30;width:100px}
.client_testcase_name_div{margin-left:10px;clear:both;float:left;}
.client_testcase_desc_div{float:left;}
.client_testcase_textarea{background-color:#ffe4f9;border:1px solid #f9c7ef;width:auto;margin:15px 0px 0px 1px;float:left;vertical-align:top; font-family:"Segoe UI ";font-size:15px;}

.client_testcase_radio{float:left;margin-top:18px;}
.client_testcase_checkbox{float:left;margin-top:18px;}
.newclient_tescase_save_btn{padding-top:6px; margin-left:0px;margin-top:0px; float:left;width:88px;height:22px;background-color: #910091;font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; text-align:center;cursor:pointer}
.newclient_tescase_clear_btn{padding-top:6px; margin-left:5px;;margin-top:0px;  float:left;width:88px;height:22px;background-color: #910091;font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; text-align:center;cursor:pointer}
.client_testcase_name_div_btn{margin-left:10px;clear:both;margin-bottom:15px;height:20px}
.client_testlabel{padding-left:10px;}
.client_userlabel{padding-left:5px;}
.page_construction_label{margin-top:20px;font-family:"Segoe UI SemiBold";font-size:25px;color:#a8298e; }
.standardDiv{padding-left:203px; padding-right:76px;}
/* Login page css */


.login_col_right_hd{clear:both; background-color:rgb(0, 113, 188); height:61px; margin: 0px; font-family:"Segoe UI Light"; font-size:18px; color:#ffffff; padding:0px 5px 0px 20px;text-align:left;}
a.login_button1, a.login_button1:visited{clear:both;float:left;width:88px;height:22px;background-color: rgb(0, 113, 188);margin-right:5px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left:140px;}
a.login_button1:hover {opacity: 0.6; text-decoration:none;}

a.login_button2, a.login_button2:visited{float:left;width:88px;height:22px;background-color: rgb(0, 113, 188);margin-right:13px;margin-top:17px; font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;}
a.login_button2:hover {opacity: 0.6; text-decoration:none;}

a.login_button3, a.login_button3:visited{clear:both;float:left;width:50px;height:22px;background-color: rgb(0, 113, 188); font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;margin-left:140px;}
a.login_button3:hover {opacity: 0.6; text-decoration:none;}

a.login_button4, a.login_button4:visited{float:left;width:50px;height:22px;background-color: rgb(0, 174, 239); font-family:"Segoe UI SemiBold";font-size:15px;color:#ffffff; text-decoration:none; padding-top:6px; text-align:center;}
a.login_button4:hover {opacity: 0.6; text-decoration:none;}

.login_col_two_rowone {background-color: White; border-color: #0071BC;border-style: solid;border-width: 1px;float: left;height: 410px;margin-right: 5px;margin-top: 5px;padding-top: 10px;width: 99.8%;}

.login_col_two_rowone_Inner { padding-top: 56px;width: 450px;}
.Login_Bottom_Image{ margin-left: -783px; margin-top: 200px; width: 1225px;}
.login_HeaderDiv{width:100%; margin:15px 10px 0px -26px; padding:0px; float:left;overflow:hidden;position:static;}

.promptModalWrapper{width: 400px;border: 0px solid #004064;height: 170px;background: rgb(0, 113, 188);z-index: 1;color:#fff;font:Segoe UI, verdana;font-size:24px;font-style:normal;}
.promptHidden{display: none;}
.promptHeader{width: 100%;float: left;height: 10px;}
.alertState{background: rgb(0, 113, 188);}
.promptTxt {min-height: 94px; /*border-top: 1px solid #004064; border-bottom: 1px solid #004064;*/ overflow: hidden; padding: 20px 10px 10px; font:Segoe UI, verdana; font-size:24px; font-style:normal;}
.noTxtSelect{-moz-user-select: none;cursor: default;}
.promptFooter{background: url("../Content/images/backgroundSprite.png") repeat-x 0 -90px #F1F5F8;height: 21px;padding: 7px 0 6px;}
.modalOverlay { background-color:#000000; bottom:0; left:0; opacity:0.5; position:fixed; right:0; top:0; filter:alpha(opacity=50);}
.logout{float:left;margin:10px 0px 0px 0px; width:300px;}
.logout_Yes{width: auto; float: left; margin: 0px 0px 0px 5px;}
.logout_No{width: auto; float: left; margin: 0px 10px 0px 5px;}
.Login_HeaderImage{margin-left:-25px;}
.Login_buttons_div{width:400px;padding-right:46px;}
.client_testcase_SubStd{float:left;width:122px}
.vilationtop{ position: relative; top:3px;}
.marginTop3{ margin-top: 6px;}
.vilationtopPaginate{ position: relative; top:56px;}
.testing_col_one_r4_nxt_icon_page { background-image: url("../images/sprite_miscellaneous.png"); background-position: -198px -38px; cursor: pointer; display: block; float: right; height: 27px; padding-bottom: 84px; width: 27px; position : relative;top:8px; }
.testing_col_one_r4_pre_icon_page { background-image: url("../images/sprite_miscellaneous.png"); background-position: -171px -38px; cursor: pointer; display: none; float: left; height: 27px; padding-bottom: 84px; width: 27px; position : relative;top:8px; }
.testing_col_two_radio_page {color:Black !important; font-family:"Segoe UI" !important; font-size:12px !important;}