﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="~/Content/style.css">
        <link href="@Url.Content("~/Content/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />       
        <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
        <script src="~/Scripts/jquery_1.8.js"></script>
        <script src="~/Scripts/modernizr.custom.67231.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/TestingViewScript.js"></script>
        <link rel="stylesheet" href="~/Content/jquery-ui.css" />
        <script language="javascript" type="text/javascript" src="~/Scripts/jquery-1.5.1.min.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jquery.watermark.min.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>

     <script type="text/javascript">

         $(window).resize(function () {
             var stdWidth = 1349;
             var stdHeight = 651;

             var browserWidth = $(window).width();
             var browserHeight = $(window).height();
             if (browserWidth < stdWidth - 17) {
                 /*$('#width').addClass('widthfix');*/
                 $('#width').css("width", stdWidth);
                 if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                     var clsStyle = $('#layoutBody').attr('class');
                     $('#layoutBody').removeClass(clsStyle);
                 }
                 $('#layoutBody').addClass('overflowNull');
             }
             else if (browserWidth >= stdWidth - 17) {
                 $('#width').addClass('widthauto');
                 if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                     var clsStyle = $('#layoutBody').attr('class');
                     $('#layoutBody').removeClass(clsStyle);
                 }

                 if ('@ViewBag.Title' == 'Testing Page') {
                     $('#layoutBody').addClass('overflowNull');
                 }
                 else {
                     $('#layoutBody').addClass('overflowXRemove');
                 }

             }
             $('.body').css("min-height", screen.height - 125);
             $('.body').css("min-width", screen.width);

             if ($('#HarnessSec')) {
                 if ($('#trigger').outerHeight() > screen.height) {
                     $("#trigger").css("min-height", $('#HarnessSec').outerHeight() - 125);



                 }
                 //                    else {
                 //                        $("#trigger").css("min-height", screen.height - 100);
                 //                    }
             }
             //                else {
             //                    $("#trigger").css("min-height", screen.height - 125);
             //                }

         });

         $(document).ready(function () {

             function btnBack() {
                 window.history.forward();
             }
             btnBack();
             window.onload = btnBack;
             window.onpageshow = function (evt) { if (evt.persisted) btnBack() }
             window.onunload = function () { void (0) }

             $("#trigger").click(function () {
                 $(".divpanel").toggle("slow");
                 $(this).toggleClass("active");

                 return false;
             });

             //            var stdWidth = 1366;
             //            var stdHeight = 768;
             var stdWidth = 1349;
             var stdHeight = 651;
             var browserWidth = $(window).width();
             var browserHeight = $(window).height();
             if (browserWidth < stdWidth - 17) {
                 $('#width').addClass('widthfix');
                 if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                     var clsStyle = $('#layoutBody').attr('class');
                     $('#layoutBody').removeClass(clsStyle);
                 }
                 $('#layoutBody').addClass('overflowNull');
             }
             else if (browserWidth >= stdWidth - 17) {
                 $('#width').addClass('widthauto');
                 if ($('#layoutBody').attr('class') != undefined && $('#layoutBody').attr('class') != "") {
                     var clsStyle = $('#layoutBody').attr('class');
                     $('#layoutBody').removeClass(clsStyle);
                 }

                 if ('@ViewBag.Title' == 'Testing Page') {
                     $('#layoutBody').addClass('overflowNull');
                 }
                 else {
                     $('#layoutBody').addClass('overflowXRemove');
                 }
             }
             $('.body').css("min-height", screen.height - 125);
             $('.body').css("min-width", screen.width);

             if ($('#HarnessSec')) {
                 if ($('#trigger').outerHeight() > screen.height) {
                     $("#trigger").css("min-height", $('#HarnessSec').outerHeight() - 125);
                 }
//                 else {
//                     $("#trigger").css("min-height", screen.height - 125);
//                 }

             }
             //                else {
             //                    $("#trigger").css("min-height", screen.height - 125);
             //                }


             $("#btnLogout").bind('click', function (event) {
                 $("#btnlogoutYes, #btnlogoutNo, #logOutMsg").show();
                 $("#btnCancel, #btnContinue, #facilityPrompt").hide();
                 $('.promptModalWrapper').css(
                { width: '440px', position: 'fixed', top: '50%', left: '50%', margin: '-' + (
                    $('.promptModalWrapper').height() / 2) + 'px 0 0 -' + (
                        $('.promptModalWrapper').width() / 2) + 'px'
                });
                 $("body").append('<div class="modalOverlay">');

                 $(".promptModalWrapper").fadeIn();
                 return false;
             });
             $("#btnlogoutYes").bind('click', function (event) {
                 $.ajax({
                     type: "POST",
                     url: "/Login/Logout",
                     data: {

                     },
                     success: function (data) {
                         document.location.href = "/Login/Index";
                     }
                 });
             });
             $("#btnlogoutNo").bind('click', function (event) {
                 $(".promptModalWrapper,.modalOverlay").fadeOut();
                 return false;
             });
         });
        </script>
    </head>
    <body id="layoutBody">
         <div id="width" >
            <header>
	        <div class="index_header_container">
            <div class="logo" id="divLogo"><img src="~/Images/Brillio-Logo.jpg" width="194" height="55" />@*<img src="~/images/collabera_logo.png" width="194" height="55">*@</div>
		        <div id="index_toplinks"><div id="index_icon_link_text"><img src="~/images/user_icon.png" width="13" height="16">&nbsp;<span class="Lone">@Session["Username"],</span>&nbsp; <a class="Ltwo" href="#" id="btnLogout"> Logout</a>&nbsp;| <a class="Ltwo" href="#">Help</a>
                </div>
                <div class="index_top_icon2"><a href=""><img src="~/images/calendar_icon.png" width="33" height="32"></a></div>
                <div class="index_top_icon3"><a href="/Home/Index"><img src="~/images/home_icon.png" width="41" height="35"></a></div>
            </div>    
            </div>   
            </header>

            <div id="body">
                    @RenderBody()
            </div>

            <div class="promptModalWrapper promptHidden">
            <div class="promptTxt noTxtSelect">
                <span id="logOutMsg">Are you sure you want to Log Out ?</span>
                <div class="logout">
                    @* @using (Html.BeginForm("Logout", "Login", new { area = "" }, FormMethod.Post))
                { 
                    <div class="logout_Yes">
                        <button id="btnlogoutYes">
                            Yes</button>
                    </div>
                }
                <div class="logout_No">
                    <button id="btnlogoutNo">
                        No</button>
                </div>*@
                    <div class="logout_Yes">
                        <a class="login_button4" id="btnlogoutYes">Yes</a></div>
                    <div class="logout_No">
                        <a class="login_button4" id="btnlogoutNo">No</a></div>
                </div>
            </div>
        </div>
      </div>
    </body>
</html>
