﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using AccessibilityAnalyser.RuleEngine;
@model TestingViewModel
@using (Ajax.BeginForm("_BuildPanel", new AjaxOptions { UpdateTargetId = "build_panel" }))
{
    <script type="text/javascript">
        $(document).ready(function () {
            var CommFunc = new Utils();

            $(function () {
                if ($("#buildcount").val() == "0") {
                    ShowActionButtons();
                    CommFunc.OpenOKDialog("divdialog", "There are no builds for the selected client.", 300, 150);
                    $("#txtDetailclientName").val('').watermark(" Client's Name");
                    $("#txtDetailurlName").val('').watermark(" Site Url");
                }

            });
            //toggle the build tree
            $('div[id^=' + 'builddetails' + ']').each(function () {
                $(this).toggle();
            });
        });

        //finds the first node of the buildtree and gets the runid
        function findFirstRunAndCall(BuildID, FirstTime) {
            var firstRunID = "";
            $('a[id^=' + 'rundetails' + ']').each(function () {
                firstRunID = $(this).attr("runid");
                return false;
            });
            if(!FirstTime)
                expandMultipleChoices(firstRunID, BuildID);
        }

        //show the run for a build. autoopen autmatically expands the tree and get the first buildid
        function showRuns(buildID, autoOpen,FirstTime) {
            if (autoOpen) {
                var firstBuildID = "";
                $('div[id^=' + 'builddetails' + ']').each(function () {
                    firstBuildID = $(this).attr("buildid");
                    $("#BuildId").val(firstBuildID);
                    return false;
                });
                if (FirstTime)
                    showRuns(firstBuildID);
                findFirstRunAndCall(firstBuildID, FirstTime);
            }
            else {
                findFirstRunAndCall(buildID, false);
            }
        }

        //displays the testcase listing for a build based on a run and buildid
        function expandMultipleChoices(runId, buildId) {

            CommFunc.LoadingDialog("TestcaseRefreshDialog", 250, 200);
            $("#RunId").val(runId);                                             //capture the runid for the shown testcase list
            $("#BuildId").val(buildId);                                         //capture the buildid for the shown testcase list

            //calls the function which gets the testcase data for a build and load it panel
            LoadTestcasePanel();
            $("#RulesPanel").attr("loaded", "true");         
        }

        //loads the testcase list panel for a build
        function LoadTestcasePanel(msg) {
            $("#RulesPanel").load("/NewClient/_TestCasePanel",
            { clientName: $("#txtDetailclientName").val(), siteName: $("#txtDetailurlName").val(),
                multipleChoice: "true,false", selectedRules: "", runId: $("#RunId").val(), buildId: $("#BuildId").val()
            }, function () {
                $("#RulesPanel").attr("style", "display: block;");                  //show the testcase listing screen
                if (msg) {
                    $("#Show_Result_Testcase_Delete").attr("style", "display:block");
                    $("#Show_Result_Testcase_Delete").delay(1000).fadeOut();
                }
                TestcaseClearAll();
                $("#TestcaseRefreshDialog").dialog("close");
            });
        }

    </script>
    @Html.ValidationSummary()
    <div id="TestcaseRefreshDialog" title="Loading please wait..." class="newclient_loading">
        <center>
            <img src="~/Images/Loading.gif" alt="Loading" />
        </center>
    </div>
   <br/> <div class="newclient_testcase_col_four_dt1">
        
        @if (Model != null)
        {
            <input type="hidden" id="buildcount" value="@Model.builds.Count" />
            var rowColor = "#FFFFFF";
            foreach (AccessibilityAnalyser.RuleEngine.Build build in Model.builds)
            {
                var buildID = @build.BuildId;  
                   
                    <a href="javascript:void(0);" onclick="javascript:showRuns('@buildID');" class="newclient_build_col_one_r3_list4 "  style="background-color:@rowColor;">
                        <div id = "@("build" + @build.BuildId + "div")" >
                            <span class="client_col_one_r3_list_txt">@build.BuildName</span>
                        </div>
                    </a>
                    <div id = "@("builddetails" + @build.BuildId + "div")" class="newclient_testcase_col_four_dt_li" buildid="@build.BuildId">
                        @{foreach (AccessibilityAnalyser.BusinessEntities.RunBO runBO in build.runDetails)
                          {
                              var runId = @runBO.RunId;
                              var buildId = @build.BuildId;
                            <div>
                                <a href="javascript:void(0);" onclick="javascript:expandMultipleChoices('@runId','@buildId');" id="@("rundetails" + @runBO.RunId + "div")" runid="@runBO.RunId">
                                    @runBO.RunName
                                </a>
                            </div>                          
                          }
                        }
                </div> 
                          if (rowColor.Equals("#FFFFFF"))
                          {
                              rowColor = "#E6F7F4";
                          }
                          else
                          {
                              rowColor = "#FFFFFF";
                          }
            }
        }
        
    </div>
     
}