﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using System.Collections;
@using AccessibilityAnalyser.BusinessEntities;
@using (Ajax.BeginForm("_EditTestcase", new AjaxOptions { UpdateTargetId = "EditRules" }))
{
    IEnumerable<StandardBO> rulestandards = (IEnumerable<StandardBO>)this.ViewData["RuleStandard"];
    Hashtable RuleName = (Hashtable)this.ViewData["RuleName"];
    var TestcaseDesc = "";
    if (Model != null)
    {
        TestcaseDesc = Model.TestCaseDescription;
    }

    <script type="text/javascript">
        var selectedPriority = [], ArrayDel = [];
        $(document).ready(function () {

            var CommFunc = new Utils();

            /**
            * Standard Drop Down change function
            */
            $("#Standards").change(function () {
                if ($(this).find(":selected").text() == "MAS") {
                    $("input[type=radio]:checked").removeAttr("checked");
                    $('.newclient_ruleList').attr("style", "display:block");
                } else {
                    $("input[type=radio]:checked").removeAttr("checked");
                    $("#MASRulePanel").addClass("HideUI");
                    $("#divCheckAll").addClass("HideUI");//Ajay
                    $('.newclient_ruleList').attr("style", "display:none");
                }
            });

            /**
            * Radion button (Applicable standards) click event
            */
            $("input[type=radio]").click(function () {
                if ($(this).val() == "Auto" && $("#Standards option:selected").text() == "MAS") {
                   
                    $("#divCheckAll").removeClass("HideUI"); //Ajay
                    $("#MASRulePanel").removeClass("HideUI");
                    $("#globalCheckbox").attr("checked", "checked");
                    $('input[type="checkbox"][id*="stdsub_"]').attr("checked", "checked");
                    $('.newclient_border:not(#ManualRule)').attr("style", "display:table-row");
                    $('#ManualRule').attr("style", "display:none");
                }
                else if ($("#Standards option:selected").text() == "MAS") {
                    $("#MASRulePanel").addClass("HideUI");
                    $("#divCheckAll").addClass("HideUI"); //Ajay
                    $('.newclient_border:not(#ManualRule)').attr("style", "display:none");
                    $('#ManualRule').attr("style", "display:table-row");
                }
            });

          
            /**
            * RuleDetails Checkbox click event
            */
            $('#rulesTestCase input[type="checkbox"]:not(#rule_check_all)').click(function () {
                checkAction(this, $(this).is(":checked"));
            });

            /**
            * Rule Checkbox (Applicable sub-standards) click event
            */
            $('#MASRulePanel input[id*=stdsub_]').click(function () {
                ShowHideRules(this); 
                setPriorityValues();
            });

            
            //clear the control values on click of cancel button of testcase screen
            $("#TCClearBtn").click(function () {
                TestcaseClearAll();
            });

            //add or save the testcase on click of add
            $("#TCAddBtn").click(function () {
                if ($("#Standards").find(":selected").text() == "WCAG") {
                    CommFunc.OpenOKDialog("divdialog", "There are no rule(s) mapped for WCAG", 200, 150);
                    return false;
                } else {
                    var ActionName = $("#EditRules").attr("ActionName");
                    var strTestCaseName = $("#tctxtTCName").val();
                    var strTestCaseDesc = $("#ruleDesc").val();
                    var BuildID = $("#BuildId").val();
                    var TestCaseId = ActionName == "Add" ? '' : $("#TestCaseId").val();

                    if (strTestCaseName == '') {
                        CommFunc.OpenOKDialog("divdialog", "Please enter Testcase name", 200, 150);
                        return false;
                    }
                    if (!ItemChecked()) {
                        CommFunc.OpenOKDialog("divdialog", "Please select rules", 250, 150);
                        return false;
                    }

                    var checkRunItems = '';
                    if ($("input[type=radio]:checked").val() == "Auto") {
                        if (!validatePriority()) {
                            CommFunc.OpenOKDialog("divdialog", "Please select different priority for different rules", 250, 150);
                            return false;
                        }
                        $('#tcrulesList tr:visible input[type=checkbox]:not(#rule_check_all)[id*="tcchk_"]:checked').each(function () {
                            checkRunItems += $(this).val() + "~" + $(this).parent().parent().parent().find("select").attr("selvalue") + ",";
                        });
                    }
                    else {
                        $('#tcrulesList #ManualRule input[type="checkbox"]:checked').each(function () {
                            checkRunItems = $(this).val()
                        });
                    }

                    CommFunc.LoadingDialog("TestcaseLoadDialog", 250, 200);

                    $.ajax({
                        url: "/NewClient/_CreateOrUpdateRulesForClient",
                        type: "POST",
                        data: {
                            BuildID: BuildID,
                            TestCaseId: TestCaseId,
                            TestCaseName: strTestCaseName,
                            TestCaseDesc: strTestCaseDesc,
                            checkRunItems: checkRunItems,
                            AddAction: ActionName == 'Add' ? true : false
                        },
                        success: function (Data) {
                            if (Data.Duplicate.toLowerCase() == "true") {
                                CommFunc.OpenOKDialog("divdialog", "The entered Testcase Name already exist. Please provide a different name", 300, 150);
                            } else {
                                if ($("#RunId").val() == '')
                                    findFirstRunAndCall($("#BuildId").val(), false);
                                else
                                    expandMultipleChoices($("#RunId").val(), $("#BuildId").val());
                                TestcaseClearAll();

                                if (ActionName == "Add") {
                                    $("#Result_Testcase_Add").attr("style", "display:block");
                                    $("#Result_Testcase_Add").delay(3000).fadeOut();
                                }
                                else {
                                    $("#Result_Testcase_Save").attr("style", "display:block");
                                    $("#Result_Testcase_Save").delay(3000).fadeOut();
                                }
                            }
                            $("#TestcaseLoadDialog").dialog("close");
                        },
                        error: function () { }
                    });
                }
            });

            function setPriorityValues() {
                var CheckedItems = $("#rulesTestCase tr:visible").find("input[type='checkbox']:not(#rule_check_all):checked");
                selectedPriority = [], ArrayDel = [];
                var CheckCount = CheckedItems.length;
                if (CheckCount > 0) {
                    $(CheckedItems).each(function () {
                        checkAction(this, true);
                    });
                }
            }

            //check if atleat one checkbox is checked
            function ItemChecked() {
                var Checked = false;
                $('#tcrulesList input[type=checkbox]').each(function () {
                    if ($(this).is(':checked')) {
                        Checked = true;
                        return false;
                    }
                });
                return Checked;
            };

            //check if priority is same across 2 rule details. Return true if priority is unique for all ruledetails
            function validatePriority() {
                var ArrayChk = [];
                var Valid = true;
                $("select:not(:disabled)").each(function () {
                    if (ArrayChk.indexOf($(this).attr("selvalue")) == -1)
                        ArrayChk.push($(this).attr("selvalue"));
                    else {
                        Valid = false;
                        return Valid;
                    }
                });
                return Valid;
            }
        });
        //ready function end here

        //show/Hide Rule details
        function ShowHideRules(checkObj) {
            checkObj = $(checkObj);
            var RowObj = '';
            $("#rulesTestCase tr").each(function () {
                RowObj = $(this);
                if (checkObj.is(":checked")) {
                    if (RowObj.attr("id") != "row_check_all" && RowObj.attr("RuleId") == checkObj.attr("RuleId"))
                        RowObj.attr("style", "display:table-row");
                }
                else {
                    if (RowObj.attr("id") != "row_check_all" && RowObj.attr("RuleId") == checkObj.attr("RuleId"))
                        RowObj.attr("style", "display:none");
                }
            });
        }

        //Set the values of controls in edit testcase screen
        function SetControlsforEdit(TestCaseName, TestcaseId, Manual) {
            var RuleId = '', RuleIdArray = [], ArrayRuleid = {};
            $("#EditRules").attr("ActionName", "Save");

            $("#testcasedetails" + TestcaseId + "div li").each(function () {
                ArrayRuleid[$(this).children().attr("id")] = $(this).children().attr("priority");
                if (Manual) {
                    RuleIdArray.push("-1");
                } else {
                    RuleId = $(this).children().attr("ruleid");
                    if (RuleIdArray.indexOf(RuleId) == -1)
                        RuleIdArray.push(RuleId);
                }
            });

            CheckActionRuleID(RuleIdArray);
            //set the testcase name and check the checkbox
            $("#tctxtTCName").val(TestCaseName);
            $("#TestCaseId").val(TestcaseId);
            var RuleId = '', RuleDetailObj = '';

            $("#tcrulesList label").each(function () {
                RuleDetailObj = $(this).parent().children(0);
                RuleId = RuleDetailObj.val();
                if (ArrayRuleid[RuleId])
                    checkAction(RuleDetailObj, true, ArrayRuleid[RuleId]);
                else {
                    checkAction(RuleDetailObj, false, ArrayRuleid[RuleId]);
                }
            });
        }
        //Ajay Check/Unchek All Auto checkboxes 
        
        function CheckAllMAS(Obj) {
            var isChecked = $(Obj).is(":checked");
            if (isChecked) {
                $('input[type="checkbox"][id*="stdsub_"]').each(function () {
                    $('input[type="checkbox"][id*="stdsub_"]').attr('checked', "checked");
                    $('.newclient_border:not(#ManualRule)').attr("style", "display:table-row");
                });
            }
            else {
                $('input[type="checkbox"][id*="stdsub_"]').removeAttr('checked');
                $('.newclient_border:not(#ManualRule)').attr("style", "display:none");
              }
          }


        //check all the child checkboxes
        function CheckAll(Obj) {
            selectedPriority = []; ArrayDel = [];
            var isChecked = $(Obj).is(":checked");
            if ($("input[type=radio]:checked").val() == "Auto") {
                $('input[type="checkbox"][id*="tcchk_"]').each(function () {
                    checkAction($(this), isChecked);
                });
            }
            else {
                $("#ManualRule input[type='checkbox']").each(function () {
                    checkAction($(this), isChecked);
                });
            }
        }

        /**
        *  Check/Uncheck the checkbox of ruledetails and automatically set the rule priority for the ruledetail
        */
        function checkAction(obj, isChecked, selValue) {
            var SelObj = $(obj).parent().parent().parent().find("select")
            if ($(obj).parent().parent().parent().is(":visible")) {
                if (isChecked) {
                    $(obj).attr("checked", "checked");
                    //$(obj).parent().parent().parent().addClass('newClient_Stickhighlight');
                    if (SelObj.get(0)) {
                        SelObj.removeAttr("disabled");
                        EnablePriority(SelObj, selValue);
                        if (SelObj.attr("selvalue") != '')
                            SelObj.find("option[value=" + SelObj.attr("selvalue") + "]").attr("selected", "selected");
                        else
                            SelObj.find("option[value=" + selectedPriority.length + "]").attr("selected", "selected");
                    }
                } else {
                    //$(obj).parent().parent().parent().removeClass('newClient_Stickhighlight');
                    $(obj).removeAttr("checked");
                    if (SelObj.get(0)) {
                        SelObj.attr("disabled", "disabled");
                        if (SelObj.attr("selvalue") != '') {
                            selectedPriority.pop(SelObj.attr("selvalue"));
                            ArrayDel.push(SelObj.attr("selvalue"));
                        }
                    }
                }
            }
        }

        /**
        * Set the priority of the rule
        */
        function EnablePriority(obj, selValue) {
            var SelObj = "";
            if (obj[0].nodeName == "SELECT")
                SelObj = obj;
            else
                SelObj = $(obj).parent();
            if (selectedPriority.indexOf($(SelObj).attr("selvalue")) != -1)
                selectedPriority.pop($(SelObj).attr("selvalue"));
            if (ArrayDel.length > 0) {
                selValue = ArrayDel.sort()[0];
                selectedPriority.push(selValue);
                ArrayDel.shift();
                $(SelObj).attr("selvalue", selValue);
            } else {
                selectedPriority.push(selectedPriority.length + 1);
                if (selValue)
                    $(SelObj).attr("selvalue", selValue);
                else
                    $(SelObj).attr("selvalue", selectedPriority.length);
            }
        }

        
        function SelectChange(SelObj) {
            $(SelObj).attr("selvalue", $(SelObj).find(":selected").val());
        }

        //clear all the  controls in edit testcase
        function TestcaseClearAll() {
            $("#EditRules").attr("ActionName", "Add");
            $("#tctxtTCName").val('').watermark("Test Case Name");
            $("#ruleDesc").val('');
            $("input[type=radio]:checked").removeAttr("checked");
            $("#MASRulePanel input[type=checkbox]:checked").removeAttr("checked");
            selectedPriority = []; ArrayDel = [];
            $("#MASRulePanel").addClass("HideUI");
            $("#rulesTestCase tr:not(#row_check_all)").attr("style", "display:none");
            $('#tcrulesList input[type=checkbox]').each(function () {
                if ($(this).is(':checked')) {
                    $(this).removeAttr("checked");
                    //$(this).parent().parent().parent().removeClass('newClient_Stickhighlight');
                    selectedPriority = [];
                    var Obj = $(this).parent().parent().parent().find("select");
                    Obj.attr("disabled", "disabled");
                    Obj.attr("selvalue", '');
                }
            });
        }

       
    </script>
    @Html.ValidationSummary()
    <div id="TestcaseLoadDialog" title="Loading please wait..." class="newclient_loading">
        <center>
            <img src="~/Images/Loading.gif" alt="Loading" />
        </center>
    </div>
    <div class="client_testcase_name_div">
        <input type="hidden" id="TestCaseId" />
        <span class="client_testcase_text"><b>Testcase Name</b></span>
        <input id="tctxtTCName" type="text" class="newclient_textBox1"/>
    </div>
    <div class="client_testcase_name_div">
        <span class="client_testcase_text"><b>Testcase Description<b></span>
    </div>
    <div class="client_testcase_desc_div">
        <textarea id="ruleDesc" class="client_testcase_textarea" rows="5" cols="50">@TestcaseDesc</textarea>
    </div>
    <div class="client_testcase_name_div">
        <span class="client_testcase_text"><b>Standards</b></span>
                
            <select id="Standards" class="client_testcase_dropdownlist">

            @foreach (var item in rulestandards)
            {
                <option value="@item.StandardId">@item.StandardTitle</option>
            }
        </select>
    </div>
    <div class="client_testcase_name_div">
        <span class="client_testcase_std_text"><b>Applicable Standards</b></span>
        <input type="radio" class="client_testcase_radio" name="StandardsType" value="Manual" />
        <label class="client_testcase_radio_text">Manual</label>
        <input type="radio" class="client_testcase_radio" name="StandardsType" value="Auto" />
        <label class="client_testcase_radio_text">Auto</label>
        @*Ajay added*@
        <div id="divCheckAll" class="HideUI">
            <input type="checkbox" id="globalCheckbox" value="All" class="client_testcase_radio" onclick="CheckAllMAS(this)" name="StandardsType" />
            <label class="client_testcase_radio_text">Check/Uncheck All</label>
        </div>
    </div>
    <div class="client_testcase_name_div HideUI" id="MASRulePanel">
        <span class="client_testcase_text"><b>Applicable Sub-Standards</b></span>
        @foreach (var item in rulestandards)
        {
            <div id="@item.StandardTitle" standardId="@item.StandardId" class="standardDiv">
                @if (RuleName.ContainsKey(item.StandardId))
                {
                    var Rulename = new string[2];
                    foreach (string str in RuleName[item.StandardId].ToString().Split(','))
                    {
                        Rulename = @str.Split('~');
                        <span class="client_testcase_SubStd">
                            @*Ajay - checked="checked"*@<input type="checkbox" class="client_testcase_checkbox" id="stdsub_@Rulename[1]" value="@Rulename[0]" RuleId="@Rulename[1]"/>
                        <label class="client_testcase_radio_text">@Rulename[0]</label>
                        </span>
                    }
                }
            </div>
        }
    </div>
    <div class="newclient_col_one_r1 newclient_ruleList">
        <table border="1" width="95%" class="">
            <tr>
                <td>
                    <fieldset title="Rules" class="newclient_ruleList_fieldset">
                        <legend align="center"><b>&nbsp; Rules &nbsp; </b></legend>
                        <div id="tcrulesList" class="newclient_ruleList_innerdiv">
                            <table id="rulesTestCase" class="newClientRule">
                                <tr class="newClient_rule_Header" id="row_check_all">
                                    <th>
                                        <input type="checkbox" id="rule_check_all" class="newclient_ruleList_checkBox_checkall" onclick="CheckAll(this)" />
                                        <label class="newclient_ruleList_checkall_label">Select All</label>
                                    </th>
                                    <th>
                                        <label class="newclient_ruleList_priority_label">Priority</label>
                                    </th>
                                </tr>
                                @foreach (RuleDetailBO RuleDetail in ViewBag.strRuleList)
                                {
                                    if (RuleDetail.RuleDetailName != "Manual Rule")
                                    {
                                        var count = 1;
                                        <tr class="newclient_border" RuleId="@RuleDetail.RuleId" style="display:none;width:100%">
                                            <td>
                                                <div id="tcdiv_@RuleDetail.RuleDetailId" class="newClient_rule_chkbxdiv">
                                                    <input type="checkbox" id="tcchk_@RuleDetail.RuleDetailId" class="newclient_ruleList_checkBox" value="@RuleDetail.RuleDetailId"/>
                                                    <label id="tc_@RuleDetail.RuleDetailId">@RuleDetail.RuleDetailName</label>
                                                </div>
                                            </td>
                                            <td>                            
                                                <select class="newclient_ruleList_select" disabled="disabled" id="select_@RuleDetail.RuleDetailId" selvalue="" onchange="SelectChange(this)">
                                                    @foreach (RuleDetailBO RuleDetail1 in ViewBag.strRuleList)
                                                    {
                                                        if (RuleDetail1.RuleDetailName != "Manual Rule")
                                                        {
                                                            <option id="@RuleDetail.RuleDetailId@count" value="@count">@count</option>    
                                                            count++;
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr id="ManualRule" class="newclient_border" ruleid="ManualRule" style="display: none;
                                            width: 100%">
                                            <td>
                                                <div id="ManualRule_div" class="newClient_rule_chkbxdiv">
                                                    <input id="maualchcekbox" type="checkbox" class="newclient_ruleList_checkBox" value="@RuleDetail.RuleDetailId"/>
                                                    <label id="tc_@RuleDetail.RuleDetailId">@RuleDetail.RuleDetailName</label>
                                                </div>
                                            </td>
                                            <td style="width: auto">
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>
    <div class="client_testcase_name_div_btn">
        <a class="newclient_tescase_save_btn" id="TCAddBtn">Save</a> 
        <a class="newclient_tescase_clear_btn" id="TCClearBtn">Clear</a>
        <label id="Result_Testcase_Add" class="newclient_result_label">Testcase added sucessfully</label>
        <label id="Result_Testcase_Save" class="newclient_result_label">Testcase saved sucessfully</label>
    </div>
}