﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using AccessibilityAnalyser.RuleEngine;
@using AccessibilityAnalyser.Web.UI.Models;
@using (Ajax.BeginForm("_TestCasePanel", new AjaxOptions { UpdateTargetId = "RulesPanel" }))
{   
    <script type="text/javascript">
        $(document).ready(function () {

            if ($("#testing_col_one_r3_list").children().get(0)) {
                var buildName = $("#build" + $("#BuildId").val() + "div").children().html();
                $("#testing_col_one_r3_list").children().children().children()[0].innerText = " " + buildName + "  ";
            }


            var CommFunc = new Utils();
            //toggle the testcase tree
            $('div[id^=' + 'testcasedetails' + ']').each(function () {
                $(this).toggle();
            });

            //shows the add testcase screen
            $('.client_col_left_list_add_icon').click(function (event) {
                event.stopPropagation();

            });

            //$("#testing_col_one_r3_list").sortable();
            //$("#testing_col_one_r3_list").disableSelection();


            //delete the case
            $('.client_col_left_list_del_icon').click(function (event) {
                event.stopPropagation();
                var TestCaseId = $(this).parent().parent().attr("id");
                $("#ConfirmBox").html('');

                //ask for the user confirmation
                var Html = '<div id="Message" style="height:60%"><font size="2">Are you sure you want to delete the Test Case</font></div>';
                Html += '<div id="Buttons"><table><tr><td class="popup_button_ok" id="OkConfirmClick" ><center>Ok</center></td>';
                Html += '<td>&nbsp;</td><td class="popup_button_ok" id="CancelClick"><center>Cancel</center></td>';
                Html += '</tr></table></div>';
                $("#ConfirmBox").html(Html);
                $("#ConfirmBox").dialog({
                    modal: true,
                    width: 230,
                    height: 150
                });

                //if confirmed then delete the testcase from database
                $("#OkConfirmClick").click(function () {
                    $("#ConfirmBox").dialog("close");
                    //$("#ConfirmBox").dialog('destroy').remove();

                    CommFunc.LoadingDialog("TestcaseDeleteDialog", 250, 200);
                    $.ajax({
                        url: '/NewClient/_DeleteTestCase',
                        type: 'POST',
                        data: {
                            TestCaseId: TestCaseId
                        },
                        success: function () {
                            $("#TestcaseDeleteDialog").dialog("close");
                            LoadTestcasePanel(true);
                        },
                        error: function () { }
                    });
                });
                $("#CancelClick").click(function () {
                    $("#ConfirmBox").dialog("close");
                });
            });

            //shows the testcase with the loaded data for edit
            $('.client_col_left_list_edit_icon').click(function (event) {
                event.stopPropagation();
                var TestCaseName = $(this).parent().find("span")[1].innerHTML;
                var TestcaseId = $(this).parent().parent().attr("id");
                var Manual = $(this).attr("manual");
                $("#EditRules").attr("ActionName", "Save");

                $("#EditRules").load("/NewClient/_EditTestcase",
                { TestcaseId: TestcaseId },
                function () { SetControlsforEdit(TestCaseName, TestcaseId, Manual); });
            });
        });

        //show the rules under the testcase
        function showRules(testCaseID, testCaseColor) {
            var testcaseDiv = $("#testcasedetails" + testCaseID + "div");
            if (testcaseDiv.is(':visible')) {
                testcaseDiv.slideUp();
                var divID = "testcase" + testCaseID + "div";
                var SpanElem = $("#" + divID + " span:first-child").html('+');
            }
            else {
                testcaseDiv.slideDown();
                var divID = "testcase" + testCaseID + "div";
                var SpanElem = $("#" + divID + " span:first-child").html('-');
            }
        }

        function CheckActionRuleID(RuleIdArray) {
            if (RuleIdArray.length == 1 && RuleIdArray[0] == "-1") {
                $("input[type=radio][value='Manual']").attr("checked", "checked");
                $("#MASRulePanel").addClass("HideUI");
                $('.newclient_border:not(#ManualRule)').attr("style", "display:none");
                $('#ManualRule').attr("style", "display:table-row");
                $("#rule_check_all").attr("checked", "checked");
                CheckAll($("#rule_check_all"));
            }
            else {
                $("#MASRulePanel").removeClass("HideUI");
                $("input[type=radio][value='Auto']").attr("checked", "checked");
            }
            var StandardId = '';
            $("#MASRulePanel input[type='checkbox']").each(function () {
                if (RuleIdArray.indexOf($(this).attr("RuleId")) != -1) {
                    $(this).attr("checked", "checked");
                    StandardId = $(this).parent().attr("standardId");
                }
                else
                    $(this).removeAttr("checked");
                $("#Standards option[value='" + StandardId + "']").attr("selected", "selected");
                ShowHideRules(this);
            });
        }

    </script>
    @Html.ValidationSummary()
    <div id="TestcaseDeleteDialog" title="Deleting please wait..." class="newclient_loading">
        <center>
            <img src="~/Images/Loading.gif" alt="Loading" />
        </center>
    </div>
    if (Model != null)
    { 
        <div class="client_rules_list_txt" id="testing_col_one_r3_list">
            @if (Model != null)
            {
                <fieldset title="Build" class="client_testcase_fieldset">
                <legend align="center"><b>BuildName</b></legend>
                <div class="client_testcase_fieldset_inner_div">
                @{
                var rowColor = "#FFFFFF";
                //var count = Model.testCases
                foreach (AccessibilityAnalyser.RuleEngine.TestCase testcase in Model.testCasesPaged)
                {
                    var testCaseID = @testcase.TestCaseId;
                    var testCaseColor = rowColor;
                    var manualTestcase = (testcase.ruleDetails.Count == 1 && !testcase.ruleDetails[0].IsAutomated) ? true : false;
                        
                        <div>
                    <a href="javascript:void(0);" onclick="javascript:showRules('@testCaseID','@rowColor');" id="@testCaseID">
                
                    <div id = "@("testcase" + @testcase.TestCaseId + "div")" class="newclient_testcase_col_one_r3_list4" style="background-color:@rowColor;">
                        <span class="client_col_one_r3_list_L_icon_view">+</span>
                        <span class="testing_col_one_r3_list_txt">@testcase.TestCaseName</span>
                        <span class="client_col_left_list_add_icon" id="AddTCBtn"/>
                        <span class="client_col_left_list_del_icon" title="Delete Testcase" id="DelTCBtn" />
                        <span class="client_col_left_list_edit_icon" title="Edit Testcase" id="@("EditTCBtn" + @testcase.TestCaseId)" manual="@manualTestcase" />
                        </div>               
                    </a>
                    <div id = "@("testcasedetails" + @testcase.TestCaseId + "div")" class="newclient_testcase_col_one_r3_list4_sub_li" style="background-color:@rowColor;">
                       <ul type="1">
                            @{
                    var count = 1;
                    foreach (AccessibilityAnalyser.BusinessEntities.RuleDetailBO ruleDetailBO in testcase.ruleDetails)
                    {
                        var ruleDetailId = @ruleDetailBO.RuleDetailId;
                        var isAutomated = @ruleDetailBO.IsAutomated;
                        var iPriority = (testcase.testrulemapDetails.Count != 0) ? testcase.testrulemapDetails.Single(obj => obj.RuleDetailId == ruleDetailId).Priority : 0;
                        var iRuleId = @ruleDetailBO.RuleId;
                            <li>
                                 <label id="@ruleDetailId" priority="@iPriority" ruleid="@iRuleId">@ruleDetailBO.RuleDetailName</label>
                            </li>    
                        count++;
                    }
                            }
                        </ul>
                    </div>
                    </div>
                    if (rowColor.Equals("#FFFFFF"))
                    {
                        rowColor = "#E6F7F4";
                    }
                    else
                    {
                        rowColor = "#FFFFFF";
                    }
                }
                }
                </div>
                <label id="Show_Result_Testcase_Delete" class="newclient_result_label"> Testcase deleted sucessfully</label>
                </fieldset>
            }
        </div>
    }
}