﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using AccessibilityAnalyser.BusinessEntities;
@using System.Collections;
@model TestingViewModel
@{
    ViewBag.Title = "New Client Page";
}
<script type="text/javascript" src="~/Scripts/CommonFunctions.js"></script>
<script type="text/javascript" src="~/Scripts/NewClient.js"></script>


<input type="hidden" id="ShowTestCaseDialog" />
<input id="hdnClientName" name="hdnClientName" type="hidden" />
<div id="HarnessSecClient">
    <div id="divdialog" title="Notification" class="NotificationDialog newclient_loading">
    </div>
    <div id="ConfirmBox" title="Delete TestCase" style="display: none">
    </div>
    <aside>
        <div class="newclient_sliderexbg" id="trigger">
            <div class="newclient_trigger">
            </div>
        </div>
        <div class="divpanel" style="display: none;">
            <a href="..\Rules\Index">
                <div class="rulelinkwraper">
                    <div class="rulelinktextwraper">
                        Rules <span class="rulesicon"></span>
                    </div>
                </div>
            </a><a href="..\NewClient\Index">
                <div class="newclientlinkwraper">
                    <div class="newclientlinktextwraper">
                        Client <span class="newclienticon"></span>
                    </div>
                </div>
            </a><a id="ExecutionPageLink" href="..\Execution\Index">
                <div class="executionlinkwraper">
                    <div class="executionlinktextwraper">
                        Execution <span class="executionicon"></span>
                    </div>
                </div>
            </a><a id="TestingPageLink">
                <div class="testinglinkwraper">
                    <div class="testinglinktextwraper">
                        Testing <span class="testingicon"></span>
                    </div>
                </div>
            </a><a href="..\Reporting\Index">
                <div class="reportinglinkwraper">
                    <div class="reportinglinktextwraper">
                        Reporting <span class="reporticon"></span>
                    </div>
                </div>
            </a>
        </div>
    </aside>
    <section>
        <div class="newclient_col_two_in_one" id="newclient_main_div">
            <div class="newclient_col_two">
                <div id="ClientDiv" class="client_div">
                    <div id="ClientBar" class="newclient_client_bar">
                        <span class="newclient_col_right_hd_txt">Client</span> 
                        <span id="AddClient" class="add_client_Btn" />
                    </div>
                    <div id="ClientDetails">
                        <table width="100%" border="3">
                            <tr>
                                <td style="width:1%">
                                    <input id="txtDetailclientName" type="text" class="client_textBox1"/>
                                </td>
                                <td style="width:31.5%">
                                    <input id="txtDetailurlName" type="text" class="client_textBox1_url"/>
                                    <div class="client_col_two_icon_search" id="SearchBtn" onclick="ShowActionButtons()" />
                                </td>
                                <td id="actionbtns" class="client_button_td HideUI">
                                <span>
                                    <a href="#" class="client_button_testcase" onclick="ShowTestcase()"><b><span class="client_testlabel">Testcase &nbsp;&nbsp;&nbsp;vs. Rules </span> </b></a>
                                    <a href="#" class="client_button_datasource" onclick="ShowDatasource()"><b> Data Source </b></a>
                                    <a href="#" class="client_button_user" onclick="ShowUser()"><b><span class="client_userlabel">Users vs. Roles </span> </b></a>                                
                                </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="AddClientDialog" title="Add Client" class="client_clientDialog HideUI">
                        <div id="divClientView" class="newclient_col_one_r1">
                            <span class="newclient_col_one_r1_padd">Client Name</span>
                            <input type="text" id="txtclientName" class="newclient_textBox2" />
                        </div>
                        <div id="divUrlName" class="newclient_col_one_r1">
                            <span class="newclient_col_one_r1_padd">URL Name</span>
                            <input type="text" id="txturlName" class="newclient_textBox2" />
                        </div>
                        <div class="newclient_col_one_r1">
                            <span class="newclient_col_one_r1_padd">Build Name</span>
                            <input id="txtBuildName" type="text" class="newclient_textBox2" />
                        </div>
                        <div class="newclient_col_one_r1">
                            <span class="newclient_col_one_r1_padd">Run Name</span>
                            <input id="txtRunName" type="text" class="newclient_textBox2" />
                        </div>
                        <a href="#" id="AddBtn" class="newclient_button1">Add</a> <a href="#" id="ClearBtn"
                            class="newclient_button2">Clear</a> 
                    </div>
                </div>
                <div class="page_construction_label HideUI"><center> is under construction</center></div>
                 <div id="clientactionscreen" class="client_action_div">
                        <div id="actionBar">
                            <span></span>
                        </div>
                        <div id="testcasepanel" class="HideUI" loaded="true">
                            <div class="client_buildpanel" id="build_panel">
                                @{Html.RenderPartial("_BuildPanel", Model);}
                            </div>
                            <div id="RulesPanel" class="client_rulepanel" loaded="false">
                                @{Html.RenderPartial("_TestCasePanel", Model);}
                            </div>
                            <div id="EditRules" class="client_editrules_panel" ActionName="Add">
                               @{Html.RenderPartial("_EditTestcase", Model);}
                            </div>
                            <div id="Show_Result_Client_Add" class="newclient_result_label_div">
                                <center>
                                    <label class="newclient_result_label"> Client added sucessfully</label>
                                </center>
                            </div>
                        </div>
                        
                 </div>                
            </div>
        </div>
    </section>
    @Html.HiddenFor(x => x.runId, new { id = "RunId" })
    @Html.HiddenFor(x => x.buildId, new { id = "BuildId" })
</div>
