﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using AccessibilityAnalyser.RuleEngine;
@model TestingViewModel
@using (Ajax.BeginForm("_MiddlePanelViolations", new AjaxOptions { UpdateTargetId = "divMiddlePanelViolations" }))
{
    <script type="text/javascript">

        function loadBugVerifyerwithUrl(violationId, renderUrl, isAutomated, sourceElement, sourceLineNumber) {
            if (violationId == "searchViolationId") {
                $("#testing_col_three_padd").load("/Testing/_RightPanelForSearchViolations",
                { violationId: $("#searchViolationId").val() == "" ? 0 : $("#searchViolationId").val(), IsAutomated: isAutomated },
                applyStyle($("#searchViolationId").val()));
            }
            else {
                $("#testing_col_three_padd").load("/Testing/_RightPanelForSearchViolations",
                { violationId: violationId, IsAutomated: isAutomated },
                applyStyle(violationId));
            }

            RenderURLFromMiddlePanelViolations(violationId, renderUrl, sourceElement, sourceLineNumber);
        }

    </script>
    <div class="testing_col_two_padd_LR">
    @if (Model != null)
    {
        <div class="testing_col_two_r4">Violations</div>               
        
        var ruleDetailId = Model.ruleDetailId;
        if (@ruleDetailId != 0)
        {
                                <div class="testing_col_two_radio">
                                @if (@Model.ViolationTypeSelected == "All")
                                {
                                    <input class="marginTop3" type="radio" value="All" name="All" checked=checked onchange = "javascript:getViolations('@ruleDetailId', 'All','','@Model.TotalRecords','@Model.AcceptedCount','@Model.DeclinedCount','@Model.TestCaseId');" />
                                    <span class="vilationtop">@("All") (@Model.TotalRecords)</span>                                
                                }
                                else
                                {
                                    <input class="marginTop3" type="radio" value="All" name="All" onchange = "javascript:getViolations('@ruleDetailId', 'All','','@Model.TotalRecords','@Model.AcceptedCount','@Model.DeclinedCount','@Model.TestCaseId');" />
                                    <span class="vilationtop">@("All")(@Model.TotalRecords)</span>                                
                                }

                                @if (@Model.ViolationTypeSelected == "Declined")
                                {
                                    <input class="marginTop3" type="radio"  value="Declined" name="Declined" checked="checked" onchange = "javascript:getViolations('@ruleDetailId', 'Declined','','@Model.TotalRecords','@Model.AcceptedCount','@Model.DeclinedCount','@Model.TestCaseId');" />
                                    <span class="vilationtop">@("Declined")(@Model.DeclinedCount)</span>
                                }
                                else
                                {
                                    <input class="marginTop3" type="radio"  value="Declined" name="Declined" onchange = "javascript:getViolations('@ruleDetailId', 'Declined','','@Model.TotalRecords','@Model.AcceptedCount','@Model.DeclinedCount','@Model.TestCaseId');" />
                                    <span class="vilationtop">@("Declined")(@Model.DeclinedCount)</span>
                                }

                                @if (@Model.ViolationTypeSelected == "Accepted")
                                {
                                    <input class="marginTop3" type="radio"  value="Accepted" name="Accepted" checked=checked onchange = "javascript:getViolations('@ruleDetailId','', 'Accepted','@Model.TotalRecords','@Model.AcceptedCount','@Model.DeclinedCount','@Model.TestCaseId');" />
                                    <span class="vilationtop">@("Accepted")(@Model.AcceptedCount)</span>     
                                }
                                else
                                {
                                    <input class="marginTop3" type="radio" value="Accepted" name="Accepted" onchange = "javascript:getViolations('@ruleDetailId', 'Accepted','','@Model.TotalRecords','@Model.AcceptedCount','@Model.DeclinedCount','@Model.TestCaseId');" />
                                    <span class="vilationtop">@("Accepted")(@Model.AcceptedCount)</span>
                                } 
                                &nbsp;&nbsp;<b><span class="vilationtop">@("Rule : ")(@Model.RuleName)</span> </b>
                                                                                                                                                     
                                </div>
        }
                        <div class="testing_col_two_r5_container">
                        <div class="testing_col_two_r5_li_scroller" id="divViolationListScroller">                        
                            @if (Model.violations.Count > 0)
                            {
                                var violationCount = 0;
                                foreach (AccessibilityAnalyser.BusinessEntities.ViolationBO violationBO in Model.violations)
                                {
                                    var violationId = violationBO.ViolationId;
                                    var renderUrl = violationBO.SourceURL;
                                    var isAutomated = Model.IsAutomated;
                                    var sourceLineNumber = violationBO.SourceLineNumber;
                                    var sourceElement = HttpUtility.UrlEncode(violationBO.SourceElement);
                                    
                                @*<div class="testing_col_two_r5_hd">@violationBO.ViolationName</div>          *@                      
                                <a href="javascript:void(0);" onclick="javascript:loadBugVerifyerwithUrl('@violationId','@renderUrl', '@isAutomated.ToString().ToLower()','@sourceElement','@sourceLineNumber');" id="@violationId">
                                    @if (violationId != Model.violationId)
                                    {
                                        var violationClass = "testing_col_two_r5_li_" + violationCount % 2;
                                        var violationDesc = (!string.IsNullOrEmpty(violationBO.SourceElement) && violationBO.SourceElement.Length > 100) ? violationBO.SourceElement.Substring(0, 100) + "..." : violationBO.SourceElement;
                                    <div class="@violationClass" id="@("div_" + @violationId)">
                                    <p> Violation Name:@violationBO.ViolationName</p>
                                    <p>Violation Description: @violationBO.ViolationDescription</p>
                                    <p>Line No: @violationBO.SourceLineNumber</p>  
                                    <p>Source URL: @violationBO.SourceURL</p>                                                                    
                                    <p>Source Element: <label title="@violationBO.SourceElement">@violationDesc</label> </p>     
                                    </div>     
                                    }
                                    else
                                    {
                                    <div class="testing_col_two_r5_li_checked" id="@("div_" + @violationId)">                                    
                                    <p> Violation Name:@violationBO.ViolationName</p>
                                    <p>Violation Description: @violationBO.ViolationDescription</p>
                                    <p>Line No: @violationBO.SourceLineNumber</p>  
                                    <p>Source URL: @violationBO.SourceURL</p>                                                                    
                                    <p>Source Element: @violationBO.SourceElement</p>   
                                    </div>  
                                    }                                              	  
                                </a>  
                                    ++violationCount;
                                }
                            }
                            else if (Model.getviolation != null)
                            {
                                <p style="font-weight:bold;">No Violations Found</p>
                            }
                            </div>
                       </div>
    }
    </div>
}
                       