﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using AccessibilityAnalyser.RuleEngine;
@model TestingViewModel
@using (Ajax.BeginForm("_MiddlePanelViolationsPaging", new AjaxOptions { UpdateTargetId = "divMiddlePanelViolationsPaging" }))
{
    <script type="text/javascript">
        function getPaginatedRecords(paging, statPageNo, endPageNo, currentpageNo) {
            $("#Loading").dialog("open");

            $.ajax({
               // async: false,
                url: "/Testing/GetPaginatedViolationsDetails", type: "POST",
                data: { paginate: paging, startIndex: statPageNo, endIndex: endPageNo, pageNo: currentpageNo },
                success: function (data) {
                    $("#spnPageDet")[0].innerHTML = data[0] + ' - ' + data[1] + ' of ' + data[3];
                    if (data[2] > 0)
                        $("#Previous")[0].style.display = 'block';
                    else
                        $("#Previous")[0].style.display = 'none';


                    if (data[3] > 10 && (data[2] + 1 < data[4] || data[1] < data[3]))
                        $("#next")[0].style.display = 'block';
                    else
                        $("#next")[0].style.display = 'none';
                }
            });

            $.ajax({
               // async: false,        
                url: "/Testing/GetPaginatedViolations", type: "POST",
                data: { paginate: paging, startIndex: statPageNo, endIndex: endPageNo, pageNo: currentpageNo },
                success: function (response) {                    
                    $("#divMiddlePanelViolations").html(response);
                    $("#Loading").dialog("close");
                }
            });
        }


    </script>
    
    <div style=" float: right;margin-right: 14px;height:0px; top:10px;">
    @if (@Model != null)
    {
        if (Model.violations.Count > 0)
        {
            <div class="testing_col_two_radio_page">
                
            <span id="Previous" onclick=" javascript:getPaginatedRecords('previous', '@Model.StartIndex', '@Model.EndIndex', '@Model.PageNo'); " class="testing_col_one_r4_pre_icon_page">
            </span>
                
            <span id="spnPageDet" class="vilationtopPaginate">@Model.StartIndex - @Model.EndIndex of @Model.TotalFilteredRecords</span>
                
            @if (Model.TotalFilteredRecords > 10 && (@Model.PageNo < @Model.TotalPage))
            {
            <span id="next" onclick=" javascript:getPaginatedRecords('next', '@Model.StartIndex', '@Model.EndIndex', '@Model.PageNo'); " class="testing_col_one_r4_nxt_icon_page">
            </span>
            }

            </div>
        }
        
    }
    </div>
    
}