﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using AccessibilityAnalyser.RuleEngine;
@model TestingViewModel
@using (Ajax.BeginForm("_RightFilter", new AjaxOptions { UpdateTargetId = "testing_textBox_image_box" }))
{
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('div[id^=' + 'builddetails' + ']').each(function () {
                $(this).toggle();
            });
        });

        function showRuns(buildID) {            
            if ($("#builddetails" + buildID + "div").is(':visible')) {
                $("#builddetails" + buildID + "div").slideUp();
            }
            else {
                $("#builddetails" + buildID + "div").slideDown();                
            }
        }

        function expandMultipleChoices(runId, buildId) {
            LoadingOpenDialog();
            $("#RunId").val(runId);
            $("#BuildId").val(buildId);
            $("#testing_col_one_r2_check").slideDown();
            $("#multipleChoiceDiv").removeClass('testing_col_one_arrow_down');
            $("#multipleChoiceDiv").addClass('testing_col_one_arrow_up');
            $("#DivLoad").attr("loaded", "false");
            $("#testing_col_one_all_rows").load("/Testing/_LeftPanel",
            { clientName: $("#clientName").val(), siteName: $("#siteName").val() },
            function () {
                successGrid();
            }
            );
            
        }

    </script>
    @Html.ValidationSummary()
    <div class="testing_col_four_dt1">
        @if (Model != null)
        {
            foreach (AccessibilityAnalyser.RuleEngine.Build build in Model.builds)
            {
                var buildID = @build.BuildId;                    
            <a href="javascript:void(0);" onclick="javascript:showRuns('@buildID');">
                <div id = "@("build" + @build.BuildId + "div")">                    
                    <span class="testing_col_one_r3_list_txt">@build.BuildName</span>                    
                </div>
            </a>
            <div id = "@("builddetails" + @build.BuildId + "div")" class="reportview_col_four_dt_li">
                @{
                foreach (AccessibilityAnalyser.BusinessEntities.RunBO runBO in build.runDetails)
                {
                    var runId = @runBO.RunId;
                    var buildId = @build.BuildId;
                    <div>                       
                        <a href="javascript:void(0);" onclick="javascript:expandMultipleChoices('@runId','@buildId');">                        
                            @runBO.RunName
                        </a> 
                    </div>                          
                }
                }
            </div>               
            }
        }
    </div>
     
}