﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@using AccessibilityAnalyser.RuleEngine;
@model TestingViewModel
@using (Ajax.BeginForm("_RightPanel", new AjaxOptions { UpdateTargetId = "testing_col_three_padd" }))
{
    <script type="text/javascript">
        function loadBugVerifyer(violationId, isAutomated) {
            if (violationId == "searchViolationId") {
                $("#testing_col_three_padd").load("/Testing/_RightPanelForSearchViolations",
                { violationId: $("#searchViolationId").val() == "" ? 0 : $("#searchViolationId").val(), IsAutomated: isAutomated },
                applyStyle($("#searchViolationId").val()));
            }
            else {
                $("#testing_col_three_padd").load("/Testing/_RightPanelForSearchViolations",
                { violationId: violationId, IsAutomated: isAutomated },
                applyStyle(violationId));
                }
            }

        $(document).ready(function () {
            $("#violationId").watermark("Bug ID");
            $("#searchViolationId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Testing/QuickSearchViolation", type: "POST", dataType: "json",
                        data: { searchText: request.term },
                        success: function (data) {
                            var result = data;
                            if (result !== null) {
                                var a = [];
                                for (var i = 0; i < result.length; i++) {
                                    a.push({ label: result[i].label });
                                }
                                response(a);
                            } else {
                                response(null);
                            }
                        }
                    })
                }
            });
        });
        $.fx.speeds._default = 500;
      
        
        function saveBug(violationId) { 
//        if(!ValidateStatus()){
//            return false;
//        }
//        else{
            if (ValidateSave()) {
                    $.ajax({
                        type: "POST",
                        url: "/Testing/SaveBug",
                        data: { violationDescription: $("#violationDescription").val(),
                            violationRecommendations: $("#violationRecommendations").val(),
                            status: 'F'
                        },
                        success:
                    function (data) {
                        if (data.success == false) {
                            if (data.message != undefined) {
                                $("#divdialog").html('');
                                $("#divdialog").append('<font size="2">' + data.message + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                                $("#divdialog").dialog("open");

                                $("#OkClick").click(function () {
                                    $("#divdialog").dialog("close");
                                });
                            }
                        }
                        else {
                            getViolationsWithoutRefreshRightPanel($("#SelectedRules").val().toString().split(',').pop(), $("#ViolationTypeSelected").val(),violationId);                         

                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">Changes to the bug successfully saved</font><center><div class="popup_button_ok" id="OkClick" >OK</div><center>');
                            $("#divdialog").dialog("open");      

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });                                                   
                        }
                    },
                        error: function (req, status, error) {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">Failed to save changes to the bug</font><center><div class="popup_button_ok" id="OkClick" >OK</div><center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });
                        }
                    });
                    return true;
                }
                else {
                    return false;
                }
                return false;
 //           }
        }

        function saveBugForManual() {
            if (ValidateSave()) {
                $.ajax({
                    type: "POST",
                    url: "/Testing/SaveBugForManual",
                    data: { violationDescription: $("#violationDescription").val(),
                        violationRecommendations: $("#violationRecommendations").val(),
                        status: 'F',
                        violationName: $("#violationName").val(),
                        violationSourceURL: $("#violationSourceURL").val(),
                        violationSourceElement: escapeHtml($("#violationSourceElement").val())
                    },
                    success:
                function (data) {
                    if (data.success == false) {
                        if (data.message != undefined) {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">' + data.message + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });
                        }
                    }
                    else {
                        getViolationsForManual($("#SelectedRules").val().toString().split(',').pop(), $("#ViolationTypeSelected").val());

                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Changes to the bug successfully saved</font><center><div class="popup_button_ok" id="OkClick" >OK</div><center>');
                        $("#divdialog").dialog("open");

                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });
                    }
                },
                    error: function (req, status, error) {
                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Failed to save changes to the bug</font><center><div class="popup_button_ok" id="OkClick" >OK</div><center>');
                        $("#divdialog").dialog("open");

                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });
                    }
                });
                return true;
            }
            else {
                return false;
            }
            return false;
        }

        function declineBug(violationId) { 
//            if(!ValidateStatus()){
//                return false;
//            }
//            else{
                if (ValidateSave()) {
                    $.ajax({
                        type: "POST",
                        url: "/Testing/DeclineBug",
                        data: { violationDescription: $("#violationDescription").val(),
                            violationRecommendations: $("#violationRecommendations").val(),
                            status: 'D'
                        },
                        success:
                    function (data) {
                        if (data.success == false) {
                            if (data.message != undefined) {
                                $("#divdialog").html('');
                                $("#divdialog").append('<font size="2">' + data.message + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                                $("#divdialog").dialog("open");

                                $("#OkClick").click(function () {
                                    $("#divdialog").dialog("close");
                                });
                            }
                        }
                        else {
                           getViolationsWithoutRefreshRightPanel($("#SelectedRules").val().toString().split(',').pop(), $("#ViolationTypeSelected").val(),violationId); 

                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">Bug declined successfully</font><center><div class="popup_button_ok" id="OkClick"> OK</div></center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });                         
                        }
                    },
                        error: function (req, status, error) {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">Failed to decline the bug</font><center><div class="popup_button_ok" id="OkClick">  OK</div></center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            }); 
                        }
                    });
                    return true;
                }
                else {
                    return false;
                }
                return false;
//            }
        }

        function declineBugForManual(violationId) {
            if (ValidateSave()) {
                $.ajax({
                    type: "POST",
                    url: "/Testing/DeclineBugForManual",
                    data: { violationDescription: $("#violationDescription").val(),
                        violationRecommendations: $("#violationRecommendations").val(),
                        status: 'D'
                    },
                    success:
                function (data) {
                    if (data.success == false) {
                        if (data.message != undefined) {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">' + data.message + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });
                        }
                    }
                    else {
                        getViolationsWithoutRefreshRightPanel($("#SelectedRules").val().toString().split(',').pop(), $("#ViolationTypeSelected").val(),violationId);

                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Bug declined successfully</font><center><div class="popup_button_ok" id="OkClick"> OK</div></center>');
                        $("#divdialog").dialog("open");

                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });                           
                    }
                },
                    error: function (req, status, error) {
                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Failed to decline the bug</font><center><div class="popup_button_ok" id="OkClick">  OK</div></center>');
                        $("#divdialog").dialog("open");

                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        }); 
                    }
                });
                return true;
            }
            else {
                return false;
            }
            return false;
        }

        function verifyBug(violationId) {
//            if(!ValidateStatus()){
//                return false;
//            }
//            else {
                if (ValidateSave()) {
                    $.ajax({
                        type: "POST",
                        url: "/Testing/VerifyBug",
                        data: { violationDescription: $("#violationDescription").val(),
                            violationRecommendations: $("#violationRecommendations").val(),
                            status: 'F'
                        },
                        success:
                    function (data) {
                        if (data.success == false) {
                            if (data.message != undefined) {
                                $("#divdialog").html('');
                                $("#divdialog").append('<font size="2">' + data.message + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                                $("#divdialog").dialog("open");

                                $("#OkClick").click(function () {
                                    $("#divdialog").dialog("close");
                                });
                            }
                        }
                        else {
                            getViolationsWithoutRefreshRightPanel($("#SelectedRules").val().toString().split(',').pop(), $("#ViolationTypeSelected").val(),violationId);

                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">Bug accepted successfully</font><center><div class="popup_button_ok" id="OkClick">  OK</div></center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });                       
                        }
                    },
                        error: function (req, status, error) {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">Failed to accept the bug</font><center><div class="popup_button_ok" id="OkClick">  OK</div></center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });
                        }
                    });
                    return true;
                }
                else {
                    return false;
                }
                return false;
 //           }           
        }

        function verifyBugForManual(violationId) {
            if (ValidateSave()) {
                $.ajax({
                    type: "POST",
                    url: "/Testing/VerifyBugForManual",
                    data: { violationDescription: $("#violationDescription").val(),
                        violationRecommendations: $("#violationRecommendations").val(),
                        status: 'F'
                    },
                    success:
                function (data) {
                    if (data.success == false) {
                        if (data.message != undefined) {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">' + data.message + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                            $("#divdialog").dialog("open");

                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });
                        }
                    }
                    else {
                        getViolationsWithoutRefreshRightPanel($("#SelectedRules").val().toString().split(',').pop(), $("#ViolationTypeSelected").val(),violationId);

                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Bug accepted successfully</font><center><div class="popup_button_ok" id="OkClick">  OK</div></center>');
                        $("#divdialog").dialog("open");

                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });                       
                    }
                },
                    error: function (req, status, error) {
                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Failed to accept the bug</font><center><div class="popup_button_ok" id="OkClick">  OK</div></center>');
                        $("#divdialog").dialog("open");

                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });
                    }
                });
                return true;
            }
            else {
                return false;
            }
            return false;
        }

        function ValidateAdd() {
        
            var comment = "";
            var flag = true;

            if ($("#violationName").val() == "") {
                comment += "Please enter violation name\n";
                flag = false;
            }
            else if ($("#violationDescription").val() == "") {
                comment += "Please enter violation description\n";
                flag = false;
            }
            else if ($("#violationRecommendations").val() == "") {
                comment += "<span style='width:310px'>Please enter recommendation\n</span>";
                flag = false;
            }
            else if ($("#violationSourceURL").val() == "") {
                comment += "Please enter SourceURL\n";
                flag = false;
            }
            else if ($("#violationSourceElement").val() == "") {
                comment += "Please enter source element\n";
                flag = false;
            }
            else if (!ValidateWebAddress($("#violationSourceURL").val())) {
                comment += "<span style='width:310px'>Please enter valid URL\n</span>";
                flag = false;
            }

            if (flag == false) {
                $("#divdialog").html('');
                $("#divdialog").append('<font size="2">' + comment + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                $("#divdialog").dialog("open");

                $("#OkClick").click(function () {
                    $("#divdialog").dialog("close");
                });
            }
            return flag;
        }

        function ValidateSave() {
            var comment = "";
            var flag = true;

            if ($("#violationDescription").val() == "" && $("#violationRecommendations").val() == "") {
                comment = "Please enter violation description and recommendation";
                flag = false;
            }
            else {
                if ($("#violationDescription").val() == "") {
                    comment += "Please enter description\n";
                    flag = false;
                }
                if ($("#violationRecommendations").val() == "") {
                    comment += "<span style='width:310px'>Please enter recommendation\n</span>";
                    flag = false;
                }
            }
            if (flag == false) {
                $("#divdialog").html('');
                $("#divdialog").append('<font size="2">' + comment + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                $("#divdialog").dialog("open");

                $("#OkClick").click(function () {
                    $("#divdialog").dialog("close");
                });
            }
            return flag;
        }

        function getNextViolation(violationId) {        
            $("#testing_col_three_padd").load("/Testing/GetNextViolation",
            {},
            function () { });

            var target = $("#divMiddlePanelViolations");

            $.ajax({
                url: "/Testing/_MiddlePanelViolations", type: "POST",
                data: { ruleDetailId: 0 },
                success: function (response) {
                    var markup = $(response);
                    markup.appendTo(target);

                    //  loading graphic
                    $("#Loading").dialog("close");

                    var divid="#div_"+violationId.toString();                    
                    $("#divViolationListScroller").animate({ scrollTop:($(divid).attr("offsetTop")-$("#divViolationListScroller").attr("offsetTop")) +110}, 100);                    
                }
            })

            // loading graphic
            LoadingOpenDialog();

            // remove existing content
            target.children().remove();
        }

        function getPreviousViolation(violationId) {        
            $("#testing_col_three_padd").load("/Testing/GetPreviousViolation",
            {},
            function () { });

            var target = $("#divMiddlePanelViolations");

            $.ajax({
                url: "/Testing/_MiddlePanelViolations", type: "POST",
                data: { ruleDetailId: 0 },
                success: function (response) {
                    var markup = $(response);
                    markup.appendTo(target);

                    //  loading graphic
                    $("#Loading").dialog("close");

                    var divid="#div_"+violationId.toString();                                        
                    $("#divViolationListScroller").animate({ scrollTop:($(divid).attr("offsetTop")-$("#divViolationListScroller").attr("offsetTop")) -130}, 100);                                                            
                }
            })

            // loading graphic
            LoadingOpenDialog();

            // remove existing content
            target.children().remove();
        }

        function ValidateWebAddress(url) {
            //var webSiteUrlExp = /^(([\w]+:)?\/\/)?(([\d\w]|%[a-fA-f\d]{2,2})+(:([\d\w]|%[a-fA-f\d]{2,2})+)?@@)?([\d\w][-\d\w]{0,253}[\d\w]\.)+[\w]{2,4}(:[\d]+)?(\/([-+_~.\d\w]|%[a-fA-f\d]{2,2})*)*(\?(&?([-+_~.\d\w]|%[a-fA-f\d]{2,2})=?)*)?(#([-+_~.\d\w]|%[a-fA-f\d]{2,2})*)?$/;

            var webSiteUrlExp = /^((http|https):\/\/(\w+:{0,1}\w*@@)?(\S+)|)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@@!\-\/]))?$/;
            if (webSiteUrlExp.test(url)) {
                return true;
            }
            else {
                return false;
            }
        }

        function Fix_url(url) {
            if (url.substr(0, 7) == 'http://') { return url; }
            if (url.substr(0, 8) == 'https://') { return url; }
            return 'http://' + url;
        }

        function SaveNewBug() {
            if (ValidateAdd()) {
                $.ajax({
                    type: "POST",
                    url: "/Testing/SaveNewBug",
                    data: {
                        violationName: $("#violationName").val(),
                        violationDescription: $("#violationDescription").val(),
                        violationRecommendations: $("#violationRecommendations").val(),
                        violationSourceURL: Fix_url($("#violationSourceURL").val()),
                        violationSourceElement: escapeHtml($("#violationSourceElement").val()),
                        runId: $("#RunId").val(),
                        IsAutomated: false,
                        testcaseName: $("#hdtcName").val()
                    },
                    success:
                function (data) {
                    if (data.success == false) {
                        if (data.message != undefined) {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">' + data.message + '</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                            $("#divdialog").dialog("open");
                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });
                        }
                    }
                    else {
                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Added new violation successfully</font><center><div class="popup_button_ok" id="OkClick"> OK</div></center>');
                        $("#divdialog").dialog("open");
                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });
                        getViolations($("#SelectedRules").val().toString().split(',').pop(), $("#ViolationTypeSelected").val());
                    }
                     expandMultipleChoices($("#RunId").val(),$("#BuildId").val());
                },
                    error: function (req, status, error) {
                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Failed to add violation</font><center><div class="popup_button_ok" id="OkClick"> OK</div></center>');
                        $("#divdialog").dialog("open");
                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });
                    }
                });
                return true;
            }
            else {
                return false;
            }
            return false;
        }

        var entityMap = {
                        "&": "&amp;",
                        "<": "&lt;",
                        ">": "&gt;",
                        '"': '&quot;',
                        "'": '&#39;',
                        "/": '&#x2F;'
                        };

      function escapeHtml(string) {
        return String(string).replace(/[&<>"'\/]/g, function (s) {
          return entityMap[s];
        });
      }


        
        function ValidateStatus(){             
         var tstValue = true;
                $.ajax({
                    async: false,
                    type: "POST",
                    url: "/Testing/VerifyLogStatus",
                    data: { },
                    success:
                function (data) {
                    if (data == "I" || data == "i") {
                        tstValue = false;
                        $("#divdialog").html('');
                        $("#divdialog").append('<font size="2">Execution is Inprogress. Please wait</font><center><div class="popup_button_ok" id="OkClick">OK</div></center>');
                        $("#divdialog").dialog("open");
                        $("#OkClick").click(function () {
                            $("#divdialog").dialog("close");
                        });                                                
                    }
                },
                    error: function (req, status, error) {
                        return true;
                    }
                });
            return tstValue;
        }

        $(function () {
            $("#divdialog").dialog({ autoOpen: false, show: "blind" });
        });

    </script>
    <div id="divdialog" title="Notification" class="NotificationDialog">
    </div>
    
    if (Model != null)
    {  
    <div class="testing_col_three_top_row">
        @if (Model.violationId != null && Model.violationId != 0)
        {
            <input type="text" class="testing_textBox4" id="searchViolationId" value="@Model.violationId"/>        
        }
        else
        {
            <input type="text" class="testing_textBox4" id="searchViolationId" />        
        }
        <a href="javascript:void(0);" onclick="javascript:loadBugVerifyer('searchViolationId', '@Model.IsAutomated.ToString().ToLower()');"
            style="text-decoration: none;">
            <div class="testing_col_three_icon_search">
            </div>
        </a>
    </div>    
    <div class="testing_col_three_r1">
        <span class="testing_col_three_r1_txt">Bug Reporting</span>
        <div class="testing_col_expand">
            <span class="testing_col_expand_arrow"><a onclick="javascript:BugReport_collapse();">
                <img src="~/Images/arrow_left.png"></a> </span>
        </div>
    </div>
    <div class="testing_col_three_r2_container">
        <div class="testing_col_three_r2a">
            @if (!Model.getNextViolation.IsLastItem)
            {   
                <a class="testing_next_button" href="javascript:void(0);" onclick="javascript:getNextViolation('@Model.violation.ViolationId');">
                    Next </a>
            }
            else
            {     
                <a class="testing_next_button" href="javascript:void(0);" onclick="javascript:void(0);">
                    Next </a>
            }
            @if (!Model.getNextViolation.IsFirstItem)
            {                                      
                <a class="testing_next_button" href="javascript:void(0);" onclick="javascript:getPreviousViolation('@Model.violation.ViolationId');">
                    Previous </a>                    
            }
            else
            {                    
                <a class="testing_next_button" href="javascript:void(0);" onclick="javascript:void(0);">
                    Previous </a>                    
            }
            @if (Model.IsAutomated == false)
            {
                <div class="testing_col_three_r2a_L_txt2" id="divViolationName">
                    Violation Name:
                    <input type="text" id="violationName" value="@Model.violation.ViolationName"/>
                </div>
            
                <div class="testing_col_three_r2b">
                    <div class="testing_col_three_r2b_pad">
                        <span class="testing_col_three_r2b_txt1">Violations Description:</span> <span>
                            <textarea class="testing_col_three_txtarea" name="" cols="" rows="" id="violationDescription">@Model.violation.ViolationDescription</textarea></span>
                    </div>
                </div>
                <div class="testing_col_three_r2b">
                    <div class="testing_col_three_r2b_pad">
                        <span class="testing_col_three_r2b_txt1">Violations Recommendation:</span> <span>
                            <textarea class="testing_col_three_txtarea" name="" cols="" rows="" id="violationRecommendations">@Model.violation.Recomandation</textarea></span>
                    </div>
                </div>
            }
            else
            {
                <div class="testing_col_three_r2b">
                    <div class="testing_col_three_r2b_pad">
                        <span class="testing_col_three_r2b_txt1">Violations Description:</span> <span>
                            <textarea class="testing_col_three_txtarea1" name="" cols="" rows="" id="violationDescription">@Model.violation.ViolationDescription</textarea></span>
                    </div>
                </div>
                <div class="testing_col_three_r2b">
                    <div class="testing_col_three_r2b_pad">
                        <span class="testing_col_three_r2b_txt1">Violations Recommendation:</span> <span>
                            <textarea class="testing_col_three_txtarea1" name="" cols="" rows="" id="violationRecommendations">@Model.violation.Recomandation</textarea></span>
                    </div>
                </div>
            }
            @if (Model.IsAutomated == false)
            {
                <div class="testing_col_three_r2b" id="div_sourceurl2">
                    <div class="testing_col_three_r2b_pad">
                        <span class="testing_col_three_r2b_txt1">Source URL:</span> <span>
                            <input type="text" id="violationSourceURL" value="@Model.violation.SourceURL"/>
                        </span>
                    </div>
                </div>

                <div class="testing_col_three_r2b" id="div_sourceelement2">
                    <div class="testing_col_three_r2b_pad">
                        <span class="testing_col_three_r2b_txt1">Source Element:</span> <span>
                            <input type="text" id="violationSourceElement" value="@Model.violation.SourceElement"/></span>
                    </div>
                </div>
            }
            @if (Model.IsAutomated == true)
            {
                <div class="testing_col_three_r2c">
                    <a class="testing_org_button" href="javascript:void(0);" onclick="javascript:saveBug('@Model.violation.ViolationId');">
                        Save </a><a class="testing_org_button" href="javascript:void(0);" onclick="javascript:declineBug('@Model.violation.ViolationId');">
                            Decline </a><a class="testing_org_button2" href="javascript:void(0);" onclick="javascript:verifyBug('@Model.violation.ViolationId');">
                                Accept</a>
                </div>
            }
            else
            {
                if (Model.SearchViolation == "Search")
                {
                <div class="testing_col_three_r2c">
                    <a class="testing_org_button" href="javascript:void(0);" onclick="javascript:saveBugForManual();">
                        Save </a><a class="testing_org_button" href="javascript:void(0);" onclick="javascript:declineBugForManual('@Model.violation.ViolationId');">
                            Decline </a><a class="testing_org_button2" href="javascript:void(0);" onclick="javascript:verifyBugForManual('@Model.violation.ViolationId');">
                                Accept </a>
                </div>
                }
                else if (Model.SearchViolation == "Save")
                {
                <div class="testing_col_three_r2c">
                    <a class="testing_org_button" onclick="javascript:SaveNewBug();">Add </a><a class="testing_org_button"
                        onclick="javascript:void(0);">Decline </a><a class="testing_org_button2" onclick="javascript:void(0);">Accept </a>
                </div>
                }
                else
                {
                <div class="testing_col_three_r2c_manual" id="manualButtons2">
                    <a class="testing_org_button" onclick="javascript:SaveNewBug();">Add </a>
                </div>
                }
            }
        </div>
    </div>
    }
    else
    {
    <div class="testing_col_three_top_row">
        @Html.TextBoxFor(violation => Model.violationId, new { @class = "testing_textBox4" })
        <div class="testing_col_three_icon_search">
        </div>
    </div>
    <div class="testing_col_three_r1">
        <span class="testing_col_three_r1_txt">Bug Reporting</span>
        <div class="testing_col_expand">
            <span class="testing_col_expand_arrow"><a onclick="javascript:BugReport_collapse();">
                <img src="~/Images/arrow_left.png"></a> </span>
        </div>
    </div>
    <div class="testing_col_three_r2_container">
        <div class="testing_col_three_r2a">
            <div class="testing_col_three_r2a_L">
                <span class="testing_col_three_r2a_L_txt1"></span>
            </div>
            <a class="testing_next_button">Next </a><a class="testing_next_button">Previous
            </a>
        </div>
        <div class="testing_col_three_r2a_L_txt2">
            <span class="testing_col_three_r2b_txt1">Violation Name:</span> <span>
                <input type="text" /></span>
        </div>
        <div class="testing_col_three_r2b">
            <div class="testing_col_three_r2b_pad">
                <span class="testing_col_three_r2b_txt1">Violations Description:</span> <span>
                    <textarea class="testing_col_three_txtarea" name="" cols="" rows=""></textarea></span>
            </div>
        </div>
        <div class="testing_col_three_r2b">
            <div class="testing_col_three_r2b_pad">
                <span class="testing_col_three_r2b_txt1">Violations Recommendation:</span> <span>
                    <textarea class="testing_col_three_txtarea" name="" cols="" rows=""></textarea></span>
            </div>
        </div>
        <div class="testing_col_three_r2b" id="div_sourceurl">
            <div class="testing_col_three_r2b_pad">
                <span class="testing_col_three_r2b_txt1">Source URL:</span> <span>
                    <input type="text" />
                </span>
            </div>
        </div>
        <div class="testing_col_three_r2b" id="div_sourceelement">
            <div class="testing_col_three_r2b_pad">
                <span class="testing_col_three_r2b_txt1">Source Element:</span> <span>
                    <input type="text" /></span>
            </div>
        </div>
        <div class="testing_col_three_r2c">
            <a class="testing_org_button">Save </a><a class="testing_org_button">Decline </a>
            <a class="testing_org_button2">Accept </a>
        </div>
    </div>
    }
}