﻿@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.Web.UI.ViewModels;
@model TestingViewModel
@{
    ViewBag.Title = "Testing Page";
}
<script type="text/javascript" src="~/Scripts/CommonFunctions.js"></script>
<script type="text/javascript">
    var CommFunc = new Utils();
    $(document).ready(function () {

        document.getElementById("siteName").addEventListener("keydown", function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                getBuildsAndRuns();
            }
        }, false);
        
        $('#ReportingPageLink').click(function () {
            var strclientName = CommFunc.getUrlQueryString(window.location.href, "clientName");
            if (strclientName != '') {
                window.location.href = $(this).attr('href') + "?clientName=" + strclientName;
                return false;
            }
        });

        $("#clientName").autocomplete({ source: "/Testing/QuickSearchClient" });
        $("#clientName").watermark("Client's Name");
        $("#siteName").watermark("Site URL");
        $("#violationId").watermark("Bug ID");
        $("#siteName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Testing/QuickSearchUrlName", type: "POST", dataType: "json",
                    data: { searchText: request.term, clientName: $("#clientName").val() },
                    success: function (data) {
                        var result = data;
                        if (result !== null) {
                            var a = [];
                            for (var i = 0; i < result.length; i++) {
                                a.push({ label: result[i].label });
                            }
                            response(a);
                        } else {
                            response(null);
                        }
                    }
                })
            }

           
        });

        var count = 0;
        $(".testing_trigger").click(function () {
            $(".divpanel").toggle("slow");
            $(this).toggleClass("active");

            if (count == 0) {
                $("#divLogo").removeClass('logo');
                $("#divLogo").addClass('logo_Expand');
                $("#HarnessSec").removeClass('Testing_Parent');
                $("#HarnessSec").addClass('Testing_Parent_Expand');
                count++;
            }
            else if (count != 0) {
                $("#divLogo").removeClass('logo_Expand')
                $("#divLogo").addClass('logo');
                $("#HarnessSec").removeClass('Testing_Parent_Expand');
                $("#HarnessSec").addClass('Testing_Parent');
                count = 0;
            }
            return false;

        });
    });

    function showRules(testCaseID, testCaseColor) {
        if ($("#testcasedetails" + testCaseID + "div").is(':visible')) {
            $("#testcasedetails" + testCaseID + "div").slideUp();
            $("#testcasedetails" + testCaseID + "div").css('background-color', testCaseColor);
            $("#testcase" + testCaseID + "div").css('background-color', testCaseColor);

        }
        else {
            $("#testcasedetails" + testCaseID + "div").slideDown();
            $("#testcasedetails" + testCaseID + "div").css('background-color', '#FDFAD0');
            $("#testcase" + testCaseID + "div").css('background-color', '#FDFAD0');
        }
    }

    function showTestcases() {
        if ($("#testing_col_one_r3_list").is(':visible')) {
            $("#testing_col_one_r3_list").slideUp();
            $("#testCaseDiv").removeClass('testing_col_one_arrow_up');
            $("#testCaseDiv").addClass('testing_col_one_arrow_down');
        }
        else {
            $("#testing_col_one_r3_list").slideDown();
            $("#testCaseDiv").removeClass('testing_col_one_arrow_down');
            $("#testCaseDiv").addClass('testing_col_one_arrow_up');
        }
    }

    function showMultipleChoices() {
        if ($("#testing_col_one_r2_check").is(':visible')) {
            $("#testing_col_one_r2_check").slideUp();
            $("#multipleChoiceDiv").removeClass('testing_col_one_arrow_up');
            $("#multipleChoiceDiv").addClass('testing_col_one_arrow_down');
        }
        else {
            $("#testing_col_one_r2_check").slideDown();
            $("#multipleChoiceDiv").removeClass('testing_col_one_arrow_down');
            $("#multipleChoiceDiv").addClass('testing_col_one_arrow_up');
        }
    }

    function maintainStatus(ruleDetailId) {
        if ($("#SelectedRules").val() == "") {
            $("#SelectedRules").val($("#SelectedRules").val() + ruleDetailId);
        }
        else {
            $("#SelectedRules").val($("#SelectedRules").val() + ',' + ruleDetailId);
        }
    }

    function getViolations(ruleDetailId, violationType, IsAutomated, violationCount, acceptedCount, declinedCount, testId) {
 
        var target = $("#divMiddlePanelViolations");

        $("#ViolationTypeSelected").val(violationType);

        maintainStatus(ruleDetailId);

        $.ajax({
            url: "/Testing/_MiddlePanelViolations", type: "POST",
            data: { ruleDetailId: ruleDetailId, selectedRules: $("#SelectedRules").val(), getviolation: 0,
                violationType: violationType, selectedViolationType: $("#ViolationTypeSelected").val(), rulesViolationsCount: violationCount, acceptedViolationsCount: acceptedCount, declinedViolationsCount: declinedCount
            },
            success: function (response) {
                var markup = $(response);
                markup.appendTo(target);

                //  loading graphic
                $("#Loading").dialog("close");

                //callback(true);
            }
        })

        //Code to bind _MiddlePanelViolationsPaging also

        var targetPaging = $("#divMiddlePanelViolationsPaging");
        $.ajax({
            url: "/Testing/_MiddlePanelViolationsPaging", type: "POST",
            data: { ruleDetailId: ruleDetailId, selectedRules: $("#SelectedRules").val(), getviolation: 0,
                violationType: violationType, selectedViolationType: $("#ViolationTypeSelected").val(), rulesViolationsCount: violationCount, acceptedViolationsCount: acceptedCount, declinedViolationsCount: declinedCount, testCaseId: testId
            },
            success: function (response) {         
                $("#divMiddlePanelViolationsPaging").html(response);
            }
        })

        // loading graphic
        LoadingOpenDialog();

        // remove existing content
        target.children().remove();

        $("#testing_col_three_padd").load("/Testing/_RightPanel",
        { violationId: 0, IsAutomated: IsAutomated },
        function () { });
    }

    function getViolationsWithoutRefreshRightPanel(ruleDetailId, violationType, violationId) {
        var target = $("#divMiddlePanelViolations");

        $("#ViolationTypeSelected").val(violationType);
        var refresh = 'Refresh';
        maintainStatus(ruleDetailId);

        $.ajax({
            url: "/Testing/_MiddlePanelViolations", type: "POST",
            data: { ruleDetailId: ruleDetailId, selectedRules: $("#SelectedRules").val(), getviolation: 0,
                violationType: violationType, selectedViolationType: $("#ViolationTypeSelected").val(), refreshPanel: refresh
            },
            success: function (response) {
                var markup = $(response);
                markup.appendTo(target);

                //  loading graphic
                $("#Loading").dialog("close");

                //for scrolling to selected violation, after save/decline/verify operation.
                var divid = "#div_" + violationId.toString();
                $("#divViolationListScroller").animate({ scrollTop: ($(divid).attr("offsetTop") - $("#divViolationListScroller").attr("offsetTop")) - 10 }, 100);
            }
        })


        var targetPaging = $("#divMiddlePanelViolationsPaging");
        $.ajax({
            url: "/Testing/_MiddlePanelViolationsPaging", type: "POST",
            data: { ruleDetailId: ruleDetailId, selectedRules: $("#SelectedRules").val(), getviolation: 0,
                violationType: violationType, selectedViolationType: $("#ViolationTypeSelected").val(), refreshPanel: refresh
            },
            success: function (response) {
                $("#divMiddlePanelViolationsPaging").html(response);
                //$("#Loading").dialog("close");
            }
        })

        // loading graphic
        LoadingOpenDialog();

        // remove existing content
        target.children().remove();

        //        $("#testing_col_three_padd").load("/Testing/_RightPanel",
        //        { violationId: 0, IsAutomated: IsAutomated },
        //        function () { });
    }

    var successGrid = function () {
        $("#testing_col_one_r2_check").toggle();
        $("#multipleChoiceDiv").addClass('testing_col_one_arrow_up');
        $("#multipleChoiceDiv").removeClass('testing_col_one_arrow_down');
    }

    function getViolationsForManual(ruleDetailId, violationType, IsAutomated) {
        var target = $("#divMiddlePanelViolations");

        $("#ViolationTypeSelected").val(violationType);

        maintainStatus(ruleDetailId);

        $.ajax({
            url: "/Testing/_MiddlePanelViolations", type: "POST",
            data: { ruleDetailId: ruleDetailId, selectedRules: $("#SelectedRules").val(), getviolation: 0,
                violationType: violationType, selectedViolationType: $("#ViolationTypeSelected").val()
            },
            success: function (response) {
                var markup = $(response);
                markup.appendTo(target);

                //  loading graphic
                $("#Loading").dialog("close");

                //callback(true);
            }
        })

        // loading graphic
        LoadingOpenDialog();

        // remove existing content
        target.children().remove();

        $("#testing_col_three_padd").load("/Testing/_RightPanelAfterSaveForManual",
        { violationId: 0, IsAutomated: IsAutomated },
        function () { });
    }

    var successGrid = function () {
        $("#testing_col_one_r2_check").toggle();
        $("#multipleChoiceDiv").addClass('testing_col_one_arrow_up');
        $("#multipleChoiceDiv").removeClass('testing_col_one_arrow_down');
    }

    function LoadingOpenDialog() {
        $("#Loading").dialog({
            width: 250,
            height: 200,
            autoOpen: true,
            //show: "blind",
            hide: { effect: "drop", direction: "down" },
            modal: true
        });
    };

    function getViolationsFromLeftPanel(ruleDetailId, violationType, IsAutomated, violationCount, acceptedCount, declinedCount, testId, testcaseName) {
        $("#Loading").dialog("open");
        var iframe = document.getElementById('url_iframe');
        
        var iframedoc = iframe.contentWindow.document;
        if (iframedoc != null && iframedoc != undefined) {
            iframedoc.open();
            iframedoc.writeln('');
            iframedoc.close();
            RenderURLFromLeftPanel($("#siteName").val());
        }
        $("#hdtcName").val(testcaseName);
        var target = $("#divMiddlePanelViolations");
        $("#ViolationTypeSelected").val(violationType);
        maintainStatus(ruleDetailId);
        $.ajax({
            url: "/Testing/_MiddlePanelViolations", type: "POST",
            data: { ruleDetailId: ruleDetailId, selectedRules: $("#SelectedRules").val(), getviolation: 0,
                violationType: violationType, selectedViolationType: $("#ViolationTypeSelected").val(), rulesViolationsCount: violationCount, acceptedViolationsCount: acceptedCount, declinedViolationsCount: declinedCount, testCaseId: testId
            },
            success: function (response) {
                $("#divMiddlePanelViolations").html(response);
                $("#Loading").dialog("close");
            }
        })
        
        var targetPaging = $("#divMiddlePanelViolationsPaging");
        $.ajax({
            url: "/Testing/_MiddlePanelViolationsPaging", type: "POST",
            data: { ruleDetailId: ruleDetailId, selectedRules: $("#SelectedRules").val(), getviolation: 0,
                violationType: violationType, selectedViolationType: $("#ViolationTypeSelected").val(), rulesViolationsCount: violationCount, acceptedViolationsCount: acceptedCount, declinedViolationsCount: declinedCount, testCaseId: testId
            },
            success: function (response) {
                $("#divMiddlePanelViolationsPaging").html(response);
            }
        })
        
        // remove existing content
        target.children().remove();
        
        $("#testing_col_three_padd").load("/Testing/_RightPanelForGettingViolations",
        { violationId: 0, IsAutomated: IsAutomated },
        function () { });
    }

    var successGrid = function () {
        var Loaded = $("#DivLoad").attr("loaded");
        $("#testing_col_one_r2_check").toggle();
        $("#multipleChoiceDiv").addClass('testing_col_one_arrow_up');
        $("#multipleChoiceDiv").removeClass('testing_col_one_arrow_down');
        if (Loaded == "false") {
            if ($("#testing_col_one_r2_check").is(':visible')) {
                $("#testing_col_one_r2_check input[type=checkbox]").each(function () {
                    $(this).attr("checked", "checked");
                });
                getTestCases();
                $("#DivLoad").attr("loaded", "true");
               
            }
        }
    }

    function getTestCases() {
        GetMultipleChoices();
        $("#testing_col_one_all_rows").load("/Testing/_LeftPanel",
        { clientName: $("#clientName").val(), siteName: $("#siteName").val(), multipleChoice: $("#MultipleChoice").val(),
            selectedRules: $("#SelectedRules").val(), runId: $("#RunId").val(), buildId: $("#BuildId").val()
        },
        function () {
            successGrid();
            $("#Loading").dialog("close");
        });

        //        $("#testing_col_two_r2").load("/Testing/_MiddlePanel",
        //        { ruleDetailId: 0, IsAutomated: true },
        //        function () { });
        //        $("#testing_col_three_padd").load("/Testing/_RightPanel",
        //        { violationId: 0, IsAutomated: true },
        //        function () {
        //            $("#divSourceURL").html('');
        //            $('#divSourceURL').append('Source URL: <a href="' + $("#siteName").val() + '">' + $("#siteName").val() + '</a>');
        //         });
    }

    function GetMultipleChoices() {
        var div = document.getElementById('testing_col_one_r2_check');
        var textLog = '';
        var chk = div.getElementsByTagName('input');
        var len = chk.length;

        for (var i = 0; i < len; i++) {
            if (chk[i].type === 'checkbox') {
                if (chk[i].checked) {
                    textLog += chk[i].name + ',';
                }
            }
        }
        document.getElementById('MultipleChoice').value = textLog.substring(0, textLog.length - 1);
    }

    function getBuildsAndRuns() {
        var iframe = document.getElementById('url_iframe');
        var iframedoc = iframe.contentWindow.document;
        if (iframedoc != null && iframedoc != undefined) {
            iframedoc.open();
            iframedoc.writeln('');
            iframedoc.close();
        }

        if ($("#clientName").val() == '') {
            $("#divdialog").html('');
            $("#divdialog").append('<font size="2">Please enter client name</font><center><div class="popup_button_ok" id="OkClick">  Ok</div></center>');
            $("#divdialog").dialog("open");

            $("#OkClick").click(function () {
                $("#divdialog").dialog("close");
            });
            return false;
        }

        if ($("#siteName").val() == '') {
            $("#divdialog").html('');
            $("#divdialog").append('<font size="2">Please enter site URL</font><center><div class="popup_button_ok" id="OkClick">  Ok</div></center>');
            $("#divdialog").dialog("open");

            $("#OkClick").click(function () {
                $("#divdialog").dialog("close");
            });
            return false;
        }
        if ($("#clientName").val() != '' && $("#siteName").val() != '') {
        var url = $("#siteName").val();
            if (ValidateWebAddress(url)) 
            {
                $.ajax({
                    url: "/Testing/ValidateData",
                    type: "POST",
                    data: { clientName: $("#clientName").val(), site: url },
                    success: function (response) {
                        if (response.Valid && response.Valid.toLowerCase() == "true") {
                            $("#divdialog").html('');
                            $("#divdialog").append('<font size="2">Please enter valid Client and URL</font><center><div class="popup_button_ok" id="OkClick">  Ok</div></center>');
                            $("#divdialog").dialog("open");
                            $("#OkClick").click(function () {
                                $("#divdialog").dialog("close");
                            });
                            return false;
                        }
                        else {
                            $("#reportview_textBox_image_box").load("/Testing/_RightFilter",
                            { clientName: $("#clientName").val(), siteName: $("#siteName").val() },
                            function () { });

                            RenderURL($("#siteName").val());
                        }
                    }
                }); 
            
            }
        }
        
//        $("#reportview_textBox_image_box").load("/Testing/_RightFilter",
//                { clientName: $("#clientName").val(), siteName: $("#siteName").val() },
//                function () { });

//        RenderURL($("#siteName").val());
    }

    var html_stringFromLeftPanel = '';
    function RenderURLFromLeftPanel(renderUrl) {
        $.ajax({
            url: '../../Helper/PageHandler.ashx?url=' + renderUrl,
            success: function (data) {
                html_stringFromLeftPanel = data;
            }
        });

        window.setTimeout('SetHTMlTextFromLeftPanel()', 10000);
    }

    function SetHTMlTextFromLeftPanel() {
        // loading graphic               
        SetBaseHost();
        var iframe = document.getElementById('url_iframe');
        var iframedoc = iframe.contentWindow.document;
        if (iframedoc != null && iframedoc != undefined) {
            iframedoc.open();
            iframedoc.writeln(html_stringFromLeftPanel);
            iframedoc.close();
        }
        else {
            alert('Preview not available!.');
        }
        html_stringFromLeftPanel = '';
    }

    function applyStyle(violationId) {
        var otherViolationId = 0;
        $("div[id^=div_]").each(function () {
            if ($(this).attr("id") != "div_" + violationId) {
                $(this).removeClass('testing_col_two_r5_li_checked');
                var id = otherViolationId % 2;
                $(this).addClass('testing_col_two_r5_li_' + id);
            }
            else if ($(this).attr("id") == "div_" + violationId) {
                var id = otherViolationId % 2;
                $(this).removeClass('testing_col_two_r5_li_' + id);
                $(this).addClass('testing_col_two_r5_li_checked');
            }
            ++otherViolationId;
        });
    }

    var leftpanel_expand = false;
    function collapse_Testleft() {
        if (expandMiddle == true) {

            $('#url_iframe').width('1187px');
            $('#url_iframe').height(445);
            $('#siteName').width('1135px');
        }

        document.getElementById('testing_col_one').style.display = "none";
        document.getElementById('testing_col_one_1').style.display = "block";
        leftpanel_expand = true;
        return false;
    }

    function expand_Testleft() {
        var wid = $('#url_iframe').width();
        if (leftpanel_expand == true && expandMiddle == true) {
            $('#url_iframe').width('945px');
            $('#url_iframe').height(445);
            $('#siteName').width('892px');
        }
        document.getElementById('testing_col_one').style.display = "block";
        document.getElementById('testing_col_one_1').style.display = "none";
        leftpanel_expand = false;
        return false;
    }

    function BugReport_collapse() {      // only testing_col_three_padd is collapsed
        document.getElementById('testing_col_three_padd').style.display = "none";
        document.getElementById('testing_col_three_padd_1').style.display = "block";
        return false;
    }

    function BugReport_Expand() {   // only testing_col_three_padd is expand
        document.getElementById('testing_col_three_padd').style.display = "block";
        document.getElementById('testing_col_three_padd_1').style.display = "none";
    }

    function Build_collapse() {   // only testing_col_four_main is collapsed
        document.getElementById('testing_col_four_main').style.display = "none";
        document.getElementById('testing_col_four_main_1').style.display = "block";
    }

    function Build_Expand() {  // only testing_col_four_main is expand
        document.getElementById('testing_col_four_main').style.display = "block";
        document.getElementById('testing_col_four_main_1').style.display = "none";
    }

</script>
<aside>
    <a href="@Request.UrlReferrer">
        <div class="testing_sliderexbg" id="trigger">
            <div class="testing_trigger">
            </div>
        </div>
    </a>
    <div class="divpanel" style="display: none;">
        <a href="..\Rules\Index">
            <div class="rulelinkwraper">
                <div class="rulelinktextwraper">
                    Rules <span class="rulesicon"></span>
                </div>
            </div>
        </a><a href="..\NewClient\Index">
            <div class="newclientlinkwraper">
                <div class="newclientlinktextwraper">
                    Client <span class="newclienticon"></span>
                </div>
            </div>
        </a><a href="..\Execution\Index">
            <div class="executionlinkwraper">
                <div class="executionlinktextwraper">
                    Execution <span class="executionicon"></span>
                </div>
            </div>
        </a><a href="..\Testing\Index">
            <div class="testinglinkwraper">
                <div class="testinglinktextwraper">
                    Testing <span class="testingicon"></span>
                </div>
            </div>
        </a><a id="ReportingPageLink" href="..\Reporting\Index">
            <div class="reportinglinkwraper">
                <div class="reportinglinktextwraper">
                    Reporting <span class="reporticon"></span>
                </div>
            </div>
        </a>
    </div>
</aside>
<section>
    <div id="HarnessSec" class="Testing_Parent">
    <input type="hidden" id="DivLoad" loaded="false" />
        <div id="Loading" class="modalDialog" title="Loading Please wait..." style="vertical-align: middle;
            display: none;">
            <center>
            <img src="~/Images/Loading.gif"/>
            </center>
        </div>
        <!--Text & Date start here -->
        <div class="testing_col_one" id="testing_col_one">
            <div class="testing_col_one_r1">
                @Html.TextBoxFor(client => Model.clientName, new { @class = "testing_textBox1", tabindex = "1" })
                @*<input type="text" class="testing_textBox1" value="" id="clientName" style=""/>*@
                <div class="testing_col_one_icon2">
                </div>
                <div class="testing_col_one_icon3">
                </div>
            </div>
            @Html.ValidationSummary()
            <div class="testing_col_one_all_rows" id="testing_col_one_all_rows">
                @{Html.RenderPartial("_LeftPanel", Model);}
            </div>
        </div>
        <div class="testing_col_one_1" id="testing_col_one_1" onclick="expand_Testleft();">
            <span class="testing_col_collapse_arrow">
                <img alt="" src="../../Images/arrow_right.png" /></span> <span>
                    <img alt="" src="../../Images/multiplechoices.png" /></span>
        </div>
        <!--Column 2+3 merged start  here -->
        <div class="testing_col_two_in_one_marginL" id="divtesting_col_two_in_one_marginL">
            <div class="testing_col_two">
                <div class="testing_SiteNameClass" id="divTesting_SiteNameClass">
                    <div class="testing_col_two_r1">
                        @Html.TextBoxFor(site => Model.siteName, new { @class = "testing_textBox2", tabindex = "2" })
                    </div>
                    <div class="testing_col_two_icon_refresh" onclick="javascript:getBuildsAndRuns();">
                    </div>
                </div>
                <div class="testing_col_two_r2" id="divtesting_col_two_r2">
                    @*<div class="LoadingGraphicForViolations">
                    <img src="../../Images/loading.gif" />loading...
                </div>*@
                    <div id="testing_col_two_r2">
                        @{Html.RenderPartial("_MiddlePanel", Model);}
                    </div>
                </div>
            </div>
            <div class="testing_col_three">
                <div class="testing_col_three_padd" id="testing_col_three_padd">
                    @{Html.RenderPartial("_RightPanel", Model);}
                </div>
                <div class="testing_col_three_padd_1" id="testing_col_three_padd_1" onclick="BugReport_Expand();">
                    <span class="testing_col_collapse_arrow">
                        <img src="~/Images/arrow_right.png" alt="" /></span> <span>
                            <img src="~/Images/bugreporttext.png" alt="" /></span>
                </div>
                <div class="testing_col_four_main" id="testing_col_four_main">
                    <div id="divClientName">
                        <div class="testing_col_four_hd">
                            <span class="testing_col_four_hd_txt">Builds</span> <a class="testing_col_four_arrow"
                                onclick="Build_collapse();"></a>
                        </div>
                        <div class="testing_textBox_image_box" id="reportview_textBox_image_box">
                            @{Html.RenderPartial("_RightFilter", Model);}
                        </div>
                    </div>
                </div>
                <div class="testing_col_four_main_1" id="testing_col_four_main_1" onclick="Build_Expand();">
                    <span class="testing_col_collapse_arrow">
                        <img src="~/Images/arrow_right.png" alt="" /></span> <span>
                            <img src="~/Images/build.png" alt="" /></span>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.multipleChoice, new { id = "MultipleChoice" })
        @Html.HiddenFor(x => x.selectedRules, new { id = "SelectedRules" })
        @Html.HiddenFor(x => x.ViolationTypeSelected, new { id = "ViolationTypeSelected" })
        @Html.HiddenFor(x => x.runId, new { id = "RunId" })
        @Html.HiddenFor(x => x.buildId, new { id = "BuildId" }) 

        <input type="hidden" id="hdtcName" style="display:none;"/>
    </div>
</section>
